<!-- BCorp -->
<section id="bcorp">
{{ $path := print "data/bcorp/bcorp_" . ".json"}}
{{ if os.FileExists $path }}
{{ $d := getJSON $path }}
<h2 class="sectionTitle">B Corp</h2>
<div class="twoCharts">
<table class="hideInSmall">
{{ if isset $d "latestVerifiedScore" }}
<tr><td><score class="ratingOutOf" style='--outOf:"/140+";'>{{ $d.latestVerifiedScore }}</score></td></tr>
{{ end }}
<tr><td><img class="iconclass" src="/icon/Bcorp.svg"/></td></tr>
</table>
<table class="hideInSmall leftBorder">
{{ if isset $d "assessments" }}
{{ $a := index $d.assessments 0 }}
{{ range $a.impactAreas }}
<tr><th data-i18n="bcorp.{{ .name | urlize }}"></th><td class="ratingOutOf">{{ .score }}</td></tr>
{{ end }}
{{ end }}
</table>
</div>
<table>
<tr><th><a target="_blank" class="source" style="display:none;"></a></th><td><a class="source" target="_blank" href="https://www.bcorporation.net/en-us/find-a-b-corp/company/{{ . }}">BCORP</a></td></tr>
</table>

{{ end }}
</section>
