    <section class="donations">
        <div>
        <div class="donationsText">
            <h3>Donations</h3>
            <p>To donate to the development and furthering of our work, sign up or make a one-time donation to our Kofi</p>
        </div>
        <a href="#" class="button tbuttonb">Make A Donation</a>
        </div>
    </section>
    <section class="footer">
        <div class="footerContainer">
        <section class="footer-items"> 
            <div class="footer-link"><div><a href="/mission">Our Mission</a></div></div>
            <div class="footer-link"><div><a href="/modules">Modules</a></div></div>
            <div class="footer-link"><div><a href="/companies">Companies</a></div></div>
            <div class="footer-link"><div><a href="/faqs">FAQs</a></div></div>
            <div class="footer-link"><div><a href="/install">How to Install</a></div></div>
            <div class="footer-link"><div><a href="/terms">Terms & Conditions</a></div></div>
            <div class="footer-link"><div><a href="/reply">Right To Reply</a></div></div>
            <div class="footer-link"><div><a href="/privacy">Privacy Policy</a></div></div>
        </section>
        <section class="footer-news">
            <h4>Sign Up To Our Newsletter</h4>
            <p>Stay up to date with new features, data reports and software updates by sybmitting your email address below.</p>
            <form>
                <input type="text" placeholder="Enter your email">
                <input type="submit" value="Subscribe">
            </form>
        </section>
        </div>
        <section class="copystatement"><div>Invisible Voice does not store your browsing data with the use of cookies.</div><div>Invisible Voice 2023</div></section>
    </section>
  </body>
    <script src="/js/scrolling.js"></script>
</html>
