    <section class="footer">
        <section class="footer-items"> 
            <div class="footer-link"><div><a href="/mission">Our Mission</a></div></div>
            <div class="footer-link"><div><a href="/modules">Modules</a></div></div>
            <div class="footer-link"><div><a href="/companies">Companies</a></div></div>
            <div class="footer-link"><div><a href="/faqs">FAQs</a></div></div>
            <div class="footer-link"><div><a href="/download">How to Install</a></div></div>
            <div class="footer-link"><div><a href="/terms">Terms & Conditions</a></div></div>
            <div class="footer-link"><div><a href="/reply">Right To Reply</a></div></div>
            <div class="footer-link"><div><a href="/privacy">Privacy Policy</a></div></div>
        </section>
        <section class="footer-news">
            <h3>Sign Up To Our Newsletter</h3>
            <p>Stay up to date with new features, data reports and software updates by sybmitting your email address below.</p>
            <form>
                <input type="text" value="email address">
                <input type="submit" value="Submit">
            </form>
        </section>
        <section class="copystatement"><div>Invisible Voice 2023</div></section>
    </section>
  </body>
</html>
