<div class="glossary">
	<div class="glossary-title g-bg">Glossary (expand)</div>
	<div class="glossary-content d-none">
        <div class="gloss-key">We have used our best efforts to bring you accurate information about companies, services, and ideas generally relying on the sources shown. We cannot however vouch for the accuracy of the sources used and you agree to make your own inquiries and use your own judgement about whether a company, service, brand or idea meets your needs. By using Invisible Voice, you agree that we are not liable for any loss or damage that arises from your use of this plugin.</div>
		<div class="gloss-key">All information on the Invisible Voice website and plugin have been taken directly from <a class="bold" href="https://www.wikipedia.org/">Wikipedia</a>, <a class="bold" href="https://www.wikidata.org/wiki/Wikidata:Main_Page">WikiData</a>, <a class="bold" href="https://www.glassdoor.co.uk/index.htm">Glass Door</a>, <a class="bold" href="https://mediabiasfactcheck.com">Media Bias Fact Check</a>, and <a class="bold" href="https://news.google.com/">Google News</a>. 
		</div>
		<div>
			<p>
				<span class="gloss-key">Stakeholders</span>
				<span class="gloss-source">
					Source: WikiData
				</span>
			</p>
			<p class="gloss-copy">The company that own the website you are on.</p>
		</div>
		<div>
			<p>
				<span class="gloss-key">Affiliated Companies to Stakeholder(s)</span>
				<span class="gloss-source">
					Source: WikiData
				</span>
			</p>
			<p class="gloss-copy">Other companies that are owned by the owners of this company.</p>
			<p class="gloss-copy">This list includes owners from the Parent Company, Individual Owners, and Investment Banks that have investments in this company (investment bank companies are tagged).</p>
		</div>
		<div>
			<p>
				<span class="gloss-key">Other Relevant People</span>
				<span class="gloss-source">
					Source: WikiData
				</span>
			</p>
			<p class="gloss-copy">Important people in relation to the company.</p>
		</div>
		<div>
			<p>
				<span class="gloss-key">Political Leaning</span>
				<span class="gloss-source">
					Source: WikiData
				</span>
			</p>
			<p class="gloss-copy">The political leaning of the company.</p>
		</div>
		<div>
			<p>
				<span class="gloss-key">Revenue</span>
				<span class="gloss-source">
					Source: Glass Door
				</span>
			</p>
			<p class="gloss-copy">The economic revenue of the company.</p>
		</div>
		<div>
			<p>
				<span class="gloss-key">Number of Employees</span>
				<span class="gloss-source">
					Source: Glass Door
				</span>
			</p>
			<p class="gloss-copy">The number of employees at the company.</p>
		</div>
		<div>
			<p>
				<span class="gloss-key">Average Employment Satisfaction</span>
				<span class="gloss-source">
					Source: Glass Door
				</span>
			</p>
			<p class="gloss-copy">The job satisfaction of the employees of the company, rated 1-5 (5 being the highest approval).</p>
			<p class="gloss-copy">Also shown is the number of employees who rated the company.</p>
		</div>
		<div>
			<p>
				<span class="gloss-key">Type of Company</span>
				<span class="gloss-source">
					Source: Glass Door
				</span>
			</p>
			<p class="gloss-copy">The legal status of the company.</p>
		</div>
		<div>
			<p>
				<span class="gloss-key">Controversies</span>
				<span class="gloss-source">
					Source: Wikipedia
				</span>
			</p>
			<p class="gloss-copy">General controversies that the company and the associated Important People have been involved in.</p>
		</div>
		<div>
			<p>
				<span class="gloss-key">In the News</span>
				<span class="gloss-source">
					Source: Google News
				</span>
			</p>
			<p class="gloss-copy">News stories about the company, with priority to articles that include the following key words: ‘controversial’, ‘slave labour’, ‘allegations’, ‘taxes’, ‘environmental’, and ‘philanthropy’.</p>
		</div>
	</div>
</div>
