<!-- GoodOnYou -->
<section id="goodonyou" class="contentSection">
{{ $data := getJSON "data/goodonyou/brand_" . ".json" }}
{{ $v := $data.pageProps.brand }}
<h2 data-i18n="goy.section-title" class='sectionTitle'>Ethical Sourcing</h2>
<div class="pie hideTilExpanded"></div>
<score class="ratingOutOfFive">{{ $v.ethicalRating }}</score>
<div class="pie hideTilExpanded animate" style="--c:var(--chart-fore);--p:{{ mul (div (float $v.ethicalRating) (float 5 )) 100 }};"></div>
<div class="scoreText fullBleed">
    <div>
<table class="dataTable">
<tr><th data-i18n="goy.lr">Labour Rating</th><td class="hideInSmall ratingOutOf" style="--outOf:'/5';">{{ math.Floor (div (float $v.labourRating) 4) }}</td></tr>
<tr><th data-i18n="goy.ar">Animal Rating</th><td class="hideInSmall ratingOutOf" style="--outOf:'/5';">{{ math.Floor (div (float $v.animalRating) 4) }}</td></tr>
<tr><th data-i18n="goy.evr">Environment Rating</th><td class="hideInSmall ratingOutOf" style="--outOf:'/5';">{{ math.Floor (div (float $v.environmentRating) 4) }}</td></tr>
<tr><th data-i18n="goy.p">Price</th><td class="hideInSmall ratingOutOf" style="--outOf:'/4';">{{ default "unrated" ($v.price) }}</td></tr>
</table>
<a class="source" target="_blank" href="https://directory.goodonyou.eco/brand/{{.}}">GOODONYOU.ECO</a>
</div>
</div>
</section>
