<!-- GoodOnYou -->
<section id="goodonyou">
{{ $data := getJSON "data/goodonyou/brand_" . ".json" }}
{{ $v := $data.pageProps.brand }}
<button type="button" class="collapsible active"><h2>goodonyou</h2><a class="source" data-i18n="source" href="https://directory.goodonyou.eco/brand/{{.}}">(source)</a></button>
<section class="section-content" style="display: block;">
<p>
    <b data-i18n="goy.er">Ethical Rating</b>: {{ $v.ethicalRating }}/5 {{ $v.ethicalLabel }}</br>
    <b data-i18n="goy.lr">Labour Rating</b>: {{ math.Floor (div (float $v.labourRating) 4) }}/5 {{ $v.labourLabel }}</br>
    <b data-i18n="goy.ar">Animal Rating</b>: {{ math.Floor (div (float $v.animalRating) 4) }}/5 {{ $v.animalLabel }}</br>
    <b data-i18n="goy.evr">Environment Rating</b>: {{ math.Floor (div (float $v.environmentRating) 4) }}/5 {{ $v.environmentLabel }}</br>
    <b data-i18n="goy.p">Price</b>: {{ default "unrated" ($v.price) }}/4</br>
    <b data-i18n="goy.e">Email</b>: <a href="mailto:{{ $v.hasEmail }}" class="email-link">{{ $v.hasEmail }}</a> </br>
</p>
</section>
</section>
