<!-- GoodOnYou -->
<section id="goodonyou">
{{ $data := getJSON "data/goodonyou/brand_" . ".json" }}
{{ $v := $data.pageProps.brand }}
<h2 data-i18n="goy.section-title" class='sectionTitle'>Ethical Sourcing</h2>
<div class="twoCharts">
<table>
    <tr><td><score class="ratingOutOfFive">{{ $v.ethicalRating }}</score></td></tr>
    <tr><td><img class="dialBacking"><img class="dial" style="--score:{{ $v.ethicalRating }};--outOf:5;"/></td></tr>
</table>
<table class="hideInSmall" >
    <tr><th data-i18n="goy.lr">Labour Rating</th><td class="hideInSmall ratingOutOf" style="--outOf:'/5';">{{ math.Floor (div (float $v.labourRating) 4) }}</td></tr>
    <tr><th data-i18n="goy.ar">Animal Rating</th><td class="hideInSmall ratingOutOf" style="--outOf:'/5';">{{ math.Floor (div (float $v.animalRating) 4) }}</td></tr>
    <tr><th data-i18n="goy.evr">Environment Rating</th><td class="hideInSmall ratingOutOf" style="--outOf:'/5';">{{ math.Floor (div (float $v.environmentRating) 4) }}</td></tr>
    <tr><th data-i18n="goy.p">Price</th><td class="hideInSmall ratingOutOf" style="--outOf:'/4';">{{ default "unrated" ($v.price) }}</td></tr>
    </table>
</div>
<table>
<tr><td><a class="source" target="_blank" href="https://directory.goodonyou.eco/brand/{{.}}">GOODONYOU.ECO</a></td></tr>
</table>
</section>
