<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Invisible Voice</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <!-- SOCIAL MEDIA SHARE -->
    <meta property="og:title" content="Invisible Voice">
    <meta property="og:description" content="Invisible Voice is a free plugin that empowers you to make informed decisions about the websites you use.">
    <meta property="og:image" content="https://www.invisible-voice.com/IV-socialshare.png">
    <meta property="og:url" content="https://www.invisible-voice.com/">
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="Invisible Voice">
    <meta name="twitter:image:alt" content="Invisible Voice is a free plugin that empowers you to make informed decisions about the websites you use.">
    <section class="navigationbar">
        <a href="/" ><img src="/w/Logo_icon.svg" class="logo"/></a>
        <section class="navigation navbar">
        <div class="navitem"><a href="/mission">Our Mission</a></div>
        <div class="navitem"><a href="/modules">Modules</a></div>
        <div class="navitem"><a href="/companies">Companies</a></div>
        <div class="navitem"><a href="/install">How to Install</a></div>
        <div class="navitem"><a href="/faqs">FAQs</a></div>
        <div class="navdownload"><a href="/install">Download</a></div>
        </section>
        <section class="navigation navburg">
        <input type="checkbox" id="hamburger-input" class="burger-shower" />
        <label id="hamburger-menu" for="hamburger-input">
        <div class="navitem"><a href="/mission">Our Mission</a></div>
        <div class="navitem"><a href="/modules">Modules</a></div>
        <div class="navitem"><a href="/companies">Companies</a></div>
        <div class="navitem"><a href="/install">How to Install</a></div>
        <div class="navitem"><a href="/faqs">FAQs</a></div>
        <div class="navdownload navitem"><a href="/install">Download</a></div>
        </label>
        </section>
    </section>
    </head>

