{{- $dataX := split . ":" -}}
{{- $dataNature := getJSON "data/static/2022_NatureCleaned.json" -}}
{{- $path := (print "data/" (index $dataX 0)) -}}
{{- $source := newScratch -}}
{{- if os.FileExists $path -}}
  {{- if eq $path "data/static/2022-January_Just-Transition-Assessment_Datasheet_JustTransitionData.json" -}} 
  {{- $source.Set "source" "https://www.worldbenchmarkingalliance.org/research/2021-just-transition-assessment/" -}}
  {{- $source.Set "title" "Low Carbon Transition" -}}
  {{- $source.Set "id" "isin lct" -}}
  {{- else if eq $path "data/static/2022_FinancialBenchmark.json" -}}
  {{- $source.Set "source" "https://www.worldbenchmarkingalliance.org/publication/financial-system/" -}}
  {{- $source.Set "title" "Financial System Benchmark" -}}
  {{- $source.Set "id" "isin fin" -}}
  {{- else if eq $path "data/static/2022-TransportBenchmark.json" -}}
  {{- $source.Set "source" "https://www.worldbenchmarkingalliance.org/publication/transport/" -}}
  {{- $source.Set "title" "Transport Benchmark" -}}
  {{- $source.Set "id" "isin tra" -}}
  {{- else if eq $path "data/static/Food-and-Agriculture-Benchmark-detailed-scoring-sheet-2021-2.json" -}}
  {{- $source.Set "source" "https://www.worldbenchmarkingalliance.org/food-and-agriculture-benchmark/" -}}
  {{- $source.Set "title" "Food & Agricultural Sustainability" -}}
  {{- $source.Set "id" "isin fas" -}}
  {{- else if eq $path "data/static/WBA_Social_Transformation_Baseline_Data_JAN_2022_overall_scores.json" -}}
  {{- $source.Set "source" "https://www.worldbenchmarkingalliance.org/research/2022-social-transformation-baseline-assessment/" -}}
  {{- $source.Set "title" "Social & Sustainable Development" -}}
  {{- $source.Set "id" "isin ssd" -}}
  {{- end -}}
{{- if eq $path "data/static/2022-January_Just-Transition-Assessment_Datasheet_SocialData.json" -}}
{{- else -}}
<section id='{{- $source.Get "id" -}}' class="contentSection">
    <h2 class="sectionTitle" data-i18n='{{- $source.Get "id" | replaceRE " " "." -}}' >{{- $source.Get "title" -}}</h2>
    <div class="pie hideTilExpanded"></div>
    {{- $data := getJSON $path -}}
    {{- with index $data (index $dataX 1) -}}
        {{- range $keylist, $value := . -}}
            {{- if in $keylist "(" -}}
                {{- $key := split $keylist "(" -}}
                {{- if in (index $key 0 ) "Total" -}}
                    {{- $outOf := index $key 1 | float -}}
                    {{- $score := . | float  -}}
                    <score class="ratingOutOf" style="--outOf:'/{{- index $key 1 -}}';">{{- . -}}</score>
                    <div class="pie hideTilExpanded animate" style="--c:var(--chart-fore);--p:{{- mul (div (float .) (float (index $key 1))) 100 -}};"></div>
                {{- end -}}
            {{- end -}}
        {{- end -}}
        <div class="scoreText fullBleed">
            <div>
        <table>
        {{- range $keylist, $value := . -}}
            {{- if in $keylist "(" -}}
                {{- $key := split $keylist "(" -}}
                {{- if in (index $key 0 ) "Total" -}}
                {{- else -}}
                    <tr><th data-i18n='isin.{{- trim (index $key 0 | replaceRE " " "_" | lower) "_" -}}'>{{- index $key 0 -}}</th><td style="--outOf:'/ {{- index $key 1 -}}';" class="ratingOutOf" >{{- . -}}</td></tr>
                {{- end -}}
            {{- end -}}
        {{- end -}}
        </table>
    {{- end -}}
    <a target="_blank" class="source" href='{{- $source.Get "source" -}}'>WORLDBENCHMARK</a>
    </div>
    </div>
</section>
{{- end -}}
{{- end -}}
