{{ $dataNature := getJSON "data/static/2022_NatureCleaned.json" }}
{{ $dataDigital := getJSON "data/static/2023_DigitalInclusion.json" }}
{{ with index $dataNature . }}
<section id='isin nat' class="contentSection">
    <h2 class="sectionTitle" data-i18n='isin.nature' >Nature Benchmark</h2>
    <div class="pie hideTilExpanded"></div>
        <score class="ratingOutOf" style="--outOf:'/100';">{{ index . "totalscr" }}</score>
        <div class="pie hideTilExpanded animate" style='--c:var(--chart-fore);--p:{{ index . "totalscr"}};'></div>
        <div class="scoreText fullBleed">
            <div>
        <table>
            <tr><th data-i18n='isin.govandstrat'>Government and Strategy</th><td style="--outOf:'/ 100';" class="ratingOutOf">{{ index . "govandstrat"}}</td></tr>
            <tr><th data-i18n='isin.socialincl'>Social Inclusion</th><td style="--outOf:'/ 100';" class="ratingOutOf">{{ index . "socialincl"}}</td></tr>
            <tr><th data-i18n='isin.ecoandbio'>Ecological and Biological</th><td style="--outOf:'/ 100';" class="ratingOutOf">{{ index . "ecoandbio"}}</td></tr>
        </table>
    <a target="_blank" class="source" href='{{ index . "link" }}'>WORLDBENCHMARK</a>
    </div>
    </div>
</section>
{{ end }}
{{ with index $dataDigital . }}
<section id='isin dig' class="contentSection">
    <h2 class="sectionTitle" data-i18n='isin.digital' >Digital Inclusion</h2>
    <div class="pie hideTilExpanded"></div>{{ $perc := float (index . "DIB Score (0-100)")}}
        <score class="ratingOutOf" style="--outOf:'/100';">{{ index . "DIB Score (0-100)" }}</score>
        <div class="pie hideTilExpanded animate" style="--c:var(--chart-fore);--p:{{ $perc }};"></div>
        <div class="scoreText fullBleed">
            <div>
        <table>
            <tr><th data-i18n='isin.access'>Access</th><td style="--outOf:'/ 2';" class="ratingOutOf">{{ index . "Access" }}</td></tr>
            <tr><th data-i18n='isin.skills'>Skills</th><td style="--outOf:'/ 2';" class="ratingOutOf">{{ index . "Skills" }}</td></tr>
            <tr><th data-i18n='isin.use'>Use</th><td style="--outOf:'/ 2';" class="ratingOutOf">{{ index . "Use" }}</td></tr>
            <tr><th data-i18n='isin.innovation'>Innovation</th><td style="--outOf:'/ 2';" class="ratingOutOf">{{ index . "Innovation" }}</td></tr>
            <tr><th data-i18n='isin.coresocial'>Core social indicators</th><td style="--outOf:'/ 2';" class="ratingOutOf">{{ index . "CSI" }}</td></tr>
        </table>
    <a target="_blank" class="source" href='https://www.worldbenchmarkingalliance.org/publication/digital-inclusion/'>WORLDBENCHMARK</a>
    </div>
    </div>
</section>
{{ end }}
