<!-- MediaBiasFactCheck -->
{{ $data := getJSON "data/mbfc/combined.json" }}
{{ $dataJ := index $data.sources . }}
{{ $dataB := $data.biases }}
{{ if isset $data.sources . }}
<section id="mbfc-header" >
    Media Bias Fact Check <a class="source" href="{{ $dataJ.u }}" >(source)</a>
    {{ if eq $dataJ.b "C" }}
        Bias: <a href="{{ (index $dataB "center").url }}">{{ (index $dataB "center").name }}</a>
    {{ else if (eq $dataJ.b "L") }}
        Bias: <a href="{{ (index $dataB "left").url }}">{{ (index $dataB "left").name }}</a>
    {{ else if (eq $dataJ.b "LC") }}
        Bias: <a href="{{ (index $dataB "left-center").url }}">{{ (index $dataB "left-center").name }}</a>
    {{ else if (eq $dataJ.b "R") }}
        Bias: <a href="{{ (index $dataB "right").url }}">{{ (index $dataB "right").name }}</a>
    {{ else if (eq $dataJ.b "RC") }}
        Bias: <a href="{{ (index $dataB "right-center").url }}">{{ (index $dataB "right-center").name }}</a>
    {{ else if (eq $dataJ.b "PS") }}
        Bias: <a href="{{ (index $dataB "pro-science").url }}">{{ (index $dataB "pro-science").name }}</a>
    {{ else if (eq $dataJ.b "FN") }}
        Bias: <a href="{{ (index $dataB "fake-news").url }}">{{ (index $dataB "fake-news").name }}</a>
    {{ else if (eq $dataJ.b "CP") }}
        Bias: <a href="{{ (index $dataB "conspiracy").url }}">{{ (index $dataB "conspiracy").name }}</a>
    {{ else if (eq $dataJ.b "S") }}
        Bias: <a href="{{ (index $dataB "satire").url }}">{{ (index $dataB "satire").name }}</a>
    {{ end }}
</section>
{{ end }}
