{{ $path := print "data/opensecrets/" . ".json"}}
<!-- Open Secrets -->
{{ if os.FileExists $path }}
<section id="opensec" class="contentSection">
<h2 class="sectionTitle">OpenSecrets</h2>
<div class="pie hideTilExpanded"></div>
<div class="scoreText fullBleed">
<div>
{{ $d := getJSON $path }}
{{ if isset $d "cycle_year" }}
<p>Data is true of the {{ index $d "cycle_year" }} cycle</p>
{{ if isset $d "contributions_rank" }}<p><b>Contributions Rank:</b> {{ index $d "contributions_rank"}}</p>{{ end }}
{{ if isset $d "contributions_amount" }}<p><b>Contributions Amount:</b> {{ index $d "contributions_amount"}}</p>{{ end }}
{{ if isset $d "lobbying_rank" }}<p><b>Lobbying Rank:</b> {{ index $d "lobbying_rank"}}</p>{{ end }}
{{ end }}
{{ if isset $d "bill_most_heading" }}
<p><b>{{ index $d "bill_most_heading" }}</b></p>
<p><a href='{{ index $d "bill_most_url" }}'>{{ index $d "bill_most_title" }} ({{ index $d "bill_most_code" }})</a></p>
{{ end }}
<a class="source hideInSmall" target="_blank" href="https://www.opensecrets.org/orgs/name/summary?id={{ . }}">OPENSECRETS</a>
</div>
</div>
</section>
{{ end }}
