{{- $path := print "data/opensecrets/" . ".json" -}}
<!-- Open Secrets -->
{{- if os.FileExists $path -}}
{{- $d := getJSON $path -}}
<section id="opensec" class="contentSection">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
<h2 class="sectionTitle"><div data-i18n="opensec.title">OpenSecrets</div><div class="subname">({{- $d.name -}})</div></h2>
{{- if isset $d "bill_most_heading" -}}
<p class="flavourText"><b>{{- index $d "bill_most_heading" -}}</b></p>
<p class="flavourText"><a href='{{- index $d "bill_most_url" -}}'>{{- index $d "bill_most_title" -}} ({{- index $d "bill_most_code" -}})</a></p>
{{- end -}}
<div class="scoreText fullBleed"><div>
{{- if isset $d "cycle_year" -}}
<p>Data is true of the {{- index $d "cycle_year" -}} cycle</p>
{{- if isset $d "contributions_rank" -}}<p><b>Contributions Rank:</b> {{- index $d "contributions_rank" -}}</p>{{- end -}}
{{- if isset $d "contributions_amount" -}}<p><b>Contributions Amount:</b> {{- index $d "contributions_amount" -}}</p>{{- end -}}
{{- if isset $d "lobbying_rank" -}}<p><b>Lobbying Rank:</b> {{- index $d "lobbying_rank" -}}</p>{{- end -}}
<div class="charts">
{{- with index $d "bars"  -}}
    {{- if isset . "recipients_of_funds" -}}
    <h3 data-i18n="opensec.recipients">Recipients of Funds</h3>
    <table class="charts-css multiple stacked bar show-heading">
    <tbody>
    <tr>
    {{- range index . "recipients_of_funds" -}}
    <td style="--size: calc({{- replace  .percent "%" " " -}}/100);">
    <span class="data">{{- .entity -}}</span>
    <span class="tooltip">{{- .entity -}}<br>
        ({{- .amount -}})</span>
    </td>
    {{- end -}}
    </tr>
    </tbody>
    </table>
    {{- end -}}
    {{- if isset . "sources_of_funds" -}}
    <h3 data-i18n="opensec.sources">Sources of Funds</h3>
    <table class="charts-css multiple stacked bar" >
    <tbody>
    <tr>
    {{- range index . "sources_of_funds" -}}
    <td style="--size: calc({{- replace  .percent "%" " " -}}/100);">
    <span class="data">{{- .entity -}}</span>
    <span class="tooltip">{{- .entity -}} <br>
        ({{- .amount -}})</span>
    </td>
    {{- end -}}
    </tr>
    </tbody>
    </table>
    {{- end -}}
    {{- if isset . "sources_of_funds_to_candidates" -}}
    <h3 data-i18n="opensec.sourcestocandidates">Sources of Funds to Candidates</h3>
    <table class="charts-css multiple stacked bar">
    <tbody>
    <tr>
    {{- range index . "sources_of_funds_to_candidates" -}}
    <td style="--size: calc({{- replace  .percent "%" " " -}}/100);">
    <span class="data">{{- .entity -}}</span>
    <span class="tooltip">{{- .entity -}} <br>
        ({{- .amount -}})</span>
    </td>
    {{- end -}}
    </tr>
    </tbody>
    </table>
    {{- end -}}
{{- end -}}
{{- with index $d "charts"  -}}

{{- with index . "House"  -}}
{{- $year_range := sub (int .latest_year) (int .earliest_year) -}}
{{- $earlyYear := (int .earliest_year) -}}
{{- $valuelen := len .Dems.all_years -}}
{{- $houseDems := .Dems.all_years -}}
{{- $houseRepubs := .Repubs.all_years -}}
{{- $heightThou := math.Ceil (div (index (sort (append $houseDems $houseRepubs) "value" "desc" ) 0) 1000) -}}
{{- if (gt $heightThou 0 ) -}}
<h3 data-i18n="opensec.house">House</h3>
<h4 style="color:red !important;" data-i18n="opensec.republicans">Republicans</h4>
<h4 style="color:blue !important;" data-i18n="opensec.democrats">Democrats</h4>
<table class="charts-css line multiple hide-data show-labels show-primary-axis show-data-on-hover" style="--color-1: blue;--color-2:red;">
<thead>
    <tr>
    <th data-i18n="opensec.year"        scope="col">Year</th>
    <th data-i18n="opensec.democrats"   scope="col">Democrats</th>
    <th data-i18n="opensec.republicans" scope="col">Republicans</th>
    </tr>
</thead>
<tbody>
{{- $old := newScratch -}}
{{- $old.Set "r" "o" -}}
{{- $old.Set "d" "o" -}}
{{- range $key, $value := index . "all_data" -}}
{{- $cvD := index $value "Dems" -}}
{{- $cvR := index $value "Repubs" -}}
{{- if in ($old.Get "d") "o" -}}
{{- $old.Set "d" $cvD -}}
{{- end -}}
{{- if in ($old.Get "r") "o" -}}
{{- $old.Set "r" $cvR -}}
{{- end -}}
{{- $cvRt := (div $cvR (mul $heightThou 1000)) -}}
{{- $cvDt := (div $cvD (mul $heightThou 1000)) -}}
{{- $pvRt := (div ($old.Get "r" ) (mul $heightThou 1000)) -}}
{{- $pvDt := (div ($old.Get "d" ) (mul $heightThou 1000)) -}}
<tr>
    <th scope="row">{{- $key -}}</th>
    <td style="--start:{{- $pvDt -}}; --size:{{- $cvDt -}};"><span class="data">{{- index $value "Dems" -}}</span></td>
    <td style="--start:{{- $pvRt -}}; --size:{{- $cvRt -}};"><span class="data">{{- index $value "Repubs" -}}</span></td>
</tr>
{{- $old.Set "r" $cvR -}}
{{- $old.Set "d" $cvD -}}
{{- end -}}
</tbody>
</table>
{{- end -}}
{{- end -}}
{{- with index . "Senate"  -}}
{{- $year_range := sub (int .latest_year) (int .earliest_year) -}}
{{- $earlyYear := (int .earliest_year) -}}
{{- $valuelen := len .Dems.all_years -}}
{{- $senateDems := .Dems.all_years -}}
{{- $senateRepubs := .Repubs.all_years -}}
{{- $heightThou := math.Ceil (div (index (sort (append $senateDems $senateRepubs) "value" "desc" ) 0) 1000) -}}
{{- if (gt $heightThou 0 ) -}}
<h3>Senate</h3>
<h4 data-i18n="opensec.republicans"   style="color:red !important;">Republicans</h4>
<h4 data-i18n="opensec.democrats" style="color:blue !important;">Democrats</h4>
<table class="charts-css line multiple hide-data show-labels show-primary-axis show-data-on-hover" style="--color-1: blue;--color-2:red;">
<thead>
    <tr>
    <th data-i18n="opensec.year"        scope="col">Year</th>
    <th data-i18n="opensec.democrats"   scope="col">Democrats</th>
    <th data-i18n="opensec.republicans" scope="col">Republicans</th>
    </tr>
</thead>
<tbody>
{{- $old := newScratch -}}
{{- $old.Set "r" "o" -}}
{{- $old.Set "d" "o" -}}
{{- range $key, $value := index . "all_data" -}}
{{- $cvD := index $value "Dems" -}}
{{- $cvR := index $value "Repubs" -}}
{{- if in ($old.Get "d") "o" -}}
{{- $old.Set "d" $cvD -}}
{{- end -}}
{{- if in ($old.Get "r") "o" -}}
{{- $old.Set "r" $cvR -}}
{{- end -}}
{{- $cvRt := (div $cvR (mul $heightThou 1000)) -}}
{{- $cvDt := (div $cvD (mul $heightThou 1000)) -}}
{{- $pvRt := (div ($old.Get "r" ) (mul $heightThou 1000)) -}}
{{- $pvDt := (div ($old.Get "d" ) (mul $heightThou 1000)) -}}
<tr>
    <th scope="row">{{- $key -}}</th>
    <td style="--start:{{- $pvDt -}}; --size:{{- $cvDt -}};"><span class="data">{{- index $value "Dems" -}}</span></td>
    <td style="--start:{{- $pvRt -}}; --size:{{- $cvRt -}};"><span class="data">{{- index $value "Repubs" -}}</span></td>
</tr>
{{- $old.Set "r" $cvR -}}
{{- $old.Set "d" $cvD -}}
{{- end -}}
</tbody>
</table>
{{- end -}}
{{- end -}}
{{- end -}}
{{- with index $d "lobbycards" -}}
<h3>Lobbying</h3>
<div class="openSecLobbyCardContainer">
{{- range . -}}
<div class="openSecLobbyCard">
    <h4>{{- index . "year" -}}</h4>
    <h5>{{- index . "dollars" -}}</h5>
    <p><b>Lobbyists who worked in government</b> {{- with index . "held" -}}{{- index . "count" -}} ({{- index . "percent" -}}){{- end -}}</p>
    <p><b>Lobbyists who havent worked in govenment</b> {{- with index . "notheld" -}}{{- index . "count" -}} ({{- index . "percent" -}}){{- end -}}</p>
</div>
{{- end -}}
</div>
{{- end -}}
{{- end -}}
</div>
<a class="source hideInSmall" target="_blank" href="https://www.opensecrets.org/orgs/name/summary?id={{- . -}}">OPENSECRETS</a>
</div>
</div>
</section>
{{- end -}}
