<!-- Similar Sites -->
{{ $path := print "data/similar/sites/similar_site_" . ".json" }}
{{ if os.FileExists $path }}
<div class="content">
<h2>Similar Sites</h2><a class="source" href="https://similarsites.com/sites/{{ . }}" >(source)</a>
<section id="similar-sites">
{{ $data := (getJSON $path).SimilarSites }}
<p>
    {{ range $data }}
    <section class="similar-site" style="order:{{ sub 100 (math.Floor (mul 100 (float (substr (index . "Grade") 0 4)))) }};">
        <a href="http://{{ index . "Site" }}">
            <h3>{{ index . "Site" }}</h3></br>
            <!--<img width="100px" src="{{ index . "Thumbnail"}}"/></br>-->
            <h3><b data-i18n="similarity"></b> {{ substr (index . "Grade") 2 2 }}%</h3></a></br>
        </section>
    {{ end }}
</p>
</section>
</div>
<hr/>
{{ end }}
