<!-- Similar Sites -->
{{ $path := print "data/similar/sites/similar_site_" . ".json" }}
{{ if os.FileExists $path }}
<section id="similar-site-wrapper">
<button class="collapsible active" type="button"><h2 class="sectionTitle" >Similar Websites</h2></button>
<div id="similar-sites">
{{ $sorted := slice }}
{{ $data := (getJSON $path).SimilarSites }}
{{ range $data }}
{{ $site := . }}
{{ $parsedSite := dict }}
{{ range $k, $v := $site }}
{{ if eq $k "Grade" }}
{{ $parsedSite = merge $parsedSite (dict $k (float $v)) }}
{{ else }}
{{ $parsedSite = merge $parsedSite (dict $k $v) }}
{{ end }}
{{ end }}
{{ $sorted = $sorted | append $parsedSite }}
{{ end }}

{{ range sort $sorted "Grade" "desc" | first 10 }}
<section class="similar-site">
    <a alt="{{ index . "Site" }}" href="http://{{ index . "Site" }}">
        {{ index . "Site" }} ({{ index . "Grade" | mul 100 | math.Floor  }}%)</a> 
</section>
{{ end }}
<table>
    <tr><td><a class="source" href="https://similarsites.com/site/{{ . }}" style="order:101;">SIMILARSITES.COM</a></td></tr>
</table>
</div>
</section>
{{ end }}
