<section id="carbon">
    <div class="iconarray">
    <!-- <div><a href="{{ . }}"><img src="" alt="" /></a></div> -->
        <div><a href="https://www.websitecarbon.com/website/{{ . }}"><img src="/icon/carbon.svg" alt="Website Carbon Calculator" /></a></div>
        <div><a href="https://trustscam.com/{{ . }}"><img src="/icon/scam.svg" alt="Trust Scam" /></a></div>
        <div><a href="https://themarkup.org/blacklight?url={{ . }}"><img src="/icon/lightning.svg" alt="Blacklight" /></a></div>
    </div>
</section>
