<!-- Tosdr <tr><td><a href="https://tosdr.org/en/service/{{.}}"> <img src="https://shields.tosdr.org/en_{{.}}.svg"/></a></td></tr> -->
{{ $id := . }}
{{ with $data := getJSON "data/rated.json" }}
{{ if isSet $data $id }}
{{ if not (eq (index $data $id).rated false) }}
{{ $grade := (index $data $id ).rated }}
<section id="tosdr-link">
<h2 class='sectionTitle' data-i18n="tos.title">Privacy</h2>
<div class="pie hideTilExpanded"></div>
<score>{{ (index $data $id ).rated }}</score></td></tr>
<div class="scoreText">
<h3><div data-i18n="tos.wordGrade" style="display:inline;">Grade</div> {{ $grade }}</h3>
{{ if eq $grade "E" }}
<p data-i18n="tos.e">The terms of service raise very serious concerns.</p>
{{ else if eq $grade "D"}}
<p data-i18n="tos.d">The terms of service are very uneven or there are are some important issues that need your attention.</p>
{{ else if eq $grade "C"}}
<p data-i18n="tos.c">The terms of service are okay but some issues need your consideration.</p>
{{ else if eq $grade "B"}}
<p data-i18n="tos.b">The terms of service are fair towards the user but they could be improved.</p>
{{ else if eq $grade "A"}}
<p data-i18n="tos.a">The best terms of services: they treat you fairly, respect your rights and will not abuse your data.</p>
{{ end }}
</td></tr>
</div>
<table>
<tr><td><a target="_blank" class="source" href="https://tosdr.org/en/service/{{ $id }}">TOS;DR</a></td></tr>
</table>
</section>
{{ end }}
{{ end }}
{{ end }}

