{{ with getJSON (print "data/trust-pilot/sites/trust_site_" . ".json") }}
    {{ if eq (int .numberOfReviews.total) 0 }}
    {{ else }}
        <section id="trust-pilot" class="contentSection">
        <h2 class='sectionTitle'>Trust Pilot</h2>
        <score class="ratingOutOf" style="--outOf:'/5';">{{ .score.trustScore }}</score>
        <div class="scoreText fullBleed">
            <div>
        <div class="ratingCount">{{ int .numberOfReviews.total }} <span data-i18n="glassdoor.reviews"></span></div>
        {{ $numberOfStars := math.Floor .score.trustScore }}
        {{ $remainingStar := sub .score.trustScore $numberOfStars }}
        {{ $starValues := slice "0" "0" "0" "0" "0" }}
        <div class="stars">
        {{ range (seq 5) }}
            {{ if ge $numberOfStars . }}
            <span class="coolStar" style="--division:1;"></span>
            {{ else if eq (string (sub . $numberOfStars)) "1" }}
            <span class="coolStar" style="--division:{{ $remainingStar }};"></span>
            {{ else }}
            <span class="coolStar" style="--division:0;"></span>
            {{ end }}
        {{ end }}
        </div>
        <table id="trustChart" class="hideTilExpanded">
            <tr><th>Total Reviews</th><td>{{ int .numberOfReviews.total }}</td></tr>
            <tr><th>One Star</th><td>{{ int .numberOfReviews.oneStar }}</td></tr>
            <tr><th>Two Star</th><td>{{ int .numberOfReviews.twoStars }}</td></tr>
            <tr><th>Three Star</th><td>{{ int .numberOfReviews.threeStars }}</td></tr>
            <tr><th>Four Star</th><td>{{ int .numberOfReviews.fourStars }}</td></tr>
            <tr><th>Five Star</th><td>{{ int .numberOfReviews.fiveStars }}</td></tr>
        </table>
        {{ with .name.identifying }}
        <a target="_blank" class="source" href="https://trustpilot.com/review/{{.}}" >TRUST PILOT</a>
        {{ else }}
        <a class="source" target="_blank" href="https://trustpilot.com/review/{{.name}}" >TRUST PILOT</a>
        {{ end }}
        </div>
        </div>
        </section>
    {{ end }}
{{ end }}
