{{ $props := getJSON "data/wikidata/props.json" }}
{{ $propsf := getJSON "data/wikidata/propsformatter.json" }}
{{ $firstkey := split (index . 0 ) ";" }}
{{ range . }}
{{ $key := split . ";" }}
<table>
<tr><th>{{ index (split (index $props (index $firstkey 1) ) " " ) 0 | title }}</th><td><a class="spacelinks" href="{{ index $propsf (index $firstkey 1) | replaceRE "\\$1" (index $key 0) }}">{{ index $key 0 }}</a><a class="minisource" target="_blank" href="https://wikidata.org/wiki/{{ index $firstkey 2 }}#{{ index $firstkey 1 }}"></a></td></tr>
</table>
{{ end }}
