{{ $path := print "data/yahoo/" . ".json"}}
{{ if os.FileExists $path }}
<section id="yahoo">
{{ $d := (getJSON $path).quoteSummary.result }}
<button type="button" class="collapsible active"><h2 class='sectionTitle'>ESG</h2></button>
<table>
{{ with (index $d 0).esgScores }}
{{ if isset .totalEsg "fmt" }}<tr><th>Total ESG</th> <td><score>{{ default "Not Found" .totalEsg.fmt }}</score></td></tr>{{ end }}
{{ if isset .environmentScore "fmt" }}<tr><th class="hideInSmall">Environmental Risk Score</th> <td class="hideInSmall">{{ default "Not Found" .environmentScore.fmt }}</td></tr>{{ end }}
{{ if isset .socialScore "fmt" }}<tr><th class="hideInSmall">Social Risk Score</th> <td class="hideInSmall">{{ default "Not Found" .socialScore.fmt }}</td></tr>{{ end }}
{{ if isset .governanceScore "fmt" }}<tr><th class="hideInSmall">Governance Risk Score</th> <td class="hideInSmall">{{ default "Not Found" .governanceScore.fmt }}</td></tr>{{ end }}
{{ end }}
<tr><th><a class="source" style="display:none;"></a></th><td><a class="source" href="https://finance.yahoo.com/quote/{{ . }}/sustainability">SUSTAINALYTICS, INC VIA YAHOO! FINANCE</a></td></tr>
</table>
</section>
{{ end }}
