*P*.json
*Q*.json
*bcorp*.json
*brand*.json
bcorp/*.json
bcorp/split_files/*.json
entity-radar/*.csv
entity-radar/*.json
glassdoor/archive/
glassdoor/backup/
glassdoor/data/
glassdoor/data_json/*.json
goodonyou/brands/*.json
goodonyou/categories/*.json
https-everywhere/*.csv
https-everywhere/lists/*
https-everywhere/rules/*
hugo/.*
hugo/cache/
hugo/content-backup/
hugo/content/
hugo/data/glassdoor/
hugo/data/mbfc/combined.json
hugo/data/similar/sites/
hugo/data/trust-pilot/sites/
hugo/data/wikidata/longcache/
hugo/data/wikidata/wikidatacache/
hugo/data/wikipedia/pages/
hugo/data/wikipedia/wikicard/
hugo/data/yahoo/
hugo/public
hugo/static/connections/
hugo/sync.sh
hugo/wikipedia/
old/glassdoor_archive/
rosetta/*.csv
similar-sites/sites/
tosdr/*.json
tosdr/*.list
trust-pilot/*.list
trust-pilot/sites/
wikipedia/*.csv
yahoo/ticker/*
