IVDataIngestion/
data_collection/*/entities/*.json
data_collection/bcorp/*.json
data_collection/bcorp/pages/
data_collection/bcorp/split_files/*.json
data_collection/entity-radar/*.csv
data_collection/entity-radar/*.json
data_collection/glassdoor/archive/
data_collection/glassdoor/backup/
data_collection/glassdoor/data/
data_collection/glassdoor/data_json/*.json
data_collection/goodonyou/brands/*.json
data_collection/goodonyou/categories/*.json
data_collection/https-everywhere/*.csv
data_collection/https-everywhere/lists/*
data_collection/https-everywhere/rules/*
data_collection/lobbyfacts/json_data/
data_collection/mbfc/combined.json
data_collection/mbfc/entries/
data_collection/mbfc/html_cache/
data_collection/mbfc/website_bias.csv
data_collection/opensecrets/html_cache/*.html
data_collection/opensecrets/output_cleaned/*.json
data_collection/similar-sites/sites/
data_collection/static/*.csv
data_collection/static/SDG2000Rearranged/
data_collection/static/WBMCleanCSVs/
data_collection/static/WBMJSON/
data_collection/tosdr/*.json
data_collection/tosdr/*.list
data_collection/trust-pilot/*.list
data_collection/trust-pilot/sites/
data_collection/trustscore/entries/
data_collection/trustscore/html_cache/
data_collection/wikipedia/*.csv
data_collection/yahoo/*.csv
data_collection/yahoo/*.json
data_collection/yahoo/ticker/*
data_collection/yahoo/tickerinfo/
data_objects/db/*
data_objects/public/*
hugo/.*
hugo/cache/
hugo/content-backup/
hugo/content/
hugo/data/bcorp/
hugo/data/glassdoor/
hugo/data/goodonyou/
hugo/data/mbfc/combined.json
hugo/data/opensecrets/*.json
hugo/data/similar/sites/
hugo/data/trust-pilot/sites/
hugo/data/wikidata/longcache/
hugo/data/wikidata/wikidatacache/
hugo/data/wikipedia/pages/
hugo/data/wikipedia/wikicard/
hugo/data/yahoo/
hugo/justTest
hugo/public
hugo/static/*/
hugo/static/connections/
hugo/static/ds/*/*
hugo/sync.sh
hugo/testDir/
hugo/wikipedia/
master.zip
matched_connections/
matched_output/
old/glassdoor_archive/
rosetta/*.csv
websites.list