*P*.json
*Q*.json
*bcorp*.json
*brand*.json
bcorp/*.json
bcorp/split_files/*.json
entity-radar/*.csv
entity-radar/*.json
glassdoor/archive/
glassdoor/backup/
glassdoor/data/
glassdoor/data_json/*.json
goodonyou/brands/*.json
https-everywhere/*.csv
https-everywhere/lists/*
https-everywhere/rules/*
hugo/.*
hugo/cache
hugo/content-backup/
hugo/content/*
hugo/data/glassdoor/*
hugo/data/mbfc/combined.json
hugo/data/similar/sites/*.json
hugo/data/trust-pilot/sites/trust_site_*.json
hugo/data/wikidata/longcache/
hugo/data/wikidata/wikidatacache/
hugo/data/wikipedia/pages/*.md
hugo/data/wikipedia/wikicard/*.html
hugo/data/yahoo/*.json
hugo/public
hugo/static/connections/*
hugo/sync.sh
hugo/wikipedia/*
old/glassdoor_archive/
rosetta/*.csv
similar-sites/sites/*.json
tosdr/*.json
tosdr/*.list
trust-pilot/*.list
trust-pilot/sites/trust_site_*.json
wikipedia/*.csv
wikipedia/company-crawling/
yahoo/ticker/*
