body {
    --fullwidth: 1000px;
    --colWidth: calc(100% - 80px);
    left: 40px;
    top: 40px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background: blue;
    box-sizing: border-box;

    transition: all 0.5s;
    display: grid;

    gap: 0px;
    padding: 0px;
    font-size: 100px;
    grid-template:
        "titlebar" 0px
        "topdisplay" 100%
        "neograph" 0px
        "content" 0px
        "buttons" 0px
        "disclaimer" 0px /
        var(--colWidth);

    >* {
        border-radius: 24px;
        clip-path: border-box;
    }

    >#graph-box {
        display: none;
    }

    #neoGraphFilterBar,
    #neoGraphTopBar {
        grid-area: neograph;
    }

    #root {
        grid-area: neograph;
        height: unset;
    }

        #contentAreaDiv {
            overflow: hidden;
            height: 0px;
        }
    #disclaimer {
        grid-area: disclaimer;
        width: var(--fullwidth);
    }

    &.one {
        gap: 0px;
        padding: 0px;
    }

    &.two {
        gap: 0px;
        padding: 0px;

        &::before {
            content: "!";
            font-size: 700px;
            position: absolute;
            background: white;
            width: 520px;
            height: 520px;
            text-align: center;
            place-self: center;
            border-radius: 1000px;
            top: 400px;
        }
    }

    &.three {
        gap: 0px;
        padding: 0px;
        font-size: 100px;

        &::before {
            content: "Brand Recognition";
            font-size: 30px;
            position: absolute;
            background: white;
            width: 960px;
            height: 520px;
            text-align: center;
            place-self: center;
            border-radius: 1000px;
            top: 400px;
        }
    }

    &.four {
        gap: 0px;
        padding: 0px;
        font-size: 100px;

        &::before {
            content: "Analysing Data";
            font-size: 30px;
            position: absolute;
            background: white;
            width: 960px;
            height: 520px;
            text-align: center;
            place-self: center;
            border-radius: 24px;
            top: 400px;
        }
    }

    &.five {
        gap: 0px;
        padding: 0px;
        font-size: 100px;
        grid-template:
            "titlebar" 0px
            "topdisplay" 100%
            "neograph" 0px
            "content" 0px
            "buttons" 0px
            "disclaimer" 0px /
        var(--colWidth);

        &::after {
            content: "hows about coming closer";
            font-size: 30px;
            position: absolute;
            background: black;
            color: white;
            height: 80px;
            width: 100vw;
            bottom: 0;
            left: 0;
        }
    }

    &.six,
    &.six.voice {
        grid-template:
            "titlebar" 80px
            "topdisplay" 0px
            "neograph" calc(1140px - 80px)
            "content" 417px
            "buttons" 104px
            "disclaimer" auto /
        var(--colWidth);
        row-gap: 40px;
        #contentAreaDiv {
            overflow: hidden;
        }
        #speedCamButtons {
            display: grid;
        }
    }

    &.six.map {
        grid-template:
            "titlebar" 80px
            "topdisplay" 0px
            "neograph" calc(417px - 80px)
            "content" 1140px
            "buttons" 104px
            "disclaimer" auto /
        var(--colWidth);
    }
}

#speedcontent {
    display: grid;
    grid-area: content;
    justify-content: center;
    z-index: 1000;
    background-color: #fff;
    width: var(--fullwidth);
}

#speedCamButtons {
    grid-area: buttons;
    display: none;
    grid-auto-flow: column;
    justify-content: center;
    gap: 40px;
    button.roundedAbout {
        border-radius: 1000px;
        padding: 40px;
        font-size: 40px;
        width: 470px;
        height: 104px;
    }
    #speedClose::before {
        content: "Return to Gallery"
    }
    #speedReturn::before {
        content: "Return to Subvertisements"
    }
}


:root {
    touch-action: pan-x pan-y;
    height: 100%
}

.noDebug {
    & #photo {
        display: none;
    }

    & button {
        display: none;
    }

    & #apiKeyList {
        display: none;
    }
}

.noLogo {
    & .logo {
        display: none;
    }
}

.currentItem {
    z-index: 2;
}

#video {
    --blur: 0px;
    box-sizing: border-box;
    position: fixed;
    inset: 0px;
    z-index: -1;
    transform: translate(55%, 80%) rotate(-90deg);
    transform-origin: bottom left;
    filter: blur(var(--blur));
    height: 100vw;
    width: 100vh;
    scale: 1.1;
    left: -0.9vh;
}

#video.notRotated {
    transform: translateY(0%) rotate(0deg);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    transform-origin: center;
}

@keyframes bkgmove {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

#canvas {
    display: none;
}

.output {
    width: 340px;
    display: inline-block;
    vertical-align: top;
}

#contentAreaDiv {
    grid-area: topdisplay;
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    z-index: 100;
}

#buttonHolder {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}

#apiKeyList {
    display: flex;
    flex-direction: column;

    & div {
        display: inline;
    }
}

#outputText {
    background-color: #FFFFFFAA;
    backdrop-filter: blur(10px);
}

iframe {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    border: 0px;
    inset: 0px;
}

#extraBar {
    display: none;
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 80px;
}

#returnButton {
    height: 40px;
    visibility: hidden;
    background-color: white;
}

.popoverApi {
    display: block;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background-color: #000000AA !important;
    z-index: 1001;
    place-self: center;
    border-radius: 10px;
    padding: 8px;
}

#speedCamDebug {
    #range_number {
        display: block;
        font-size: 7em;
        width: 100%;
        text-align: center;
    }

    #number_number,
    #speed_number {
        display: block;
    }

    #output_output {
        font-size: 0.4em;
        display: block;
        width: 100%;
    }
}

#popOverMenu {
    background-color: #FFFFFFCC !important;
    font-size: 24px;
}


::backdrop {
    background-color: transparent;
}

@starting-style {
    ::backdrop {
        background-color: transparent;
    }
}

#topDisplay {
    grid-area: topdisplay;
    display: grid;
    grid-template: "currentItem" 1114px 
                    "nextItem" 240px 
                    "lastItem" 240px / 952px;
    width: 100vw;
    height: calc(100vh - 100px);
    padding: 40px;
    gap: 40px;
    transition: all 0.5s;
}

.story {
    font-family: 'Space Grotesk', sans-serif;
    background-size: cover;
    border-radius: 22px;
    max-height: 240px;
    clip-path: border-box;
}

.storyInfo {
    box-sizing: border-box;
    color: black;
    background-color: #ffff;
    position: relative;
    display: grid;
    grid-template:
        "logo title" 200px
        "logo author" 40px
        "overflow overflow" 0px /
        240px calc(100% - 240px);
    height: 240px;
    margin: 0 auto;

    .title {
        grid-area: title;
        font-size: 40px;
        font-weight: 300;
        text-wrap: balance;
    }

    .authorArticle {
        grid-area: author;
        font-size: 32px;
        font-weight: 500;
        text-align: right;
        padding: 4px;

        &::before {
            content: '- ';
        }

    }

    .logo {
        grid-area: logo;
        width: 240px;
        aspect-ratio: 1/1;
        object-fit: cover;
        background-color: #000000;
    }
}

.story.nextItem {
    grid-area: nextItem;
}
.story.lastItem {
    grid-area: lastItem;
}

.story.currentItem {
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-area: currentItem;

    .storyInfo {
        color: black;
        background-color: #fffd;
        height: 350px;
        margin-bottom: auto;
        grid-template:
            "logo title" 310px
            "logo author" 40px
            "overflow overflow" 0px /
            240px calc(100% - 240px);

        .title {
            text-wrap: balance;
        }

        .authorArticle {}

        .logo {
            width: 224px;
            margin: 8px;
        }
    }
}

.attribution {
    position: absolute;
    bottom: 3em;
    right: 3em;
}

#content {
    background-color: white;
    padding: 44px !important;
    grid-area: content;
    overflow-y: scroll;
    border-radius: 24px;
}


#disclaimer {
    grid-area: disclaimer;
    background-color: #FFFFFFAA;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 100vw;
    height: 377px;
}

#titlebar {
    grid-area: titlebar;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: unset;
    z-index: 10;

    > :not(.show) {
        display: none;
    }
}

#output,
#photo,
#graph-container,
#settings,
#graph-container,
#Invisible-interaction,
#settings,
body>#graph-box {
    display: none;
}

#speedcontent .contentSection {
    min-width: 377px;
    width: 377px;
    max-width: 377px;
}

#speedcontent {
    overflow-y: scroll;
    overflow-x: hidden;
}