body {
    overflow-y: hidden;
    overflow-x: hidden;
    background: blue;
}

:root {
    touch-action: pan-x pan-y;
    height: 100%
}

.noDebug {
    & #photo {
        display: none;
    }

    & button {
        display: none;
    }

    & #apiKeyList {
        display: none;
    }
}

.noLogo {
    & .logo {
        display: none;
    }
}

#blankSplash {
    --adjust-opacity: 1;
    font-size: 10vw;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    text-decoration-skip-ink: all;
    text-decoration-color: green;
    animation: animatedLine 10s infinite both alternate linear;
    background-color: #000000;
    opacity: var(--adjust-opacity);
    transition: opacity 0.2s;
}

@keyframes animatedLine {
    0% {
        text-underline-offset: -10vw;
    }

    100% {
        text-underline-offset: 1vw;
    }
}


.currentItem {
    z-index: 2;
}

#video {
    --blur: 0px;
    box-sizing: border-box;
    position: fixed;
    inset: 0px;
    z-index: -1;
    transform: translate(55%, 80%) rotate(-90deg);
    transform-origin: bottom left;
    filter: blur(var(--blur));
    height: 100vw;
    width: 100vh;
    scale: 1.1;
    left: -0.9vh;
}

#video.notRotated {
    transform: translateY(0%) rotate(0deg);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    transform-origin: center;
}


.companyPanel {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-areas: 'text' 'logo';
    font-family: sans-serif;
    font-size: 30px;
    background-color: #ffffffcc;
    left: 0;
    top: 0;
    background-size: cover;
    box-sizing: border-box;
    padding: 40px 50px;
    animation: bkgmove 30s infinite both alternate;

    .companyText {
        grid-area: text;
        color: white;

        .title {
            font-size: 6dvh;
            font-weight: bold;
            color: #ffe;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
        }
    }

    .logo {
        grid-area: logo;
        margin: auto;
    }
}


@keyframes bkgmove {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

#canvas {
    display: none;
}

.output {
    width: 340px;
    display: inline-block;
    vertical-align: top;
}

.contentArea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0vh;
    bottom: 0vh;
    left: 0vw;
    right: 0vw;
    transition: top 1s;
    z-index: 100;
}

#buttonHolder {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}

#apiKeyList {
    display: flex;
    flex-direction: column;

    & div {
        display: inline;
    }
}

#outputText {
    background-color: #FFFFFFAA;
    backdrop-filter: blur(10px);
}

iframe {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    border: 0px;
    inset: 0px;
}

#extraBar {
    display: none;
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 80px;
}

#returnButton {
    height: 40px;
    visibility: hidden;
    background-color: white;
}

.offScreen {
    transform: translate(0, 100vh);
}

#contentAreaDiv.offScreen {
    transform: translate(100vw, 0);
}

.offScreenUp {
    transform: translate(0, -100vh);
}

.popoverApi {
    display: block;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background-color: #000000AA !important;
    z-index: 1001;
    place-self: center;
    border-radius: 10px;
    padding: 8px;
}

#speedCamDebug {
    #range_number {
        display: block;
        font-size: 7em;
        width: 100%;
        text-align: center;
    }

    #number_number,
    #speed_number {
        display: block;
    }

    #output_output {
        font-size: 0.4em;
        display: block;
        width: 100%;
    }
}

#popOverMenu {
    background-color: #FFFFFFCC !important;
}


::backdrop {
    background-color: transparent;
}

@starting-style {
    ::backdrop {
        background-color: transparent;
    }
}

#topDisplay {
    display: grid;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    grid-area: topDisplay;
}

.story {
    font-family: 'Space Grotesk', sans-serif;
    top: 0;
    left: 0;
    position: relative;
    background-size: cover;
    height: auto;
    width: auto;
    grid-area: 1 / 1;
    margin: 40px;
    border-radius: 22px;

    >.storyInfo {
        color: black;
        background-color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;

        width: calc(927px - 80px);
        height: fit-content;
        min-height: 14.1%;
        top: 10%;
        padding: 80px;
        margin: 0 auto;
        border-radius: 11px;

        >.title {
            font-size: 80px;
            font-weight: 300;
            text-wrap: balance;
        }

        >.authorArticle {
            font-size: 48px;
            font-weight: 500;
            place-self: flex-end;
        }

    }

    >.attribution {
        position: absolute;
        float: right;
        bottom: 3em;
        right: 3em;

    }
}

#content {
    background-color: white;
    padding: 44px !important;
    grid-area: content;
    overflow-y: scroll;
    border-radius: 24px;
}

body {
    display: grid;
    gap: 40px;
    padding: 40px;

    &.speedbody {
        grid-template-areas: 'topDisplay' 'graph' 'content' 'titlebar' 'disclaimer';
        grid-auto-rows: 0px 899px 367px 134px auto;
    }

    &.speedbodycontented {
        grid-template-areas: 'topDisplay' 'graph' 'content' 'titlebar' 'disclaimer';
        grid-auto-rows: 0px 367px 899px 134px auto;
    }
}

#disclaimer {
    grid-area: disclaimer;
    background-color: #FFFFFFAA;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
}

#titlebar {
    grid-area: titlebar;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    place-self: center;
    height: -webkit-fill-available;

    > :not(.show) {
        display: none;
    }
}

#graph-container {
    grid-area: graph;
    height: auto;
    width: auto;
    visibility: visible;
    position: relative;
    border-radius: 24px;
    overflow: auto;
}

#sigma-container {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

#Invisible-interaction,
#settings,
#popArea,
body>#graph-box {
    grid-area: topDisplay !important;
}