{{ define "content" }}
{{ $wctitlelinks := slice "wikicard_parent" "wikicard_products" "wikicard_founder" "wikicard_key_people" "wikicard_industry" "wikicard_owner" "wikicard_key_people" "wikicard_services" "wikicard_owners" "wikicard_publisher" "wikicard_chief" "wikicard_editor" "wikicard_political" "wikicard_affliations" "wikicard_operator" "wikicard_political_position" "wikicard_brands" "wikicard_founders" "wikicard_chiefeditor" "wikicard_director" "wikicard_content_director" "wikicard_staff"}}
<section>

	<section class="header-wrapper">

		<header>
			<h1>
                {{ partialCached "logo.html" . }}
			</h1>
			<h4>Invisible Voice is a free plugin that empowers you to make informed decisions about the websites you use.</h4>
		</header>
		
	</section>

	<div class="video-overlay">
		<iframe width="806" height="453" src="https://www.youtube.com/embed/i2IW6gx2WdY?rel=0&controls=0&hd=1&showinfo=0&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

    {{ partialCached "glossary.html" . }}
  <section class="posts_listing">

	<!-- <div class="sort-by">
		<div>Sort by:</div>
		<div id="alph-button" class="g-bg sb-button">Alphabetical Order</div>
		<div id="hi-emp-button" class="g-bg sb-button">Highest Employment</div>
		<div id="emp-sat-button" class="g-bg sb-button">Employment Satisfaction</div>
		<div id="revenue-button" class="g-bg sb-button">Revenue of Company</div>
	</div> -->

    <!--
	<div class="search">
		<div class="search-title">Search:</div>
		<input type="text" id="input-search">
		<p class="total-cos-container"> out of <span class="js-total-cos"></span> companies</p>
	</div>
    -->

	<div id="sb-wrapper-initial" class="sb-wrapper active">

        {{ $paginator := .Paginate .Site.Pages.ByLength }}
		{{ range $paginator.Pages }}
            <span class="g-bg name-inner"><a href="{{ .RelPermalink }}">{{- .Params.title -}}</a></span>
		{{ end }}

	</div>
        <span>
        {{ template "_internal/pagination.html" . }}
        </span>
	
	<footer class="footer-desktop">
		<div class="paypal-desktop">
			<div>
				<p>We are working to keep Invisible Voice updated daily with the most recent and relevant information possible.</p>
				<p>If you like the plugin, and want to support Invisible Voice, we massively appreciate any donations!</p>
			</div>
			<a href="https://www.paypal.com/donate/?cmd=_donations&business=donate%40invisible-voice.com&currency_code=GBP&Z3JncnB0=" target="_blank" class="g-bg mt-10px">Donate via PayPal</a>
			<div class="privacy-policy">
				<p class="bold">Privacy policy</p>
				<p>We do not track you. We try our best to minimise any data we gather. We use self-hosted free and open tools whenever possible and we do not share your data with third parties.</p>
				<p>Privacy is a fundamental human right that your other rights depend on. We exist to create technology that protects your human rights. So, in a nutshell, our privacy policy is that we exist to protect your privacy.</p>
				<p class="bold">Video</p>
				<p>Our video is hosted on YouTube. We do use YouTube analytics in our video player.</p>
				<p class="bold">PayPAL</p>
				<p>We do not store any of your payment-related information, including your email address. The data held by PayPal to process your donations and patronages is covered by <a href="https://www.paypal.com/uk/webapps/mpp/ua/privacy-full">	PayPal.</a></p>
			</div>
		</div>
		<div class="team-desktop">
			<div>
				<p>Team</p>
		<p>Concept & Production: <span class="bold"><a href="https://www.markfarid.com/" target="_blank">Mark Farid</a></span></p>
		<p>System Design & Build: <span class="bold"><a href="https://ff4500.red" target="_blank">Orange</a></span></p>
		<p>Graphic Design: <span class="bold"><a href="http://www.kiatas.me/" target="_blank">Kia Tasbihgou</a></span></p>
		<p>Front End Dev.: <span class="bold"><a href="https://www.martasantos.co.uk/" target="_blank">Marta Dos Santos</a></span></p>
			</div>
		</div>
	</footer>
  </section>
</section>


{{ end }}


