<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/css/plugin-styles.css">
<title>Invisible Voice - {{ .Params.title }}</title>
</head>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@andreasremdt/simple-translator@latest/dist/umd/translator.min.js" defer></script>
<script src="/js/translations.js" defer></script>

{{ if isset .Params "wikidataid" }}
<div id="wikidataid" style="display:none;">{{ .Params.wikidataid }}</div>
{{ end }}
<div class="plugin-container">
  <div class="plugin-header">
    <span class="bk-bg co-name">{{ .Params.title }}</span>
    <p class="disclaimer-text" data-i18n="header.disclaimer" style="width:50%;"></p>
    {{ partialCached "translation_picker.html" . }}
    <section id="button-list">
    {{ if isset .Params "tosdr" }}{{ partialCached "tosdr.html" .Params.tosdr .Params.tosdr  }}{{ end }}
    {{ if isset .Params "mbfc" }}{{ partialCached "mbfc.html" .Params.mbfc_source .Params.title }}{{ end }}
    {{ partialCached "trustpilot.html" .Params.title .Params.title }}
    {{ if isset .Params "polideology" }}{{ range .Params.polideology }}{{ partial "wikidata.html" . . }}{{ end }}{{ end }}
    {{ if isset .Params "polalignment" }}{{ range .Params.polalignment }}{{ partial "wikidata.html" . . }}{{ end }}{{ end }}
    </section>
    </div>
  </div>
  {{ if isset .Params "connections" }}<section class="content">{{ partialCached "d3-graph.html" .Params.connections .Params.connections }}</section><hr/>{{ end }}
  <section class="content" style="justify-content:flex-start;">
  {{ if isset .Params "twittername" }}{{ partialCached "wikidata-social.html" .Params.twittername .Params.twittername }}{{ end }}
  {{ if isset .Params "subreddit" }}{{ partialCached "wikidata-social.html" .Params.subreddit .Params.subreddit }}{{ end }}
  {{ if isset .Params "facebookid" }}{{ partialCached "wikidata-social.html" .Params.facebookid .Params.facebookid }}{{ end }}
  {{ if isset .Params "facebookpage" }}{{ partialCached "wikidata-social.html" .Params.facebookpage .Params.facebookpage }}{{ end }}
  {{ if isset .Params "instagramid" }}{{ partialCached "wikidata-social.html" .Params.instagramid .Params.instagramid }}{{ end }}
  {{ if isset .Params "youtubechannelid" }}{{ partialCached "wikidata-social.html" .Params.youtubechannelid .Params.youtubechannelid }}{{ end }}
  {{ if isset .Params "truthsocial" }}{{ partialCached "wikidata-social.html" .Params.truthsocial .Params.truthsocial }}{{ end }}
  {{ if isset .Params "parleruser" }}{{ partialCached "wikidata-social.html" .Params.parleruser .Params.parleruser }}{{ end }}
  {{ if isset .Params "gabuser" }}{{ partialCached "wikidata-social.html" .Params.gabuser .Params.gabuser }}{{ end }}
  {{ if isset .Params "soundcloud" }}{{ partialCached "wikidata-social.html" .Params.soundcloud .Params.soundcloud }}{{ end }}
  {{ if isset .Params "tumblr" }}{{ partialCached "wikidata-social.html" .Params.tumblr .Params.tumblr }}{{ end }}
  {{ if isset .Params "medium" }}{{ partialCached "wikidata-social.html" .Params.medium .Params.medium }}{{ end }}
  {{ if isset .Params "telegram" }}{{ partialCached "wikidata-social.html" .Params.telegram .Params.telegram }}{{ end }}
  {{ if isset .Params "mastodon" }}{{ partialCached "wikidata-social.html" .Params.mastodon .Params.mastodon }}{{ end }}
  {{ if isset .Params "patreon" }}{{ partialCached "wikidata-social.html" .Params.patreon .Params.patreon }}{{ end }}
  {{ if isset .Params "reddituser" }}{{ partialCached "wikidata-social.html" .Params.reddituser .Params.reddituser }}{{ end }}
  {{ if isset .Params "twitch" }}{{ partialCached "wikidata-social.html" .Params.twitch .Params.twitch }}{{ end }}
  {{ if isset .Params "tiktok" }}{{ partialCached "wikidata-social.html" .Params.tiktok .Params.tiktok }}{{ end }}
  {{ if isset .Params "officialblog" }}{{ partialCached "wikidata-link.html" .Params.officialblog .Params.officialblog }}{{ end }}
  {{ if isset .Params "emailaddress" }}{{ partialCached "wikidata-link.html" .Params.emailaddress .Params.emailaddress }}{{ end }}
  </section>
  {{ partialCached "similar.html" .Params.title .Params.title }}
  <section class="content" style="justify-content:flex-start;">
  {{ if isset .Params "goodonyou" }}{{ partialCached "goodonyou.html" .Params.goodonyou .Params.goodonyou }}{{ end }}
  {{ if isset .Params "glassdoor" }}{{ partialCached "glassdoor.html" .Params.glassdoor .Params.glassdoor }}{{ end }}
  {{ if isset .Params "bcorp" }}{{ partialCached "bcorp.html" .Params.bcorp .Params.bcorp }}{{ end }}
  {{ if isset .Params "ticker" }}{{ range .Params.ticker }}{{ partialCached "yahoo.html" . . }}{{ end }}{{ end }}
  </section>
  <hr/>
  <div class="content">
    {{ .Content }}
  </div>
</div>
<script src="/js/single.js" defer></script>
</html>
