<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width" />
<link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/generic.css">

<script>document.write('<link href="/css/plugin-styles.css?dev=' + Math.floor(Math.random() * 100) + '" rel="stylesheet"/>');</script>
<title>Invisible Voice - {{ .Params.title }}</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@andreasremdt/simple-translator@latest/dist/umd/translator.min.js" defer></script>
<script src="/js/translations.js" defer></script>

{{ if isset .Params "wikidataid" }}
<div id="wikidataid" style="display:none;">{{ .Params.wikidataid }}</div>
{{ end }}
<section id="titlebar">
<button id="roundelButton" type="button" onclick="spinRoundel()"></button>
<button id="backButton" type="button" onclick="justSendBack()"></button>
<span class="bk-bg co-name hideInSmall">{{ .Params.title }}</span>
<button id="settingsButton" type="button" onclick="loadSettings()"><div></div></button>
<button id="closeButton" type="button"><div></div></button>
</section>
<div id="settings">
<h2 data-i18n="settings.title" class="sectionTitle">Settings</h2>
{{ partialCached "translation_picker.html" . }}
</div>
<div class="content">
<span class="blankForSmall" style="order:0;"> </span>
{{ if isset .Params "connections" }}{{ partialCached "d3-graph.html" .Params.connections .Params.connections }}{{ end }}
{{ if isset .Params "goodonyou" }}{{ partialCached "goodonyou.html" .Params.goodonyou .Params.goodonyou }}{{ end }}
{{ if isset .Params "glassdoor" }}{{ partialCached "glassdoor.html" .Params.glassdoor .Params.glassdoor }}{{ end }}
{{ if isset .Params "bcorp" }}{{ partialCached "bcorp.html" .Params.bcorp .Params.bcorp }}{{ end }}
{{ if isset .Params "ticker" }}{{ range .Params.ticker }}{{ partialCached "yahoo.html" . . }}{{ end }}{{ end }}
{{ if isset .Params "isin" }}{{ range .Params.isin }}{{ partialCached "isin.html" . . }}{{ end }}{{ end }}
{{ if isset .Params "isin_id" }}{{ range .Params.isin_id }}{{ partialCached "isin-id.html" . . }}{{ end }}{{ end }}
{{ partialCached "trustpilot.html" .Params.title .Params.title }}
{{ if isset .Params "mbfc" }}{{ partialCached "mbfc.html" .Params.mbfc_source .Params.title }}{{ end }}
{{ if isset .Params "tosdr" }}{{ range .Params.tosdr }}{{ partialCached "tosdr.html" . .  }}{{ end }}{{ end }}
{{ if isset .Params "polideology" }}{{ range .Params.polideology }}{{ partial "wikidata.html" . . }}{{ end }}{{ end }}
{{ if isset .Params "polalignment" }}{{ range .Params.polalignment }}{{ partial "wikidata.html" . . }}{{ end }}{{ end }}

{{ $socialParams := slice "twittername" "subreddit" "facebookid" "facebookpage" "instagramid" "youtubechannelid" "truthsocial" "parleruser" "gabuser" "soundcloud" "tumblr" "medium" "telegram" "mastodon" "patreon" "reddituser" "twitch" "tiktok" "officialblog" "emailaddress" }}
{{ $paramsSlice := slice }}

{{ range $key, $value := .Params }}
  {{ $paramsSlice = $paramsSlice | append $key }}
{{ end }}

{{ $commonParams := intersect $paramsSlice $socialParams }}
{{ if gt (len $commonParams) 0 }}
<section id="social-wikidata" class="contentSection">
<h2 class='sectionTitle' data-i18n="w.socialmedia">Social Media and Email</h2>
<section id="social-links">
<table>
{{ range $param := $commonParams }}
 {{ $value := index $.Params $param }}
 {{ if or (eq $param "officialblog") (eq $param "emailaddress") }}
      {{ partialCached "wikidata-link.html" $value $value }}
    {{ else }}
      {{ partialCached "wikidata-social.html" $value $value }}
    {{ end }}
  {{ end }}
</table>
</section>
</section>
{{ else }}
{{ end }}

{{ partialCached "similar.html" .Params.title .Params.title }}
<span class="blankForSmall hideInSmall vbb" style="order:101;"> </span>
<span class="blankForSmall hideInSmall vbb" style="order:101;"> </span>
<section id="Invisible-vote" class="hideInSmall">
<section id="Invisible-like" style="--count:'0';" data-i18n="vote.like">Like</section>
<section id="Invisible-dislike" style="--count:'0';" data-i18n="vote.dislike">Dislike</section>
</section>
<section id="Invisible-boycott" data-i18n="vote.boycott" class="hideInSmall">Boycott</section>
  {{ .Content }}
</div>
<section id="disclaimer" style="order: 100;"><h2><div class="hideInSmall invisible-disclaimer-title">Invisible Voice</div> <div data-i18n='header.titledisclaimer' class="invisible-disclaimer-title">Disclaimer</div></h2><p class="disclaimer-text" data-i18n="header.disclaimer"></p><p data-i18n="header.dislcaimerNote" class="disclaimer-text">If you believe any of the information displayed is incorrect, you can contact the source of the information</p> <a class="hideInSmall" data-i18n="header.here" href="#">here.</a></section>
</div>
<!-- <script src="/js/single.js" defer></script> -->
<script>document.write('<script src="/js/single.js?dev=' + Math.floor(Math.random() * 100) + '" defer\><\/script>');</script>
</html>
