<section id="bcorp">
{{ with .Get "gid" }}
{{ $path := print "data/bcorp/bcorp_" . ".json"}}
{{ if os.FileExists $path }}
    {{ $d := getJSON $path }}
    <button type="button" class="collapsible"><h2>B Corp</h2><a class="source" href="https://www.bcorporation.net/en-us/find-a-b-corp/company/{{ . }}">(source)</a></button>
<section class="section-content">
    <p>
    {{ if isset $d "latestVerifiedScore" }}
    <b>Latest Verified Score:</b></br>
    {{ $d.latestVerifiedScore }}<b>/140</b>+ (80+ is certified)</br>
    {{ end }}
    {{ if isset $d "assessments" }}
    {{ $a := index $d.assessments 0 }}
    {{ range $a.impactAreas }}
    <b>{{ .name }}:</b> {{ .score }}</br>
    {{ end }}
    {{ end }}
    {{ end }}
    </p>
</section>
{{ end }}
</section>
