<section id="glassdoor">
{{ with .Get "gid" }}
{{ $path := print "data/" . }}
{{ if os.FileExists $path }}
{{ $d := getJSON $path }}
<button type="button" class="collapsible"><h2>Glassdoor</h2><a class="source" href="#">(no source right now)</a></button>
<section class="section-content" style="display: none;">
<p>
Company Type: {{ $d.ctype }} </br>
Funded: {{ $d.funded }} </br>
Headquarters: {{ $d.headquarters }} </br>
Revenue: {{ $d.revenue}} </br>
Size: {{ $d.size }} </br>
</p>
</section>
{{ end }}
{{ end }}
</section>
