{{ $path := print "data/" (.Get "file")}}
{{ if os.FileExists $path }}
</section>
<section class="content">
<section id="isin">
    {{ if eq $path "data/static/2022-January_Just-Transition-Assessment_Datasheet_JustTransitionData.json" }} 
    <h2> World Benchmark </h2></br>
    <h3> 2021 Just Transition Assessment:</h3><a href="https://www.worldbenchmarkingalliance.org/research/2021-just-transition-assessment/">(source)</a></br>
    <p>
    {{ $data := getJSON $path }}
    {{ with index $data (.Get "id") }}
        {{ range $key, $value := . }}
        {{ if in $key "JT"}}
            <b>{{ $key }}</b>: {{.}}</br>
            {{ else if in $key "max. 16"}}
            <b>{{ $key }}</b>: {{.}}</br>
        {{end}}
        {{ end }}
    {{ end }}
    </p>
{{ else if eq $path "data/static/2022-January_Just-Transition-Assessment_Datasheet_SocialData.json" }}
    <h2> World Benchmark </h2></br>
    <h3> 2021 Just Transition Assessment (social):</h3><a href="https://www.worldbenchmarkingalliance.org/research/2021-just-transition-assessment/">(source)</a></br>
    <p>
    {{ $data := getJSON $path }}
    {{ with index $data (.Get "id") }}
        {{ range $key, $value := . }}
        {{ if not (findRE "[a-zA-Z]" $key)}}
            <b>{{ $key }}</b>: {{.}}</br>
            {{ else if in $key "max"}}
            <b>{{ $key }}</b>: {{.}}</br>
        {{ end }}
        {{ end }}
    {{ end }}
    </p>
    {{ else if eq $path "data/static/Food-and-Agriculture-Benchmark-detailed-scoring-sheet-2021-2.json"}}
    <h2> World Benchmark </h2></br>
    <h3> 2021 Food And Agriculture Benchmark:</h3><a href="https://www.worldbenchmarkingalliance.org/food-and-agriculture-benchmark/">(source)</a></br>
    <p>
    {{ $data := getJSON $path }}
    {{ with index $data (.Get "id") }}
        {{ range $key, $value := . }}
        {{ if in $key "out of"}}
            <b>{{ $key }}</b>: {{.}}</br>
        {{ else if in $key "0-100" }}
            <b>{{ $key }}</b>: {{.}}</br>
        {{ end }}
        {{ end }}
    {{ end }}
    </p>
    {{ else if eq $path "data/static/WBA_Social_Transformation_Baseline_Data_JAN_2022_overall_scores.json"}}
    <h2> World Benchmark </h2></br>
    <h3> 2022 Social Transformation Assessment:</h3><a href="https://www.worldbenchmarkingalliance.org/research/2022-social-transformation-baseline-assessment/">(source)</a></br>
    <p>
    {{ $data := getJSON $path }}
    {{ with index $data (.Get "id") }}
        {{ range $key, $value := . }}
            {{ if in $key "max" }}
            <b>{{ $key }}</b>: {{.}}</br>
            {{ end }}
        {{ end }}
    {{ end }}
    </p>
{{ end }}
    {{ else }}
    {{ $path }}
    {{ end }}
</section>
