<section class="landingtext">
    <div class="landingtext-text">
        <p data-i18n="landingtext.description">Invisible Voice is a digital arts and research project featuring a free
            browser extension and mobile app that aims to reshape societal narratives and unite individuals around
            shared causes such as environmental impacts, human rights, and corporate accountability. Funded by the
            European Commission, and co-commissioned by MediaFutures, HacTe, and the Universitat Oberta de Catalunya,
            within the framework of S+T+ARTS in the City, and Horizon 2020, with additional support from University of
            the Arts London and GuestroomMaribor.</p>

        <p data-i18n="landingtext.launching">Launching in early 2025, the desktop/mobile extension and mobile phone app
            provide factual, unbiased information about the businesses and individuals behind the brands you use. By
            utilising open-access datasets, Invisible Voice offers scores on political bias, lobbying, sustainability,
            and more, helping users align their activities with their values. The mobile app also scans products, logos,
            or barcodes to reveal details about materials, ingredients, packaging, and company data. Prioritising
            privacy, Invisible Voice repurposes online advertising for social impact, turning data into action and
            fostering communities.</p>
    </div>
</section>