<section class="logos-container">
    <div class="logo double-width">
        <a href=""><img src="/w/logo-eu.png"></a>
    </div>
    <div class="logo">
        <a href=""><img src="/w/logo-HACTE-CAT.png"></a>
    </div>
    <div class="logo">
        <a href=""><img src="/w/logo-mediafutures.png"></a>
    </div>
    <div class="logo">
        <a href=""><img src="/w/logo-starts2.png"></a>
    </div>
    <div class="logo">
        <a href=""><img src="/w/logo-UOC.png"></a>
    </div>
    <div class="logo">
        <a href=""><img src="/w/logo-ual.png"></a>
    </div>
    <div class="logo">
        <a href=""><img src="/w/logo-grm.png"></a>
    </div>
</section>