<!-- Media Bias Fact Check -->

<section id="mbfc">
{{ with .Get "site" }}
{{ $data := getJSON "data/mbfc/combined.json" }}
{{ $dataJ := index $data.sources . }}
{{ $.Scratch.Set "bias" ""}}
<h2>Media Bias Fact Check</h2><a class="source" href="{{ $dataJ.u }}" >(source)</a>
<p>
{{ if eq $dataJ.b "C" }}
    {{ $.Scratch.Set "bias" (index $data.biases "center")}}
{{ else if (eq $dataJ.b "L") }}
    {{ $.Scratch.Set "bias" (index $data.biases "left")}}
{{ else if (eq $dataJ.b "LC") }}
    {{ $.Scratch.Set "bias" (index $data.biases "left-center")}}
{{ else if (eq $dataJ.b "R") }}
    {{ $.Scratch.Set "bias" (index $data.biases "right")}}
{{ else if (eq $dataJ.b "RC") }}
    {{ $.Scratch.Set "bias" (index $data.biases "right-center")}}
{{ else if (eq $dataJ.b "PS") }}
    {{ $.Scratch.Set "bias" (index $data.biases "pro-science")}}
{{ else if (eq $dataJ.b "FN") }}
    {{ $.Scratch.Set "bias" (index $data.biases "fake-news")}}
{{ else if (eq $dataJ.b "CP") }}
    {{ $.Scratch.Set "bias" (index $data.biases "conspiricy")}}
{{ else if (eq $dataJ.b "S") }}
    {{ $.Scratch.Set "bias" (index $data.biases "satire")}}
{{ end }}
{{ $bias := $.Scratch.Get "bias"}}
Bias: <a href="{{ $bias.url }}" class="hovertext" data-hover="{{ $bias.description }}">{{ $bias.name }}</a></br>
</p>
{{ end }}
</section>
