<!-- Wikipedia -->
{{ if eq (.Get 0) "null" }}
{{ else }}
{{ $page := .Get 0 }}
{{ $wikicard := (print "wikipedia/wikicard/wc_" $page ".html" ) }}
{{ $wikipage := (print "wikipedia/pages/" $page ".md" ) }}
{{ $wikipagelink := (print "https://en.wikipedia.org/wiki/" $page ) }}

{{ $id := default "null" (index $.Params 1) }}

{{ $mode := default (int 1) (index $.Params 2) }}
{{ $active := cond (eq $mode (int 1)) " active" " " }}
{{ $block := cond (eq $mode (int 1)) "block" "none"}}
{{ $flexa := cond (eq $mode (int 1)) "style=\"flex:30%;\"" " "}}
{{ $flexb := cond (eq $mode (int 1)) "style=\"flex:60%;\"" " "}}

{{ $hex := cond (eq $id "null") (substr (sha1 $page) 1 6) (substr (sha1 $id) 1 6) }}
{{ $top := cond (eq $id "null") $page (partialCached "wikidata-name.html" $id $id) }}

<section class="wikipedia" {{ $flexa }} id="{{ $page }}">
    <button type="button" class="collapsible{{ $active }}">
        <h2>
            <span style="background-color:#{{ $hex }};" >
                <span class="contrast">{{ $top }}</span>
            </span>
        </h2>
        <a href="{{ $wikipagelink }}" class="source">(wikipedia)</a>
    </button>
<section class="section-content" style="display:{{ $block }};"/>
    {{ if fileExists $wikicard }}{{ readFile $wikicard | safeHTML }}
    {{ if eq $mode (int 1) }}
</section>
</section>
<section class="wikipedia" {{ $flexb }} id="main_{{ $page }}">
    <button type="button" class="collapsible{{ $active }}">
        <h2>
            <span style="background-color:#{{ $hex }};" >
                <span class="contrast">{{ $top }}</span>
            </span>
        </h2>
        <a href="{{ $wikipagelink }}" class="source">(wikipedia)</a>
    </button>
<section class="section-content" style="display:{{ $block }};"/>
    {{ end }}
{{ end }}
{{ if fileExists $wikipage }}{{ readFile $wikipage | markdownify }}{{ end }}
</section>
</section>
{{ end }}
