<!-- Wikipedia -->
{{ if eq (.Get 0) "null" }}
{{ else }}
{{ $url := cond (fileExists (print "data/wikidata/longcache/" (.Get 1) ".json") ) (print "data/wikidata/longcache/" (.Get 1) ".json") (print "https://www.wikidata.org/entity/" (.Get 1))}}
{{ $top := ((index (getJSON $url ).entities (.Get 1)).labels.en.value)  }}
<section id="wikipedia" class="{{ .Get 0 }}">
    <button type="button"  class="collapsible{{ if eq (int (.Get 2)) (int 1) }} active{{ end }}"><h2><span style=" background-color:#{{ substr (sha1 (.Get 1)) 1 6 }};" ><span id="contrast">{{ $top }}</span></span></h2><a href="https://en.wikipedia.org/wiki/{{ .Get 0 }}" class="source">(wikipedia)</a>
</button>
<section class="section-content" style="display:{{ if eq (int (.Get 2)) (int 1) }}block{{else}}none{{end}};"/>
<p>
{{ with .Get 0}}
{{ if fileExists (print "data/wikipedia/wikicard/wc_" . ".html") }}
{{ readFile (print "data/wikipedia/wikicard/wc_" . ".html" ) | safeHTML }}
{{ end }}
{{ if fileExists (print "data/wikipedia/pages/" . ".md") }}
{{ readFile (print "data/wikipedia/pages/" . ".md" ) | markdownify }}
{{ end }}
{{ end }}
</p>
</section>
<span class="tags">
{{ range after 3 $.Params  }}
    {{ $list := split . ":" }}
    <span class="{{index $list 0}}">
    {{ with $q := getJSON (print "data/wikidata/longcache/" (index $list 1) ".json") }}
        {{ range .entities }}
                {{ index $list 2 | replaceRE "_" " "}} <span style="background-color:#{{ substr (sha1 (index $list 1) ) 1 6 }};" >
                    <span id="contrast">{{ .labels.en.value }}</span>
        {{ end }}
        </span>
    {{ else }}
        {{ with $q := getJSON "https://www.wikidata.org/entity/" (index $list 1) }}
            {{ range .entities }}
                {{ index $list 2 | replaceRE "_" " " }} <span style=" background-color:#{{ substr (sha1 (index $list 1) ) 1 6 }};" >
                    <span id="contrast">{{ .labels.en.value }}</span>
                </span>
            {{ end }}
        {{ else }}
        {{ warnf (print "Failure on get: " (index $list 1) )}}
        {{ end }}
    {{ end }}
    </span>
{{ end }}
</span>
</section>
{{ end }}
