<!-- Wikidata -->

<section id="wikidata">
{{ $lookup := getJSON "data/wikidata/longcache.json" }}
{{ $props := getJSON "data/wikidata/props.json" }}
{{ $l := $lookup.longcache }}
{{ $include := (slice "P10291" "P1037" "P1040" "P1092" "P1114" "P115" "P1174" "P118" "P123" "P126" "P127" "P131" "P1327" "P137" "P138" "P1387" "P1433" "P1449" "P1451" "P1454" "P1532" "P1546" "P155" "P159" "P17" "P1701" "P1830" "P189" "P199" "P1997" "P2002" "P2003" "P2013" "P210" "P2226" "P2652" "P2670" "P275" "P286" "P291" "P3174" "P3320" "P3362" "P344" "P355" "P361" "P4003" "P414" "P457" "P488" "P495" "P50" "P505" "P5052" "P5054" "P527" "P5769" "P7014" "P7071" "P7169" "P740" "P749" "P847" "P85" "P859" "P89" "P968" "P170" "P921" "P8525" "P3185" "P463" "P1056" "P17" "P31" )}}
{{ with .Get "code" }}
<h2>wikidata</h2><a href="https://wikidata.org/wiki/{{.}}" class="source">(source)</a>
<p>
{{ $data := getJSON "data/wikidata/wikidatacache/" . ".json" }}
{{ range $data.entities }}
<h3>{{ .labels.en.value }}</h3>
{{ range .claims }}{{ range . }}
{{ with .mainsnak }}
{{ if isset . "datavalue" }}
{{ if in $include .property }}
{{ if eq .property "P2002" }}
<p><b>twitter</b>: <a href="https://twitter.com/{{ .datavalue.value }}">@{{ .datavalue.value }}</a> </p>
{{ else }}
{{ $d := .datavalue.value}}
{{ if isset $d "id" }}
<p>{{ index $props .property }}:<a href="{{ if eq (index $l .datavalue.value.id).wiki "null" }}https://wikidata.org/wiki/{{ .datavalue.value.id }}{{else}}{{ (index $l .datavalue.value.id).wiki }}{{end}}">{{ (index $l .datavalue.value.id).label }}</a>
{{ else }}
<p>{{ index $props .property }}: {{ .datavalue.value }} </p>
{{ end }}
{{ end }}
{{ else }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}{{ end }}{{ end }}
</p>
{{ end }}
</section>
