<!-- Wikidata -->

<section id="wikidata">
{{ $props := getJSON "data/wikidata/props.json" }}
{{ $include := (slice "P10291" "P1037" "P1040" "P1092" "P1114" "P115" "P1174" "P118" "P123" "P126" "P127" "P131" "P1327" "P137" "P138" "P1387" "P1433" "P1449" "P1451" "P1454" "P1532" "P1546" "P155" "P159" "P17" "P1701" "P1830" "P189" "P199" "P1997" "P2002" "P2003" "P2013" "P210" "P2226" "P2652" "P2670" "P275" "P286" "P291" "P3174" "P3320" "P3362" "P344" "P355" "P361" "P4003" "P414" "P457" "P488" "P495" "P50" "P505" "P5052" "P5054" "P527" "P5769" "P7014" "P7071" "P7169" "P740" "P749" "P847" "P85" "P859" "P89" "P968" "P170" "P921" "P8525" "P3185" "P463" "P1056" "P17" "P31" )}}
{{ with .Get "code" }}
{{ $code := . }}
    {{ $data := getJSON "data/wikidata/wikidatacache/" . ".json" }}
    {{ range $data.entities }}
<button type="button" class="collapsible active" ><h2>{{ .labels.en.value }}</h2><a href="https://wikidata.org/wiki/{{$code}}" class="source">(wikidata)</a></button>
<section class="section-content" style="display:block;">
    <p>
        {{ range .claims }}{{ range . }}
        {{ with .mainsnak }}
            {{ if in $include .property }}
                {{ $p := .property }}
                {{ with .datavalue }}
                    {{ $d := .value}}
                    {{ if isset $d "id" }}
                        {{ if fileExists (print "data/wikipedia/longcache/" $d.id ".json") }}
                            {{ $q := getJSON "data/wikipedia/longcache/" $d.id ".json" }}
                            {{ range $q.entities}}
                            {{ if eq .sitelinks.enwiki.value "null" }}
                            <p><b>{{ index $props $p }}:</b><a href="https://wikidata.org/wiki/{{ $d.id }}">{{ .labels.en.value }}</a>
                            {{else}}
                            <p><b>{{ index $props $p }}:</b><span class="hover-anchor" onmouseover="loadWikiInfo(this)"> <a target="_blank" href="{{ .sitelinks.enwiki.url }}" >{{ .labels.en.value }}</a><span class="hover-pop dot">This will be a little pop-out wikipedia explanation that appears on hover</span></span>
                            {{end}}
                            {{ end }}
                        {{ else }}
                            {{ with $result := getJSON "https://www.wikidata.org/entity/" $d.id }}
                                {{ range .entities}}
                            {{ if eq .sitelinks.enwiki.value "null" }}
                            <p><b>{{ index $props $p }}:</b><a href="https://wikidata.org/wiki/{{ $d.id }}">{{ .labels.en.value }}</a>
                            {{else}}
                            <p><b>{{ index $props $p }}:</b><span class="hover-anchor" onmouseover="loadWikiInfo(this)"> <a target="_blank" href="{{ .sitelinks.enwiki.url }}" >{{ .labels.en.value }}</a><span class="hover-pop dot">This will be a little pop-out wikipedia explanation that appears on hover</span></span>
                            {{end}}
                                {{ end }}
                            {{ else }}
                            {{ warnf (print "Failure on get: " $d.id )}}
                            {{ end }}
                        {{ end }}
                    {{ else }}
                        <p>{{ index $props $p }}: {{ .value }} </p>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ end }}{{ end }}
    {{ end }}
    </section>
    </p>
{{ end }}
</section>
