/* BEGIN Flex */
@font-face {
  font-family: "Roboto Flex";
  src: url("/fonts/RobotoFlex.woff2") format("woff2"), url("/fonts/RobotoFlex.woff") format("woff");}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif-VariableFont.ttf");}
/* BEGIN Mono */
@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto-Mono-Regular.woff2") format("woff2"), url("/fonts/Roboto-Mono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* END Black */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* @font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Bold.ttf");
  font-weight: 700;}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-SemiBold.ttf");
  font-weight: 600;}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Medium.ttf");
  font-weight: 500;}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.ttf");
  font-weight: 400;}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Light.ttf");
  font-weight: 300;}
  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
div, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  --animation-delay: 0.2s;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  /* font-family: "Roboto Flex", sans-serif; */
  transition: width var(--animation-delay), 
             height var(--animation-delay), 
         max-height var(--animation-delay), 
          transform var(--animation-delay), 
         box-shadow var(--animation-delay), 
                top var(--animation-delay),
               left var(--animation-delay),
             bottom var(--animation-delay),
             margin var(--animation-delay),
          font-size var(--animation-delay),
         background var(--animation-delay), 
              color var(--animation-delay),
   background-color var(--animation-delay);
}

.dialBacking{
    width: 80px;
    height: 80px;
    content: url("/icon/dial-empty.svg");
    position: absolute;
    transform: rotate(45deg);
	filter: brightness(var(--brightness));
}
.dial{
    content: url("/icon/dial.svg");
    width: 80px;
    height: 80px;
    animation: sector 1s calc(var(--score)/var(--outOf));
    animation-timing-function: steps(360);
    animation-fill-mode: forwards;
    transform: rotate(45deg);
	filter: brightness(var(--brightness));
}

@keyframes moveIn {
    from {
        transform: translate(var(--startx), var(--starty));
    }
    to {
        transform: translate(var(--endx), var(--endy));
    }
}

@keyframes sector{
  from {
    clip-path: polygon(50% 50%, 0% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%);
  }
  25.000001% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 0%);
  }
  50%{
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%);
  }
  50.000001%{
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  75%{
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  75.000001%{
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
  }
  to{
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
}

:root{
    --chev: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjgzMzMgMTMuMzMzNEw2LjUgOC4wMDAwNEwxMS44MzMzIDIuNjY2NzEiIHN0cm9rZT0iIzM0MzQzNCIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K';
    --chev-darkm: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjgzMzMgMTMuMzMzNEw2LjUgOC4wMDAwNEwxMS44MzMzIDIuNjY2NzEiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K';
    --image-source: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3e%3cpath stroke='%2308D735' stroke-linecap='square' stroke-linejoin='round' d='M7.334 3.333h-4v9.334h9.333v-4M8.668 7.333l4.667-4.666M14 2h-4m4 0v4'/%3e%3c/svg%3e");
    --image-social: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' fill='none'%3e%3cpath fill='%231A1A1A' fill-rule='evenodd' d='M12.204 2.092A20.75 20.75 0 0 1 41.5 20.999v2.857a6.465 6.465 0 0 1-12.674 1.797 9.317 9.317 0 0 1-8.076 4.667A9.321 9.321 0 1 1 30.071 21v2.857a4.965 4.965 0 0 0 9.929 0v-2.857a19.25 19.25 0 1 0-8.25 15.799l.857 1.23A20.75 20.75 0 1 1 12.204 2.093Zm16.367 18.907a7.821 7.821 0 1 0-15.642 0 7.821 7.821 0 0 0 15.642 0Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --image-similar: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3e%3cpath fill='%23343434' fill-rule='evenodd' d='M10 14.5a1.5 1.5 0 0 1 1.5-1.5h17a1.5 1.5 0 0 1 1.5 1.5v11a1.5 1.5 0 0 1-1.5 1.5h-1v-1h1a.5.5 0 0 0 .5-.5v-11a.5.5 0 0 0-.5-.5h-17a.5.5 0 0 0-.5.5V18h-1v-3.5Z' clip-rule='evenodd'/%3e%3cpath fill='%23343434' fill-rule='evenodd' d='M14 7.5A1.5 1.5 0 0 1 15.5 6h17A1.5 1.5 0 0 1 34 7.5v11a1.5 1.5 0 0 1-1.5 1.5h-1v-1h1a.5.5 0 0 0 .5-.5v-11a.5.5 0 0 0-.5-.5h-17a.5.5 0 0 0-.5.5V11h-1V7.5Z' clip-rule='evenodd'/%3e%3crect width='19' height='13' x='6.5' y='20.5' stroke='%23343434' rx='.5'/%3e%3cpath fill='%23343434' d='M7 22h18v1H7z'/%3e%3cpath stroke='%23343434' d='M8.5 24.5h6v6h-6z'/%3e%3cpath stroke='%23343434' stroke-width='.5' d='M17.25 24.25h6.5v.5h-6.5zM17.25 26.25h1.5v.5h-1.5zM20.25 26.25h3.5v.5h-3.5zM17.25 28.25h4.5v.5h-4.5zM17.25 30.25h2.5v.5h-2.5zM21.25 30.25h2.5v.5h-2.5zM23.25 28.25h.5v.5h-.5z'/%3e%3c/svg%3e");
    --image-graph: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3e%3ccircle cx='16.5' cy='14.5' r='7' stroke='%23343434'/%3e%3ccircle cx='30.5' cy='9.5' r='3' stroke='%23343434'/%3e%3ccircle cx='10' cy='26' r='3.5' stroke='%23343434'/%3e%3ccircle cx='19' cy='31' r='2.5' stroke='%23343434'/%3e%3ccircle cx='29' cy='28' r='4.5' stroke='%23343434'/%3e%3cpath stroke='%23343434' d='m23.154 12.271 4.571-1.632M21.195 19.86l4.597 4.95M11.316 22.749l1.431-2.453M24.739 29.343 21 30.5'/%3e%3c/svg%3e");
    --image-priority-list: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' fill='none'%3e%3cpath fill='%23717171' d='M11 6a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0ZM6.5 6a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0Zm-3 1.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3ZM11 11a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0Zm-3 1.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3ZM2 11a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0Z'/%3e%3c/svg%3e");
    --image-login: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMjAgMjAnIHZlcnNpb249JzEuMScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyBmaWxsPSdub25lJz48Y2lyY2xlIHN0eWxlPSdzdHJva2U6IzM0MzQzNDtzdHJva2Utd2lkdGg6LjU7JyBjeD0nMTAnIGN5PSc2JyByPScyLjMnIC8+PHBhdGggc3R5bGU9J3N0cm9rZTojMzQzNDM0O3N0cm9rZS13aWR0aDouNTsnIGQ9J00gOS45MTc3NDA3LDguNzY3NDg3NSBDIDEzLjU3OTk3OCw4Ljg0ODM1MDEgMTMuNDg5MTAyLDExLjAyNTUwNiAxMy40Mzc5OCwxMC45NDAxODggViAxNi43OTM3IEggNi41NjIwMjAzIHYgLTUuODAyMzg5IGMgMCwwIDAuMTEyODQzLC0yLjIyMzgyMzUgMy4zNTU3MjA0LC0yLjIyMzgyMzUgeicvPjwvc3ZnPg==");
    --image-cool-star-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none'%3e%3cpath fill='white' stroke='%23343434' d='M.5.5h47v47H.5z' style='fill:none'/%3e%3cpath fill='white' stroke='%23343434' d='M21.024 8.082c.981-2.776 4.971-2.776 5.952 0l2.23 6.314a3.147 3.147 0 0 0 2.911 2.082l6.791.136c2.986.06 4.22 3.794 1.84 5.57l-5.413 4.039a3.073 3.073 0 0 0-1.112 3.368l1.967 6.398c.864 2.814-2.364 5.122-4.815 3.443l-5.576-3.818a3.192 3.192 0 0 0-3.598 0l-5.576 3.818c-2.451 1.679-5.68-.63-4.815-3.443l1.967-6.398a3.073 3.073 0 0 0-1.112-3.368l-5.412-4.039c-2.38-1.776-1.148-5.51 1.839-5.57l6.79-.136a3.147 3.147 0 0 0 2.912-2.082l2.23-6.314Z' style='fill:none'/%3e%3c/svg%3e");
    --image-settings: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3e%3cpath stroke='%23343434' stroke-linecap='square' d='M19 15.889h-7.778m-6.222 0h1.556M19 8.111h-2.333M5 8.111h7M8.89 13.556a2.333 2.333 0 1 0 0 4.666 2.333 2.333 0 0 0 0-4.667ZM14.334 5.778a2.333 2.333 0 1 0 0 4.666 2.333 2.333 0 0 0 0-4.666Z'/%3e%3c/svg%3e");
    --image-cool-star-in: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none'%3e%3cpath d='M.5.5v47h47V.5H.5zM24 6c1.243 0 2.486.694 2.977 2.082l2.228 6.314a3.147 3.147 0 0 0 2.912 2.083l6.791.134c2.986.06 4.22 3.795 1.84 5.57l-5.414 4.04a3.073 3.073 0 0 0-1.111 3.369l1.966 6.396c.865 2.814-2.362 5.123-4.814 3.444l-5.576-3.819a3.19 3.19 0 0 0-3.598 0l-5.576 3.819c-2.452 1.679-5.68-.63-4.814-3.444l1.966-6.396a3.073 3.073 0 0 0-1.111-3.37l-5.414-4.038c-2.38-1.776-1.147-5.51 1.84-5.57l6.79-.135a3.147 3.147 0 0 0 2.913-2.083l2.228-6.314C21.513 6.694 22.757 6 24 6z' style='fill:%23333'/%3e%3cpath stroke='%23343434' d='M.5.5h47v47H.5z'/%3e%3c/svg%3e");
    --image-roudel: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3e%3ccircle cx='20' cy='20' r='18' fill='white'/%3e%3cpath fill='%231A1A1A' d='M18.201 14.181h3.657v14.536a1.823 1.823 0 0 1-1.828 1.817 1.823 1.823 0 0 1-1.829-1.817V14.181ZM18.201 10.547c0-1.003.819-1.817 1.829-1.817s1.828.814 1.828 1.817a1.823 1.823 0 0 1-1.828 1.817 1.823 1.823 0 0 1-1.829-1.817Z'/%3e%3cpath fill='%231A1A1A' d='m10.318 21.634 1.292-1.285a1.836 1.836 0 0 1 2.586 0l8.402 8.351-2.585 2.57-9.696-9.636Z'/%3e%3cpath fill='%231A1A1A' d='M25.804 20.349a1.836 1.836 0 0 1 2.586 0l1.293 1.285-9.696 9.636-2.585-2.57 8.402-8.351Z'/%3e%3cpath fill='%231A1A1A' fill-rule='evenodd' d='M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20ZM20 37.46c9.643 0 17.46-7.817 17.46-17.46S29.643 2.54 20 2.54 2.54 10.357 2.54 20 10.357 37.46 20 37.46Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --path-priority-list: path('M11 6a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0ZM6.5 6a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0Zm-3 1.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3ZM11 11a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0Zm-3 1.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3ZM2 11a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0Z');
    --image-carbon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMjAgMTIwJz48cGF0aCBkPSdNMTA3LjU4IDgwLjZjMCAyMC41MS0xNi42MyAzNy4xNC0zNy4xNDMgMzcuMTQyLTIwLjUxNC0uMDAyLTM3LjE0My0xNi42My0zNy4xNDMtMzcuMTQzIDAtOS43NSAyLjIwMy0yMy45MiAxNS4xNTYtMzYuODggMjMuNjk4LTIzLjcgMjQuODEtMzcuMyAyNC44MS0zNy4zIDI4LjQ4IDI4LjQ4IDM0LjMyIDUzLjY2IDM0LjMyIDc0LjE3MnonIGZpbGw9JyMwMTAxMDEnLz48cGF0aCBkPSdNMjkuODMzIDI4LjVzMy40NiAyMi42NjcgMjMuNTU4IDM1LjYxNmMxMS4xNiA3LjE5IDM0LjI4IDI3LjMyMiAzNC4yOCAzNC4zODQgMCAxNC44Ni0zNS4zNCAxOS4yNC01MC4yIDE5LjI0cy0yNi45MS0xMi4wNDctMjYuOTEtMjYuOTA4YzAtMTQuODYzLTEuMzUtNDEuNyAxOS4yOC02Mi4zMzJ6JyBmaWxsPScjMDEwMTAxJy8+PHBhdGggZD0nTTYwLjkyIDQ5LjE3N3MuNiA3LjM3IDEzLjQ0MiAyMC4yMTJjNy4wMTggNy4wMSA4LjIxIDE0LjY5IDguMjEgMTkuOTcgMCAxMS4xMTItOS4wMSAyMC4xMjMtMjAuMTI0IDIwLjEyM3MtMjAuMTI2LTkuMDEtMjAuMTI1LTIwLjEyNWMwLTExLjExIDMuMTY2LTI0Ljc1NyAxOC41OTYtNDAuMTg4eicgZmlsbD0nI2ZmZicvPjwvc3ZnPg==");
    --image-lightning: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMjAgMTIwJz48cGF0aCBkPSdNMTA2Ljc0IDQxLjEzNUw0Ny43MSAxMTkuN2wxMy42MS01NS4yNi0zMS42NjQuNTMzTDQyLjU5IDBoMzguNDA3TDY1LjU4IDQxLjE3eicvPjwvc3ZnPg==");
}

/* Colours */
html {
    --c-main: #08D735;
    --c-background: #FFFFFF;
    --c-backgroundo: #FFFFFFAA;
    --c-background-units: #FFF;
    --c-backgroundo-units: #FFFFFFAA;
    --c-light-text: #343434;
    --c-heavy-text: #1A1A1A;
    --c-interior-border: #DDD;
    --c-secondary-background: #DDDDDD;
    --c-secondary-backgroundo: #DDDDDDAA;
    --c-hover: #f5f5f5;
    --c-border-color: #AAA;
    --c-linky-text: #00F;
    --c-linky-text-minor: #222;
    --s-small: 160px;
    --s-medium: 640px;
    --s-large: 840px;
    --cool-star: 50px;
	--brightness: 0;
    --first-frame-from: rgba(255,255,255, 1);
    --first-frame-to: rgba(255,255,255, 0);
    --chart-back: #DDD;
    --chart-fore: #343434;
    --button-back: #343434;
    --button-text: #FFF;
}

/* --cool-star: calc(50vw / 8); */
html.dark-theme {
    --c-main: #08D735;
    --c-background: #1A1A1A;
    --c-backgroundo: #1A1A1AAA;
    --c-background-units: #FFF;
    --c-backgroundo-units: #FFFFFFAA;
    --c-light-text: #FFF;
	--c-heavy-text: #1A1A1A;
    --c-interior-border: #FFF;
    --c-linky-text: #7373FF;
    --c-linky-text-minor: #DDD;
    --c-secondary-background: #2A2A2A;
    --c-secondary-backgroundo: #2A2A2AAA;
    --c-hover: #5f5f5f;
	--brightness: 10;
    --first-frame-from: rgba(26,26,26, 1);
    --first-frame-to: rgba(26,26,26, 0);
}
html.debugColors {
    --c-main: #ff4500;
    .co-name, h2 {
        color: var(--c-main)!important;
    }
}

#backButton > div{
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjgzMzMgMTMuMzMzNEw2LjUgOC4wMDAwNEwxMS44MzMzIDIuNjY2NzEiIHN0cm9rZT0iIzM0MzQzNCIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K');
}

@media (prefers-color-scheme: dark) {
    html {
        --c-main: #08D735;
        --c-background: #1A1A1A;
        --c-backgroundo: #1A1A1AAA;
        --c-background-units: #FFF;
        --c-backgroundo-units: #FFFFFFAA;
        --c-light-text: #FFF;
    	--c-heavy-text: #1A1A1A;
        --c-interior-border: #FFF;
        --c-linky-text: #7373FF;
        --c-linky-text-minor: #DDD;
        --c-secondary-background: #2A2A2A;
        --c-secondary-backgroundo: #2A2A2AAA;
        --c-hover: #5f5f5f;
    	--brightness: 10;
        --first-frame-from: rgba(26,26,26, 1);
        --first-frame-to: rgba(26,26,26, 0);
    }

    html.light-theme {
        --c-main: #08D735;
        --c-background: #FFFFFF;
        --c-backgroundo: #FFFFFFAA;
        --c-background-units: #FFF;
        --c-backgroundo-units: #FFFFFFAA;
        --c-light-text: #343434;
        --c-heavy-text: #1A1A1A;
        --c-interior-border: #DDDDDD;
        --c-secondary-background: #DDDDDD;
        --c-secondary-backgroundo: #DDDDDDAA;
        --c-hover: #f5f5f5;
        --c-linky-text: #00F;
        --c-linky-text-minor: #222;
    	--brightness: 0;
        --first-frame-from: rgba(255,255,255, 1);
        --first-frame-to: rgba(255,255,255, 0);
    }
    #backButton > div {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjgzMzMgMTMuMzMzNEw2LjUgOC4wMDAwNEwxMS44MzMzIDIuNjY2NzEiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K');

    }
}

#backButton.dark-theme > div {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjgzMzMgMTMuMzMzNEw2LjUgOC4wMDAwNEwxMS44MzMzIDIuNjY2NzEiIHN0cm9rZT0iIzM0MzQzNCIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K');
}


/* standard stuff */
a {
    text-decoration: none;
    color: var(--c-main);
}

b {
    font-weight: 700;
}

body {
    color: var(--c-light-text);
    font-family: 'Roboto Flex', sans-serif;
}
html {
    overflow-x: hidden;
}

hr {
    border: var(--c-light-text) solid 1px;
    display: none;
}

/* Scrollbar */
@supports (scroll-behavior: smooth) {
    html {
        scroll-behavior: smooth;
    }
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c-background);
    border: var(--c-light-text) solid 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--c-light-text);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--c-heavy-text);
}

@charset "UTF-8";

:root {
    --star-color: var(--c-background-units);
    --star-background: var(--c-light-text);
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

.pie {
  --p:100;
  --b:16px;
  --c:var(--chart-back);
  --w:180px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  z-index: 1;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background:
    /* radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat, */
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
/*
.pie:after {
  inset: calc(50% - var(--b)/2);
  background: var(--c);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
*/
.animate {
  --ptime: calc((0.5s * var(--p))/ 30);
  animation: p var(--ptime);
}
.no-round:before {
  background-size: 0 0, auto;
}
.no-round:after {
  content: none;
}
@keyframes p{
  from{--p:0}
}

.recolorOutlineOnOpen {
    --startc: #00000000;
    --endc: #000000dd;
    --start: 0px;
    --end: 128px;
    animation: recolorOutline var(--animation-delay);
    animation-fill-mode: forwards;
}
@keyframes recolorOutline{
    from {
        outline-color: var(--startc);
        height: var(--start);
        padding: 0px;
    }
    to {
        outline-color: var(--endc);
        height: var(--end);
    }
}

.resizeHeightOnOpen {
    --start: 0px;
    --end: 128px;
    animation: resizeHeight var(--animation-delay);
    animation-fill-mode: forwards;
}
@keyframes resizeHeight{
    from {
        height: var(--start);
        padding: 0px;
    }
    to {
        height: var(--end);
    }
}

.iv-tooltip {
.charts-css .tooltip {
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 5px 10px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: .9rem;
}
}
}
input[type='range'] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
    background: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #003D7C;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;
}


input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

.rangeslider{
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 20px;
}
.rangeslider input{
    position: absolute;
    width: 100%;

}
.rangeslider{
    position: absolute;
}

.rangeslider span{
    position: absolute;
    margin-top: 30px;
    left: 0;
}

.rangeslider .right{
   position: relative;
   float: right;
   margin-right: -5px;
}


/* Proof of concept for Firefox */
@-moz-document url-prefix() {
  .rangeslider::before{
    content:'';
    width:100%;
    height:2px;
    background: #003D7C;
    display:block;
    position: relative;
    top:16px;
  }

  input[type='range']:nth-child(1){
    position:absolute;
    top:35px !important;
    overflow:visible !important;
    height:0;
  }

  input[type='range']:nth-child(2){
    position:absolute;
    top:35px !important;
    overflow:visible !important;
    height:0;
  }
input[type='range']::-moz-range-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #003D7C;
  border-radius: 25px;
  z-index: 1;
}

  input[type='range']:nth-child(1)::-moz-range-thumb {
      transform: translateY(-20px);
  }
  input[type='range']:nth-child(2)::-moz-range-thumb {
      transform: translateY(-20px);
  }
}

.pushedButton {
    background-color: var(--c-main);
}
