/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

b {
    color: black;
    font-weight: 1000;
}



@font-face {
   font-family: 'Peace Reg';
   font-style: normal;
   font-weight: 400;
   src: url('/fonts/Peace2020-Regular.otf');
 }
 
 @font-face {
   font-family: 'Peace Semi Bold';
   font-style: normal;
   font-weight: 600;
   src: url('/fonts/Peace2020-SemiBold.otf');
 }
 
 @font-face {
   font-family: 'Peace Italic';
   font-style: normal;
   font-weight: 400;
   src: url('/fonts/Peace-Italic.otf');
 }

body {
   margin: 0;
   color: #444;
   font-family: 'Peace Reg', sans-serif;
}

html {
   scroll-behavior: smooth;
   background-color: none;
}

a {
   text-decoration: none;
   color: orangered;
}
a.email-link {
   text-decoration: none;
   color: blue;
}

.grey {
   color: #DDD;
}

.mobile-bold {
   font-weight: 600;
}

.bold {
   font-weight: 600;
}

.plugin-header {
   font-size: 21px;
   display: flex;
   flex-direction: row;
   position: sticky;
   top: 0;
   z-index: 99;
}

.disclaimer-text {
   font-size: 14px;
   margin: 10px;
}

.company-info {
   font-size: 21px;
   text-align: center;
   margin: 10px;
}

.par-headings {
   font-size: 14px;
   display: block;
   margin: 10px 0 0 0;
}

.mb-5px {
	margin-bottom: 5px;
}

.g-bg {
   background-color: #DDD;
   color: #444;
   display: inline-block;
}

.bk-bg {
	background-color: #444;
	color: #DDD;
	width: fit-content;
	width: -moz-fit-content;
   display: inline-block;
}

.co-name {
   background-color: #98FB98;
   color: #444;
   font-size: 3em;
   font-weight: 1000;
   margin-left: 5px;
   padding-left: 5px;
   padding-top: .16em;
}

.point {
   cursor: pointer;
}

.dot {
   position: relative;
   margin: 10px 10px 0 10px;
}

.dot:before {
   width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	background-color: #444;
	top: -10px;
	left: -10px;
	content: ' ';
}

.dot-right {
   position: relative;
   margin: 10px 10px 0 10px;
}

.dot-right:before {
   width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	background-color: #444;
	top: -10px;
	right: -10px;
	content: ' ';
}

.back-to {
   margin-right: -3px;
}

.jump-to-section-wrapper {
   margin: 10px 10px 30px 10px;
   font-size: 21px;
}

.jump-to-section {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.jump-to-section h1 {
   background-color: #444;
   color: #DDD;
}

.jump-to-section h2 {
   background-color: #DDD;
   color: #444;
}

.jump-to-section > * {
   margin-right: 5px;
   margin-bottom: 5px;
   display: block;
   font-weight: 600;
}

.jump-to-section-title {
   margin-bottom: 10px;
}

.jump-to-section p,
.jump-to-section pre,
.jump-to-section h3,
.jump-to-section #in-the-news,
.jump-to-section .newstitle {
   display: none;
}

.in-the-news-wrapper p {
   padding-left: 15vw;
   padding-right: 15vw;
}

.in-the-news-wrapper h1,
.in-the-news-wrapper h2,
.in-the-news-wrapper h3 {
   text-align: center;
   font-weight: 400;
   padding-left: 15vw;
   padding-right: 15vw;
   margin: 0;
   padding-top: 15px;
   padding-bottom: 15px;
}

.in-the-news-wrapper h1 {
   margin-top: 40px;
   font-size: 21px;
   background-color: #444;
   color: #DDD;
}

.in-the-news-wrapper h2 {
   background-color: #DDD;
   font-size: 21px;
}

.in-the-news-wrapper p {
   margin: 20px 0;
}

.rating-count {
   font-size: 14px;
}

pre {
   white-space: pre-wrap;
   overflow: inherit;
   font-size: 14px;
   margin-bottom: 20px;
   margin-top: 0;
   padding-left: 15vw;
   padding-right: 15vw;
}

pre code {
   font-family: 'Peace Reg', sans-serif;
}

.hover-anchor {
   position: relative;
}

.hover-anchor:hover {
   background-color: #98FB98;
}

.hover-anchor:hover .hover-pop {
   visibility: visible;
}

.hover-pop {
   visibility: hidden;
   position: absolute;
   top: 31px;
   left: 0;
   z-index: 99;
   font-size: 14px;
   min-width: 200px;
   max-width: 300px;
   text-align: left;
   padding: 10px;
   color: #DDD;
   background-color: #444;
}

.dot-right.hover-pop {
   left: auto;
   right: 0;
}
    
.thumbnail {
   width: 100%;
   height: auto;
}

h2 {
    font-size: 1.1em;
    display: inline;
    margin-right: 5px; }
h3 {
    font-size: 0.6em;
    display: inline;
    white-space: nowrap;
    margin-right: 5px; }

#isin, #wikidata, #bcorp, #mbfc, #wikipedia, #goodonyou, #glassdoor   { 
    margin: .16em;
    padding: .16em;
    background-color:#fefefe; 
    border: solid 1px black; 
    height: fit-content;
}

#isin      {filter: drop-shadow(.816em .816em 0px brown);}
#wikidata  {filter: drop-shadow(.816em .816em 0px purple);}
#bcorp     {filter: drop-shadow(.816em .816em 0px green);}
#mbfc      {filter: drop-shadow(.816em .816em 0px orange);}
#wikipedia {filter: drop-shadow(.816em .816em 0px orangered);}
#goodonyou {filter: drop-shadow(.816em .816em 0px red);}
#glassdoor {filter: drop-shadow(.816em .816em 0px hotpink);}

#isin h2 { color: brown; }
#goodonyou h2 { color: red; }
#glassdoor h2 { color: hotpink; }
#bcorp h2     { color: green; }
#wikidata h2     { color: purple; }
#mbfc h2     { color: orange; }
#wikipedia h2     { color: orangered; }

.similar-site {
    margin: .16em;
    padding: .5em;
    background-color:#fefefe; 
    border: solid 1px black; 
    filter: drop-shadow(.16em .16em 0px #fb98fb); 
    height: fit-content;
}

#button-list{
    margin: 0 1em;
}

#similar-sites{
    flex-flow: row;
    display:inline-flex;
    flex-wrap: wrap;
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 500px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}
.tags{
    display: flex;
    max-width: 20em;
    flex-wrap: wrap;
}
.P127, .P355, .P123, .P749, .P112, .P488, .P1037 {
  position:relative;
  z-index:1;
  font-size: x-small;
  color: #eee;
  margin:0 0.5em;
  padding:0 0.2em;
  display: inline-block;
}
.P127:before, .P355:before, .P123:before, .P749:before, .P112:before, .P488:before, .P1037:before {
  content:"";
  z-index:-2;
  left:-0.7em;
  top:0.2em;
  border-width:0.6em;
  border-style:solid;
  border-color:inherit;
  position:absolute;
  width:calc(100% - 0.5em);
  border-left-color:transparent;
}
.P127:after, .P355:after, .P123:after, .P749:after, .P112:after, .P488:after, .P1037:after {
  content:"";
  z-index:-2;
  right:0;
  top:0.2em;
  border-width:0.6em;
  border-style:solid;
  border-color:inherit;
  position:absolute;
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
  transform:rotate(180deg);
  transform-origin:center right;
}

.P127{ border-color: blue;}
.P355{ border-color: yellow; color: #111;}
.P123{ border-color: red;}
.P749{ border-color: green;}
.P112{ border-color: purple;}
.P488{ border-color: orange; color: #111;}
.P1037{ border-color: magenta; color:#111;}

#contrast{
    color: white;
    font-weight: bold;
    filter: drop-shadow(.1em .1em 0px black); 
    mix-blend-mode: overlay;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.source { display: inline; font-size: 0.6em; }
.content {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.section-content {
  padding: 0 18px;
  background-color: #f1f1f1;
  transition: max-height 0.5s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
