#Invisible-boycott,
#Invisible-vote>* {
    font-size: 1rem;
    font-family: 'Roboto Flex', sans-serif;
    font-variation-settings: 'wdth' 151;
    width: 100%;
    height: 2.5em;
    padding-top: 10px;
    border-right: var(--c-background) solid 1px;
    color: var(--c-background);
    background-color: var(--c-light-text);
}

#Invisible-dislike {
    filter: hue-rotate(222deg);
}

:is(#Invisible-dislike, #Invisible-like):after {
    content: ' ('var(--count)')';
    display: inline-table;
    padding-left: 4px;
}

#Invisible-boycott,
#Invisible-vote {
    border-radius: 0;
    margin: 0;
    position: fixed;
    text-align: center;
}
#Invisible-vote {
    bottom: 2.5em;
    display: flex;
    justify-content: space-between;
    z-index: 6;
}

#Invisible-boycott {
    border-right: none;
    bottom: 0;
    z-index: 5;
}

.invisible-disclaimer-title {
    display: inline;
    order: 99;
}

#sortlist {
    display: flex!important;
    flex-direction: column;
}

#disclaimer {
    border-top: var(--c-light-text) solid 1px;
    font-size: 0.75em;
    display: block;
    padding: 2.5em;
    padding-bottom: 90px;
    position: relative;
}

#disclaimer :is(p:first-of-type, h2) {
    padding: 0 0 16px;
}

#disclaimer :is( p:last-of-type, a) {
    display: inline;
    padding: 0;
}

#disclaimer h2>div {
    font-size: 1rem;
    font-variation-settings: 'wght'600, 'wdth'100;
    font-weight: 600;
}


.sectionTitle {
    font-size: 1.125em;
    display: block;
    width: auto;
    text-align: center;
    font-variation-settings: 'wght'400;
    font-weight: 400;
    line-height: 120%;
    border-bottom: var(--c-interior-border) solid 1px;
    padding: 16px 16px 8px;
    margin-bottom: 0;
}

#contentSection {
    padding: 10px;
}
.content>section {
    border: var(--c-interior-border) solid 1px;
    margin: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

label.languageSelect {
    width: 100%;
    position: relative;
    display: inline;
    font-size: 1.25rem;
    height: 2.5rem;
}

label.languageSelect>h2 {
    position: absolute;
    z-index: 5;
    font-family: 'Roboto Flex', sans-serif;
    font-variation-settings: 'wght'400;
    font-weight: 400;
    color: var(--c-light-text);
    top: 8px;
    left: 32px;
    font-size: 14px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--c-secondary-background);
    color: var(--c-light-text);
    border: var(--c-light-text) solid 1px;
    direction: rtl;
    margin: 0;
    padding-right: 16px;
    padding-left: 16px;
    border-right: none;
    width: 100%;
    height: 2.5rem;
    position: relative;
}

select:after {
    position: absolute;
    content: '\25BC';
    color: #FFF;
    top: 0;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
}

select:focus {
    border: var(--c-light-text) solid 1px;
}

option {
    background-color: var(--c-interior-border);
    font-family: 'Roboto Mono', monospace;
    height: 2.5rem;
}

:is(.mobile) section:not(.expanded) .coolStar {
    --division: 1!important;
}
.coolStar {
    --relwidth: calc(var(--cool-star) * var(--division));
    box-sizing: content-box;
    content: url(/icon/star.svg);
    width: var(--relwidth);
    filter: brightness(var(--brightness));
    object-fit: cover;
    object-position: 0;
    height: var(--cool-star);
    background-image: url(/icon/star-empty.svg);
    background-repeat: no-repeat;
    transition: width 0.5s, padding-right 0.5s;
    background-size: var(--cool-star) var(--cool-star);
    padding-right: calc( var(--cool-star) - var(--relwidth));
    margin: 0 2px;
}
.stars .coolStar:nth-child(1){transition-delay: 1s;}
.stars .coolStar:nth-child(2){transition-delay: 0.75s;}
.stars .coolStar:nth-child(3){transition-delay: 0.5s;}
.stars .coolStar:nth-child(4){transition-delay: 0.25s;}

#settings > label select {
    border-radius: 8px 8px 0 0;
}
#settings > div:last-child {
    border-radius: 0 0 8px 8px;
}
#settings > label select,
#settings > div {
    border-right: solid 1px;
    border-left: solid 1px;
    width: calc(100% - 32px);
    margin-left: 16px;
}
#settings>h2 {
    width: 100%;
    border: var(--c-light-text);
    background-color: var(--c-secondary-background);
    padding: 9px;
}

#settings {
    height: 100%;
    transition-duration: 0.3s;
    width: 100%;
    bottom: 200vh;
    background-color: var(--c-secondary-background);
    z-index: 10;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: black 0px 10px 100px;
}

#titlebar {
    display:flex;
    justify-content:space-between;
    position:fixed;
    border-bottom: solid 1px;
    width: 100%;
    z-index: 11;
    background-color: var(--c-background);
}

#titlebar > * {
    border-bottom: none;
}

#backButton,
#closeButton,
#roundelButton,
#settingsButton {
    background-color: transparent;
    color: var(--c-light-text);
    border: var(--c-interior-border) solid 1px;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    min-width: 40px;
}
#roundelButton {
    display: none;
    border: none;
    background-color: var(--c-background);
    background-image: url(/icon/roundel.svg);
    background-size: 40px 40px;
    transform: rotate(0deg);
    margin: 8px 16px;
}


#settingsButton>div,
#closeButton>div {
    filter: brightness(var(--brightness));
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    height: 37px;
}

#closeButton>div {
    background-image: url(/icon/close.svg);
}

#settingsButton>div {
    background-image: url(/icon/settings.svg);
}

#settingsButton {
    order: 2;
    border-left: var(--c-light-text) solid 1px;
}

#closeButton {
    order: 3;
    display: none;
    top: 12px;
    right: 16px;
    position: absolute;
}

#backButton {
    display: none;
    order: 0;
    min-width: 81px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 140%;
    align-items: center;
    z-index: 20;
    margin: 0;
    padding: 0 8px;
}

.co-name {
    font-weight: 600;
    line-height: 240%;
    height: 2.5em;
    width: 100%;
    padding: 0 0 48px 0;
}

.wikipedia {
    background-color: var(--c-background);
    color: var(--c-light-text);
    border: solid 1px #000;
    height: fit-content;
}

table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
}

th {
    font-variation-settings: 'wght'600;
    font-weight: 600;
    text-align: left;
    border-top: var(--c-interior-border) solid 1px;
    padding: 8px;
}

#similar-sites {
    display: inline-flex;
    flex-flow: wrap;
    width: 100%;
}

.similar-site {
    position: relative;
}
.similar-site:last-of-type {
    margin-bottom: 1em;
}

.similar-site a {
    color: var(--c-light-text);
    border: var(--c-border-color) solid 1px;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.similar-site .percent:after { content: "%";}
/* .similar-site .percent:before { content: "(";} */
.similar-site .percent {
    margin: auto 0;
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted #000;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 500px;
    background-color: var(--c-background);
    color: var(--c-light-text);
    border-radius: 5px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
    padding: 5px;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.source {
    color: var(--c-main)!important;
    position: absolute;
    font-size: 0.625em;
    font-family: 'Roboto Mono';
    font-weight: 400;
    line-height: 13px;
    white-space: nowrap;
    padding-right: 16px;
    order: 1001;
    z-index: 2;
}

.minisource {
    display: none;
    content: ' ';
    background-image: url(/icon/source_link.svg);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.source:after {
    display: inline-block;
    content: ' ';
    background-image: url(/icon/source_link.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    padding-right: 16px;
    width: 16px;
    height: 16px;
    right: -16px;
    position: absolute;
    bottom: -2px;
}

.wikipedia>button>span>span>a {
    display: inline;
}

.collapsible {
    color: var(--c-light-text);
    cursor: pointer;
    border: none;
    width: 100%;
    outline: none;
    padding: 0;
}

.active,
.collapsible:hover {
    background-color: var(--c-background);
}

.section-content {
    background-color: var(--c-background);
    transition: max-height .5s ease-out;
}

.collapsible:after {
    position: absolute;
    content: ' ';
    color: var(--c-background);
    bottom: 0;
    text-align: center;
    width: 100%;
}

.active:after {
    content: ' ';
}

g>path {
    z-index: 5;
}

.nodes rect {
    stroke-width: 1.5px;
    paint-order: stroke fill;
    z-index: 5;
}

.nodes text {
    paint-order: stroke fill;
    z-index: 5;
    font-family: "Roboto Mono";
}

#key {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75em;
    font-weight: 500;
    margin-left: 16px;
    margin-top: 32px;
    position: absolute;
    left: 0;
    top: 28px;
    display: inline-flex;
    z-index: 6;
}

#key div>table {
    display: inline;
    margin-right: 24px;
}

#key div>table>th {
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
}

#key div>table>td {
    height: 16px;
    line-height: 130%;
    border: none;
    padding: 0 0 0 8px;
}

#graph {
    overflow: visible;
    background-color: var(--c-background);
    transition: transform .1s;
    z-index: 5;
}

#graphButtons {
    position: fixed;
    right: 12px;
    top: -200px;
    width: 40px;
    display: grid;
    border: var(--c-border-color) solid 1px;
    border-bottom: none;
    border-radius: 4px;
    box-sizing: content-box;
}

#graphZoomIn:after { content: "+"; }
#graphZoomOut:after { content: "-"; }
#graphZoomReset:after { content: "⟲"; }

#graphZoomIn { 
    border-radius: 4px 4px 0px 0px;
}
#graphZoomReset { 
    border-radius: 0 0 4px 4px;
}
#graphButtons>button {
    background-color: var(--c-background);
    border: var(--c-border-color) solid 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    display: table-cell;
    color: var(--c-light-text);
    height: 40px;
    aspect-ratio: 1;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

ul {
    list-style-type: none;
    margin-bottom: 16px;
}

.iconclass {
    filter: brightness(var(--brightness));
    width: 3.75rem;
    height: 3.75rem;
    position: relative;
    transition: width .2s, height .2s, top .2s, bottom .2s, left .2s, right .2s;
}
/*
#wikipedia-first-frame>div:before {
    background: linear-gradient(to top, var(--first-frame-from) 0%, var(--first-frame-to) 100%);
}
*/

#wikipedia-frame {
    width: 100vw;
    top: 0px;
    right: 0px;
    height: 100vh;
    border: none;
    background-color: var(--c-background);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 25;
    padding: 8px;
}

#wikipedia-frame>h2 {
    font-size: 1.5em;
    font-variation-settings: 'wght'500;
    font-weight: 500;
    padding: 16px;
}

:is(#graph-box, #wikipedia-infocard-frame, #wikipedia-first-frame) img.iconclass {
    display: block;
    margin: 8px auto;
}

#graph-box,
#wikipedia-infocard-frame {
    justify-content: center;
    width: calc(50% - 16px);
}
.fullView {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 140%;
    height: 2.5em;
    color: var(--c-light-text);
    background-color: var(--c-background);
    border: 0;
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullView:before {
    content: ' ';
    background-image: url(/icon/chev-left.svg);
    filter: brightness(var(--brightness));
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

#wikipedia-frame-close {
    background-image: url(/icon/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-color: var(--c-background);
    border-radius: 8px;
    border: solid #aaa 1px;
    height: 40px;
    left: unset;
    min-width: 40px;
    position: absolute;
    right: 8px;
    top: 24px;
    z-index: 30;
}

.hideTilExpanded:not(.expanded) {
    display: none;
}

section.expanded #wikipedia-infocard-frame,
section.expanded #wikipedia-first-frame {
    width: 50%;
    background-color: var(--c-background);
    padding: 0;
}
section.expanded .hideTilExpanded:not(.pie) {
    display: table;
}
section.expanded .hideTilExpanded.pie {
    display: inline-grid;
    margin: 0 auto;
    position: absolute;
    inset: 64px 25%;
}

section.expanded .hideTilExpanded > *,
section.expanded .hideTilExpanded th,
section.expanded .hideTilExpanded:not(.pie) {
    width: 100%;
}

section.expanded section#social-links,
section.expanded section#similar-sites {
    display: flex!important;
    columns: 1;
}
section.expanded section#social-links > table, 
section.expanded section#similar-sites > section {
    width: 100%;
}
section.expanded section#similar-sites > section {
    margin: 4px 16px;
    display: flex;
    justify-content: space-between;
}
div.mobile > section.expanded {
    min-height: 100dvh;
}
#wikipedia-infocard-frame a,
#wikipedia-first-frame a {
    color: var(--c-light-text);
    font-variation-settings: 'wdth' 80, 'GRAD' 0, 'wght' 500;
    font-weight: 500;
}

section.expanded #wikipedia-infocard-frame>div,
section.expanded #wikipedia-first-frame>div {
    max-height: 166px;
    -webkit-box-orient: vertical;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    position: relative;
}

section.expanded #wikipedia-infocard-frame>div:before,
section.expanded #wikipedia-first-frame>div:before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4em;
    width: 100%;
    z-index: 2;
    content: "";
    pointer-events: none;
}

#wikipedia-infocard-frame>div,
#wikipedia-first-frame>div {
    overflow: hidden;
}
.expanded:is(#wikipedia-infocard-frame, #wikipedia-first-frame)>div {
    overflow: unset;
    display: block!important;
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
}

#wikipedia-frame div h2,
#wikipedia-first-frame div h2 {
    font-size: 1rem;
    font-variation-settings: 'wght'700;
    font-weight: 700;
}

figure {
    display: inline-block;
    float: right;
    max-width: min-content;
    border: var(--c-interior-border) solid 1px;
    margin: 8px;
    padding: 8px;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    line-height: 1;
}

.Stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mbfc-header,
#small-wikidata,
{
    margin-bottom: 8px;
    text-align: center;
    vertical-align: center;
    position: relative;
}

#social-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border: none;
    border-color: var(--c-border-color);
    width: 100%;
    margin-top: 8px;
}

#social-links>table {
    box-sizing: border-box;
    border-collapse: collapse;
    min-width: 50%;
    width: 50%;
    flex-grow: 2;
    overflow: hidden;
    margin: 0;
}

#social-links>table tbody tr {
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-color: var(--c-border-color);
}
#social-links>table tbody>*>* {
    font-size: 0.875em;
    border-color: var(--c-border-color);
}

#social-links>table tbody>*>th {
    font-size: 0.875em;
    font-family: 'Roboto Mono', monospace;
    font-variation-settings: 'wght'600;
    font-weight: 600;
    width: fit-content;
    padding: 8px 16px;
    border-color: var(--c-border-color);
}

#social-links>table tbody>*>td {
    z-index: 0;
    text-overflow: clip;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    border-color: var(--c-border-color);
}

#social-links>table tbody>*>tr {
    box-sizing: border-box;
    border-color: var(--c-border-color);
}



td.biaslink,
.biaslink score {
    border: var(--c-light-text) solid 1px;
    width: 169px;
    font-size: 1rem;
    gap: 8px;
    padding: 4px 8px;
}

.biaslink a {
    color: var(--c-light-text);
}

.biaslink {
    border: var(--c-border-color) solid 4px;
    border-radius: 154px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: .04em;
    height: fit-content;
    text-align: center;
    font-variation-settings: 'wght' 700;
    font-weight: 700;
    padding: 8px 16px;
}

.spacelinks {
    margin-bottom: 4px;
    transition: width .2s;
    color: var(--c-main);
    white-space: nowrap;
    font-weight: 400;
    font-size: 0.875em;
}

score {
    font-size: 3.75em;
    font-family: 'Space Grotesk';
    font-variation-settings: 'wght' 300;
    font-weight: 300;
}

div.mobile section:is(.expanded) :is(score):is(.ratingOutOf,
.ratingOutOf16,
.ratingOutOfFour,
.ratingOutOfFive,
.ratingOutOfBcorp,
.ratingOutOf100,
.ratingOutOf20,
.ratingOutOfESG) {
    font-size: 32px!important;
}
div.mobile section:not(.expanded) :is(.ratingOutOf,
.ratingOutOf16,
.ratingOutOfFour,
.ratingOutOfFive,
.ratingOutOfBcorp,
.ratingOutOf100,
.ratingOutOf20,
.ratingOutOfESG) {
    width: fit-content!important;
}
div.mobile :is(.ratingOutOf,
.ratingOutOf16,
.ratingOutOfFour,
.ratingOutOfFive,
.ratingOutOfBcorp,
.ratingOutOf100,
.ratingOutOf20,
.ratingOutOfESG) {
    font-family: 'Space Grotesk';
    font-weight: 300;
    position: relative;
    overflow: visible;
    margin: 0 auto;
}

div.mobile :not(td):is(.ratingOutOf,
.ratingOutOf16,
.ratingOutOfFour,
.ratingOutOfFive,
.ratingOutOfBcorp,
.ratingOutOf100,
.ratingOutOf20,
.ratingOutOfESG):after {
    font-size: 0.5em;
}

.ratingOutOf,
.ratingOutOf16,
.ratingOutOfFour,
.ratingOutOfFive,
.ratingOutOfBcorp,
.ratingOutOf100,
.ratingOutOf20,
.ratingOutOfESG {
    font-family: 'Roboto Flex';
    font-variation-settings: 'wght'200;
    font-weight: 200;
}
:not(td):is(.ratingOutOf,
.ratingOutOf16,
.ratingOutOfFour,
.ratingOutOfFive,
.ratingOutOfBcorp,
.ratingOutOf100,
.ratingOutOf20,
.ratingOutOfESG) {
    font-size: 3.75em;
}

div.ratingCount:after {
    content: ')';
}

div.ratingCount:before {
    content: '(';
}

.ratingCount {
    text-align: center;
    font-size: 0.875em;
    float: none !important;
    margin: 16px auto;
}

td.ratingOutOf:after {
}
.ratingOutOf:after {
    content: var(--outOf);
    margin-left: 0.4em;
}

.ratingOutOfFive:after {
    content: '/5';
}

.ratingOutOfFour:after {
    content: '/4';
}

.ratingOutOf16:after {
    content: '/16';
}

.ratingOutOf20:after {
    content: '/20';
}

.ratingOutOf100:after {
    content: '/100';
}

.ratingOutOfESG:after {
    content: '/40+';
}

.ratingOutOfBcorp:after {
    content: '/140+';
}

score:after {
    font-size: .5em;
}
section.expanded div.ratingOutOf {
    font-size: 24px;
}

#tosdr-link>div>table.leftBorder tbody tr td {
    padding-right: 16px;
    border-top: none;
}

#tosdr-link>div>table.leftBorder tbody tr td h3 {
    font-size: 0.875em;
    font-family: "Roboto Flex";
    line-height: 120%;
}

#tosdr-link>div>table.leftBorder tbody tr td p {
    font-size: 0.875em;
    font-family: "Roboto Mono";
    line-height: 140%;
    letter-spacing: .04em;
}

.switch {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 32px;
    bottom: 12px;
    right: 16px;
    align-self: flex-end;
    margin: 8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c-background);
    border: var(--c-light-text) solid 1px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
    background-color: var(--c-light-text);
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--c-interior-border);
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.switchItem h2 {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    padding: 16px;
}

.switchItem {
    border-bottom: var(--c-light-text) solid 1px;
    display: flex;
    justify-content: space-between;
}

#priority-list {
    border: var(--c-light-text) solid 1px;
    position: relative;
    display: flex;
    flex-flow: column;
}

#priority-list div {
    font-style: italic;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 14px;
    margin: 16px;
}

#priority-list h2 {
    padding: 10px 16px 0;
    font-size: 14px;
    font-weight: 400;
}

#priority-list ul>li {
    position: relative;
    display: list-item;
    border: var(--c-light-text) solid 1px;
    background: var(--c-secondary-background);
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75em;
    height: 36px;
    margin: 2px 16px;
    padding: 8px 2.5em;
}
li.held {
    z-index: 20;
    position: fixed!important;
}

div#priority-list,
label#languageSelect,
div#permaDark,
div#onScreen {
    border-top: none;
}

#priority-list ul>li:before {
    display: inline-table;
    content: ' ';
    background-image: url(/icon/reorder.svg);
    filter: brightness(var(--brightness));
    background-size: 16px 16px;
    width: 16px;
    left: 8px;
    height: 16px;
    position: absolute;
}

#graph-container h2.sectionTitle {
    position: absolute;
    width: 100%;
    height: 2.5em;
    box-sizing: border-box;
    font-size: 1.125em;
    border: var(--c-light-text) solid 1px;
    background: var(--c-background);
    z-index: 6;
    margin: 0;
    padding: 0;
}

#graph-container h2.sectionTitle:before {
    box-sizing: border-box;
    position: relative;
    display: inline-table;
    content: ' ';
    background-image: url(/icon/network.svg);
    filter: brightness(var(--brightness));
    background-size: 2.5em 2.5em;
    align-self: center;
    width: 2.5em;
    height: 2.5em;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 16px;
}

#graph-container {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    background-color: var(--c-background);
    height: 100%;
}

#disclaimer>* {
    padding: 16px 32px;
}

.content>* {
    order: 4;
    width: 100%;
}

.blankForSmall {
    order: 0;
    height: 39px;
}

.content {
    background-color: var(--c-background);
}

.leftBorder {
    border-left: var(--c-interior-border) solid 1px;
}

.leftBorder tbody tr:first-of-type > * {
    border-top: none;
}

#yahoo div table tbody .biaslink {
    border: var(--c-light-text) solid 1px;
    width: fit-content;
    font-size: 1rem;
    gap: 8px;
    margin: auto;
    padding: 4px 8px;
}

#yahoo>div>table.leftBorder>tbody>tr>td {
    padding-right: 16px;
}

div.esgKey {
    background: #eee;
    border: var(--c-border-color) solid 1px;
    border-radius: 4px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 1em 0;
}
div.esgKey h3 {
    text-align: center;
    padding: 1em;
    font-weight: 500;
    font-size: 14px;
}
table.esgKey {
    width: 100%;
}
table.esgKey tr {
    width: 100%;
}

td {
    text-align: right;
    border-top: var(--c-interior-border) solid 1px;
    padding: 8px;
}

#graph-box,
#wikipedia-infocard-frame,
#wikipedia-first-frame {
    order: 3;
}

section.expanded h2.sectionTitle {
    box-sizing: border-box;
    z-index: 4;
    background: var(--c-background);
    border: none!important;
    top: 0;
    width: 100%;
    padding: 8px;
}

:not(.mobile) .expanded {
    width: calc(100% - 16px) !important;
}
:is(.mobile) .expanded {
    width: 100% !important;
}
.expanded {
    box-sizing: border-box;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    order: 4 !important;
    background: var(--c-background);
    padding: 0 !important;
}

section.expanded tr,
section.expanded table.infobox {
    width: 100%;
}
section.expanded td.infobox-image img{
    width: 100%;
    height: auto;
}

section.expanded div>*:not(.coolStar) {
    box-sizing: border-box;
}

section.expanded div.quotebox {
    min-width: 80%;
    margin: auto;
}

section.expanded > div:not(.pie) {
    box-sizing: border-box;
    background: var(--c-background);
    overflow: unset;
}
section.expanded :nth-child(1 of div.scoreText) {
    padding-top: 24px;
}

section.expanded button,
section.expanded:not(#bcorp) img.iconclass {
    display: none !important;
}

:is(#Invisible-boycott, #Invisible-dislike, #Invisible-like, #backButton, 
#closeButton, #settingsButton, .fullView, #graph-box:not(.expanded), #wikipedia-infocard-frame:not(.expanded)):hover,
.similar-site>a:hover {
    background-color: var(--c-hover);
}

:is(#isin, #bcorp #goodonyou, #glassdoor) div{
    float: right;
}

.dot,
.dot-right {
    position: relative;
    margin: 10px 10px 0;
}

.hover-anchor:hover,
input:checked+.slider {
    background-color: var(--c-main);
}

.numberOfReviews,
#priority-list>* {
    display: block;
}

.hatnote {
    text-align: center;
    line-height: 120%;
    margin: 0.5rem 0;
}

.infobox-title,
.mw-empty-elt,
.mw-ref,
.ambox-delete,
.reference,
.metadata,
.nomobile,
.thumb,
.gallery,
#wikipedia-infocard-frame:not(.expanded)>div{
    display: none !important;
}
section.expanded {
    position: absolute;
    height: fit-content;
    min-height: 100dvh;
}
.blankForSmall,
.content.somethingIsOpen>section:not(.expanded, #Invisible-vote, #Invisible-boycott) {
    transform: translate(-200%);
}
.content.somethingIsOpen.mobile>section:not(.expanded):is(#Invisible-vote, #Invisible-boycott) {
    transform: translateY(-100%);
}
.content.somethingIsOpen:not(.mobile)>section:not(.expanded):is(#Invisible-vote, #Invisible-boycott) {
    transform: translateY(200%);
}


body.somethingIsOpen section#disclaimer {
    display: none;
}
body.somethingIsOpen section#titlebar {
    background-color: transparent;
}
body.somethingIsOpen section#titlebar > .co-name {
    display: none;
}
body.mobile section#titlebar > .co-name {
    padding: 16px 0;
}
body.mobile section#titlebar > #settingsButton {
    transform: translateY(36px);
}
body.mobile .content.somethingIsOpen :is(#Invisible-boycott, #Invisible-vote) {
    transform: translateY(-40px);
}

body.mobile.somethingIsOpen {
    margin-top: 0px!important;
    background: var(--c-background);
}

.infobox-image,
td.biaslink {
    text-align: center;
}

.slider.round,
.slider.round:before {
    border-radius: 8px;
}

@media screen and (max-width: 160px) {
    .content {
        flex-wrap: wrap;
        border-bottom: var(--c-light-text) solid 1px;
        padding: 4px;
    }

    :not(.expanded) score {
        display: table;
    }

    .content>section {
        width: calc(100% - 8px)!important;
        margin: 4px;
        box-shadow:#00000099 0px 0px 0px 0px;
    }
    .content>* {
        justify-content: space-between;
        order: 5;
    }

    .fullView,
    #similar-sites,
    .dial,
    .dialBacking,
    .disclaimer-text,
    #roundelButton,
    .source,
    #social-links,
    #similar-sites>section,
    .hideInSmall {
        display: none !important;
    }

    #graph-box,
    #wikipedia-infocard-frame,
    #wikipedia-first-frame {
        order: 4;
    }

    #wikipedia-first-frame img.iconclass {
        display: block;
    }
    :is(#graph-box):not(.expanded) .graphList{
        display: none;
    }

    #backButton { width: 50%; }
    #closeButton{ display: block; }
    #settingsButton { display: none; }
    #backButton, #closeButton {
        background-color: var(--c-background);
        box-shadow: #00000099 0px 4px 4px -5px;
        position: fixed;
    }

    .scoreText {
        display: none!important;
    }

    .sectionTitle {
        font-size: 1rem;
        border-bottom: none;
        padding: 6px 12px 12px ;
    }

    #disclaimer {
        box-sizing: border-box;
        text-align: center;
        font-family: 'Roboto Flex', sans-serif;
        font-variation-settings: 'wght'600;
        font-weight: 600;
        padding: 16px;
        box-shadow: #00000022 0px -1px 10px 1px;
    }
    .coolStar {
        --division: 1!important;
    }

    .blankForSmall {
        order: 0;
        width: var(--s-small);
        display: flex;
        height: 50px;
    }

    tbody {
        margin: 0;
        padding: 0;
    }

    td {
        border-top: 0;
        position: relative;
        text-align: center;
    }

    hr {
        border-color: var(--c-background);
        margin: 0;
        padding: 0;
    }

    .ratingOutOf {
        font-family: 'Roboto Flex';
    }

    td.biaslink {
        margin: auto;
    }

    score {
        font-family: 'Roboto Flex', sans-serif;
        font-size: 3rem;
        font-variation-settings: 'wght'200, 'wdth'100;
        font-weight: 200;
        margin: auto;
        padding: 0;
    }

    #glassdoor>table>tbody>tr>td {
        text-align: center;
    }

    .ratingCount {
        text-align: center;
        font-size: 0.75em;
        float: none !important;
        padding-bottom: 8px;
    }

    div.ratingCount:after {
        content: ')';
    }

    div.ratingCount:before {
        content: '(';
    }

    #similar-site-wrapper>h2 {
        padding-bottom: 0 !important;
    }

    img.iconclass,
    #social-wikidata h2:after,
    #similar-site-wrapper h2:after,
    #bcorp h2:after {
        display: block;
        content: ' ';
        background-size: 2.5em 2.5em;
        width: 2.5em;
        height: 2.5em;
        margin: 0 auto 8px !important;
    }

    #similar-site-wrapper h2:after,
    #social-wikidata>h2:after,
    #bcorp h2:after {
        filter: brightness(var(--brightness));
    }

    #similar-site-wrapper h2:after {
        background-image: url(/icon/similar.svg);
    }

    #bcorp h2:after {
        background-image: url(/icon/bcorp.svg);
    }

    #social-wikidata>h2:after {
        background-image: url(/icon/social.svg);
    }

    #bcorp :is(score, img){
        display: none;
    }

    section:hover {
        background-color: var(--c-hover);
        box-shadow:#00000099 0px 5px 4px -5px;
    }
}

@media (min-width: 162px) {
    section:not(.expanded) img.iconclass {
        margin: 8px 54px 8px;
    }
    .noShowTitle {
        display: none;
    }
}

@media (min-width: 638px) {
    :is(#graph-box):not(.expanded) > .iconclass.graphIconOffset {
        order: 1;
        margin: auto 20px auto 0;
    }
    #graph-box {
        display: flex;
    }
    section:is(#wikipedia-infocard-frame, #wikipedia-first-frame):is(.expanded) {
        border: transparent solid 10px;
        border-radius: 4px;
    }
    section:is(#graph-box, #wikipedia-infocard-frame, #wikipedia-first-frame):is(.expanded) {
        box-shadow: #00000099 0px 0px 10px 100px;
    }
    #backButton {
        background-color: var(--c-background);
        transform: rotate(180deg);
        left: -1px;
        display: block;
    }
    .content > .contentSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 24px;
        min-height: 150px;
    }
    .content > .contentSection:not(#graph-box, #wikipedia-infocard-frame) {
        min-height: 260px;
    }

    .content > section h2.sectionTitle {
        flex: 2 100%;
    }

    .leftBorder, th, td {
        border: none;
    }

    #closeButton {
        display: block;
        right: 64px;
    }

    .blankForSmall {
        display: none;
    }
    section:not(#wikipedia-first-frame, #wikipedia-infocard-frame) .scoreText {
        display: grid;
        grid-template-rows: 1fr;
        width: 50%;
        height: unset;
        padding: 8px;
        position: relative;
        margin-left: calc(50% - 16px);
        right: 0;
    }
    score {
        display: flex!important;
        position: absolute;
        height: 150px!important;
        border: none!important;
        width: 150px;
        margin-top: 70px!important;
        margin-left: 80px!important;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
    }
    section:not(#trust-pilot, #mbfc-header, #small-wikidata) score{
        font-size: 32px!important;
    }
    section:is(#mbfc-header, #small-wikidata) score{
        font-size: 19px!important;
        line-height: 24px;
        letter-spacing: 0.04em;
        font-weight: 700;
    }
    .esgKey {
        display: none;
    }
    section:not(.expanded)#wikipedia-infocard-frame {
        flex-direction: column;
    }
    section:not(.expanded):is(#graph-box, #wikipedia-infocard-frame) {
        min-height: unset;
        flex-wrap: wrap-reverse;
        align-content: space-evenly;
        justify-content: center;
        padding-bottom: 0;
    }
    section:not(.expanded):is(#graph-box, #wikipedia-infocard-frame) > * {
        flex: unset;
        margin: auto;
    }
    section:not(.expanded) img.iconclass {
        margin: 0 auto;
    }
    section:not(.expanded)#bcorp img.iconclass {
        position: absolute;
        width: 50%;
        height: 100px;
        margin-top: 64px;
    }

    section:not(.expanded)#bcorp score {
        padding-top: 40px!important;
    }
    section:is(#trust-pilot) score{
        font-size: 64px;
        font-weight: 300;
        line-height: 51.2px;
        /* text-edge: cap;
        leading-trim: both; */
    }
    section:not(.expanded)#trust-pilot .ratingCount {
        position: absolute;
        width: calc(100% - 16px);
        left: calc(-100% + 24px);
        margin-top: 72px;
    }

    section:not(.expanded)#wikipedia-first-frame h2.sectionTitle {
        height: 32px;
    }
    section:not(.expanded)#wikipedia-first-frame .scoreText {
        height: 160px;
        width: 100%;
        padding: 0px 16px 16px;
        position: relative;
        grid-template-rows: 1fr;
    }
    section:not(.expanded)#wikipedia-first-frame .scoreText::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, var(--c-background), transparent);
        position: absolute;
    }

    section:not(.expanded)#wikipedia-first-frame .iconclass {
        display: none;
    }
    section:not(.expanded)#similar-site-wrapper .scoreText {
        width: 100%;
        height: fit-content;
    }
    section:not(.expanded)#similar-site-wrapper div {
        overflow: revert;
    }
    section:not(.expanded)#similar-site-wrapper #similar-sites {
        position: relative;
        display: flex;
        flex-flow: wrap;
        width: calc(100% - 32px);
        inset: 0 16px;
    }
    section:not(.expanded)#similar-site-wrapper .similar-site {
        display: inline-flex;
        flex: 1 calc(100% / 2);
        height: fit-content;
        box-sizing: border-box;
        border: transparent solid 4px;
    }
    section:not(.expanded)#similar-site-wrapper .similar-site a {
        margin-right: 8px;
    }
    section:not(.expanded)#similar-site-wrapper .scoreText {
        margin-left: 0px;
    }
    section:not(.expanded)#social-wikidata {
        padding-bottom: 0px;
    }
    .pie {
        display: block!important;
        position: absolute;
        left: 60px;
        top: 50px;
    }
    .fullView {
        position: absolute;
        bottom: 0;
    }

    #titlebar:has(.closeExtention) #settingsButton {
        right: 64px;
    }
    #closeButton.closeExtention {
        right: 16px;
    }
}

@media (min-width: 838px) {
    #graph-container h2.sectionTitle {
        position: absolute;
        width: 82.5em;
    }
    #backButton {
        display: block;
        transform: rotate(180deg);
        left: -1px;
    }

    .sectionTitle {
        font-size: 1.125em;
    }
    #roundelButton,
    #Invisible-boycott,
    #Invisible-like,
    #Invisible-dislike,
    #Invisible-vote {
        display: none;
    }
}
@media (min-width: 842px) {
    .content {
        width: 640px;
        margin: 0 auto;
    }
    #Invisible-boycott, #Invisible-vote {
        display: none;
    }
    #disclaimer {
        border-top: none;
    }
}

.content:not(.mobile) :not(.expanded) score {
    display: table;
    margin: 16px auto;
}

.content:not(.mobile) .biaslink {
    font-size: 12px!important;
    padding: 4px 8px;
}

div:not(.mobile).content{
    border-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
:not(.mobile) #Invisible-dislike {
    border-right: 0;
}
:not(.mobile) #Invisible-vote {
    padding: 0;
    border-bottom: var(--c-border-color) solid 1px;
}

#key {
    top: 12px;
    margin: 0;
    left: 64px;
}
h2.sectionTitle {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}


div.mobile > .contentSection > #wikipedia-know {
    display: none;
}

div#settings h2.sectionTitle {
    height: 64px;
    font-size: 18px;
    padding: 20px;
}
div#settings > label,
div#settings > div:not(#priority-list){
    height: 54px;
}
body.mobile > div#settings > div#onScreen {
    display: none;
}

section.expanded > h2.sectionTitle {
    top: 10px;
    height: 2.5em;
}

body.mobile {
    margin-top: 40px;
}
section#titlebar {
    position: inherit;
    border: none;
}
section#titlebar > #settingsButton {
    border: solid var(--c-interior-border) 1px;
    border-radius: 8px;
    min-width: 40px;
    height: 40px;
    top: 12px;
    right: 16px;
    position: absolute;
}
section#titlebar > #settingsButton> div {
    background-size: 22px 22px;
    background-position-y: 7px;
    height: 40px;
}

section#titlebar > #backButton.show {
    --startx: -42px;
    --starty: 12px;
    --endx: 16px;
    --endy: 12px;
    animation-name: moveIn;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
}

section#titlebar > #backButton{
    border-radius: 8px;
    display: block;
    transform: translate(-42px, 12px);
    background-size: 16px 16px;
    position: absolute;
    min-width: 40px;
    height: 40px;
    position: fixed;
}
section#titlebar .co-name{
    order: 1;
    color: var(--c-light-text);
    background-color: var(--c-background);
    height: 56px;
    font-size: 22px;
    line-height: 26.4px;
    padding: 18px 0 0 70px;
}
div.mobile :is(.hideInSmall, .blankForSmall){
    display: none;
}

section.expanded :is(td.hideInSmall, tr.hideInSmall, table.hideInSmall) {
    display: table!important;
}

div.mobile > section {
    border-right: none;
}
div.mobile > section#Invisible-vote {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100vw / 1.5 );
    border: none;
    height: 40px;
}

div.mobile > section > section#Invisible-like{
    border-left: solid 1px;
}

div.mobile > section#Invisible-vote section,
div.mobile > section#Invisible-boycott {
    display: unset;
    border-bottom: solid 1px;
    border-top: solid 1px;;
    border-right: solid 1px;
    position: unset;
    height: 40px;
}
div.mobile > section#Invisible-boycott {
    width: calc(100%/3);
    top: 0px;
    right: 0px;
    bottom: unset;
    position: absolute;
}
div.mobile > section  div table tbody tr td score {
    font-size: 32px;
}
div.mobile {
    columns: 2;
    padding: 0 14px;
    flex-wrap: wrap;
    align-content: start;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 16px;
}
div.mobile > .contentSection {
    flex: 0 1 auto;
    width: calc( 50% - 0.4em) ;
    height: 125px;
    min-height: 125px;
}

div.mobile section#yahoo:not(.expanded) .leftBorder,
div.mobile section[id^="isin"]:not(.expanded) .leftBorder {
    display: none;
}
div.mobile h2.sectionTitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    padding: 14px 0px 0px;
    max-width: 100%;
    max-height: 100dvh;
}
div.mobile .expanded h2.sectionTitle {
    font-size: 18px;
    height: 52px;
    padding: 16px!important;
    width: 100%!important;
    text-align: center!important;
}
div.mobile :is(#graph-box, #wikipedia-first-frame, #wikipedia-infocard-frame):not(.expanded) {
    flex: 2 1 100%;
    display: inline-flex;
    justify-content: space-evenly;
    height: 80px;
    min-height: 80px;
    width: unset;
}
div.mobile #graph-box:not(.expanded) {
    height: unset;
}
div.mobile :is(#graph-box, #wikipedia-first-frame, #wikipedia-infocard-frame) > h2.sectionTitle {
    width: 50%;
    margin: auto;
    padding: 0 16px;
    text-align: left;
}

div.mobile > .contentSection,
div.mobile :is(#graph-box, #wikipedia-first-frame, #wikipedia-infocard-frame) {
    margin: 0.2em;
    border: solid var(--c-border-color) 1px;
    border-radius: 8px;
    display: grid;
    justify-items: center;
}
div.mobile.somethingIsOpen > .contentSection{
    margin: 0!important;
    display: unset;
}
div.mobile :is(#graph-box, #wikipedia-first-frame, #wikipedia-infocard-frame).expanded {
    border: 0;
}

body.mobile > .invisible-disclaimer-title h2,
div.mobile > .contentSection > :is(section, button, #social-links, #similar-sites),
div.mobile > .contentSection:not(.expanded) > table {
    display: none;
}

body.mobile #roundelButton {
    display: block;
}

.sectionTitle {
    border-bottom: unset;
}


body.somethingIsOpen > #disclaimer{
    display: none;
}
body.mobile #disclaimer {
    border-top: none!important;
    max-height: 100%;
    flex-grow: 2 1;
}

div.mobile :is(#social-wikidata, #similar-site-wrapper, #bcorp):not(.expanded) h2:after{
    display: block;
    content: ' ';
    background-size: 42px 42px;
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    object-fit: cover;
    object-position: 0;
    filter: brightness(var(--brightness));
}

div.mobile #similar-site-wrapper h2:after {
    background-image: url(/icon/similar.svg);
}

div.mobile #bcorp h2:after {
    background-image: url(/icon/bcorp.svg);
}

div.mobile #social-wikidata>h2:after {
    background-image: url(/icon/social.svg);
}

#key > div > table {
    background-color: var(--c-background);
}
#key > div:hover {
    height: 300px;
}
#key > div:before {
    content: 'Key:';
    font-size: 14px;
    margin: 3px 10px 12px;
}
#key > div {
    display: flex; 
    flex-direction: column;
    height: 40px;
    padding: 8px;
    overflow: hidden;
    border: var(--c-border-color) solid 1px;
    border-radius: 8px;
    background-color: var(--c-background);
}
div.mobile #graph-container.expanded {
    border: none;
}
div.mobile #graph-container.expanded h2.sectionTitle {
    display: none;
}
div.mobile :is(#small-wikidata) table:first-of-type tbody {
    margin: 0;
    padding: 0;
}
div.mobile :is(#small-wikidata) table:first-of-type {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: calc(100% - 1em);
    padding: 0;
    border-collapse: unset;
}
div.mobile :not(.expanded):is(#yahoo, #mbfc-header, #small-wikidata) .biaslink {
    font-size: 0.625em;
    border-collapse: unset;
}
div.mobile.somethingIsOpen{
    padding: 0 0;
}

div.mobile #bcorp.expanded th {
    width: 100%;
}
#wikipedia-frame,
#wikipedia-know {
    margin: 0 16px;
    font-family: "Roboto Serif", serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    font-variation-settings: 'wdth' 80, 'GRAD' 0, 'wght' 450;
    font-weight: 450;
}

#wikipedia-frame a,
#wikipedia-know a {
    color: var(--c-linky-text-minor);
    font-variation-settings: 'wdth' 80, 'GRAD' 0, 'wght' 500;
    font-weight: 500;
}
#wikipedia-frame figure,
#wikipedia-know figure {
    display: block;
    margin: 0 auto;
    float: unset;
}
.expanded #wikipedia-frame figure a img,
.expanded #wikipedia-know figure a img{
    width: 50%;
    height: auto;
    margin: 0 25%;
}
.expanded #wikipedia-frame figure,
.expanded #wikipedia-know figure {
    width: 100%;
    max-width: calc(100vw - 32px);
}
#wikipedia-frame:is(.floating) { 
    width: calc(100vw - 32px);
    inset: 16px auto;
    outline: #0007 solid 100px;
    border-radius: 8px;
}

:not(.expanded) score:after {
    left: unset !important;
}
:not(.expanded) score {
    font-size: 32px;
}
:not(.expanded):is(#tosdr-link) score {
    font-size: 32px!important;
}
.expanded score {
    text-align: center;
    border: none;
    font-size: 20px;
    font-family: 'Space Grotesk';
    font-variation-settings: 'wght' 300;
    font-weight: 300;
    width: 180px;
    max-width: 180px;
    height: 180px;
    display: table-cell;
    z-index: 10;
    position: relative;
    vertical-align: middle;
    left: calc(50vw - 90px);
    top: 8px;
    padding: 0;
    line-height: initial;
}
.expanded:is(#bcorp) > score {
    left: unset;
}
.expanded:is(#bcorp, #trust-pilot) > score {
    font-size: 64px;
    transform: translateY(10%);
    height: 1em;
    margin: 16px auto;
}

.stars {
    display: flex;
    justify-content: center;
    margin: 16px auto; 
}

.scoreText {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--animation-delay);
    font-family: 'Space Grotesk';
    width: 0;
    height: 0;
    position: absolute;
}
.scoreText > div {
    overflow: hidden;
}
.expanded .scoreText {
    width: 100%;
    height: unset;
    grid-template-rows: 1fr;
    padding: 0 16px;
    position: unset;
}
.expanded .scoreText.fullBleed {
    padding: 0;
}

.expanded .iconclass {
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
}

div.mobile .expanded :is(.hideInSmall){
    display: unset;
}
.expanded .scoreText p,
.expanded .scoreText h3 {
    padding-left: 16px;
    padding-right: 16px;
}
.expanded .scoreText p {
    padding-bottom: 16px;
}

#graph-container.expanded h2.sectionTitle {
    display: none;
}
:is(#graph-box):not(.expanded) > div.graphList {
    font-size: 14px;
    padding: 16px 0px 24px 8px;
    font-family: 'Space Grotesk', sans-serif;
    width: 70%;
    position:relative;
}
:is(#graph-box):not(.expanded) > div.graphList li div {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 1em;
    width: 60%;
    margin-left: 24px;
}
:is(#graph-box):not(.expanded) > div.graphList li i{
    font-size: 12px;
	height: 12px;
	margin: auto;
	white-space: nowrap;
	text-align: right;
    opacity: 80%;
    position: absolute;
}
:is(#graph-box):not(.expanded) > div.graphList :nth-child(-n+5) {
    display: block;
}
:is(#graph-box):not(.expanded) > div.graphList :nth-child(n+6) {
    display: none;
}
:is(#graph-box):not(.expanded) > div.graphList {
    margin-left: 0;
    padding: 0;
}
:is(#graph-box):not(.expanded) > div.graphList li i{
    right: 0;
    transform: translateY(-1em);
}
.mobile :is(#graph-box):not(.expanded) > div.graphList {
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}
:not(.expanded) .source {
    right: -8px;
    bottom: -16px;
}
:not(.expanded) :where(#graph-box, #wikipedia-first-frame, #wikipedia-infocard-frame) .source {
    display: none;
}
body.settingsOpen .source {
    z-index: 0;
}
body.mobile:not(.somethingIsOpen) .source {
    display: none;
}
body.mobile #social-links {
    display:none;
}
