h2 {
    font-variation-settings: 'wght' 500;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

.fullBleed {
    grid-area: middle;
    padding: 16px;
}

#Invisible-like {
    grid-area: like;
}

#Invisible-boycott {
    grid-area: boycott;
}

#Invisible-dislike {
    grid-area: dislike;
    filter: hue-rotate(222deg);
}

#Invisible-interaction {
    display: grid;
    box-sizing: border-box;
    grid-template-areas: "like dislike" "boycott boycott";
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;

    >section {
        font-size: 1rem;
        font-family: 'Roboto Flex', sans-serif;
        font-variation-settings: 'wdth' 151;
        color: var(--c-background);
        background-color: var(--c-light-text);
        outline: var(--c-heavy-text) solid 1px;
        height: 40px;
        margin: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    >#Invisible-dislike:after,
    >#Invisible-like:after {
        content: ' (' var(--count)')';
        display: inline-table;
        padding-left: 4px;
    }
}

.hidetext {
    display: none;
    opacity: 0;
}

.hide,
.hideTilExpanded:not(.expanded) {
    display: none !important;
}

.invisible-disclaimer-title {
    display: inline;
    order: 99;
}

.mobileOnly {
    display: none;
}

#sortlist {
    white-space: nowrap;
    display: flex !important;
    flex-direction: column;
}

.sortghost {
    opacity: 20%;
}

.tabContent {
    position: relative;
    grid-template-areas: 'header header' 'subheading subheading' 'left right' 'topmiddle topmiddle' 'middle middle' 'comment comment' 'footer footer';
    grid-template-columns: 50% 50%;
    grid-template-rows: auto min(16px, auto) auto auto auto 40px;
}

#content>.contentSection {
    display: grid;
    position: relative;
    grid-template-areas: 'header header' 'subheading subheading' 'left right' 'topmiddle topmiddle' 'middle middle' 'comment comment' 'footer footer';
    grid-template-columns: 50% 50%;
    grid-template-rows: auto min(16px, auto) auto auto auto 40px;
    padding-block: 10px;
    border: var(--c-interior-border) solid 1px;
    border-radius: 8px;
    box-sizing: border-box;
    transition-property: opacity, transform, display;
    transition-behavior: allow-discrete;
    transition-duration: 1s;

    &:has(.tabContainer) {
        grid-template-rows: auto;
        padding-inline: 0;

    }

    .sectionTitle {
        border-bottom: unset;
        grid-area: header;
        font-size: 1.125em;
        display: block;
        width: auto;
        text-align: center;
        line-height: 120%;
    }

    .subname {
        font-size: 0.61rem;
        grid-area: subheading;
        place-self: center;

    }

    @starting-style {
        opacity: 0;
        transform: translate(0vw, 0vh);
        display: grid;
    }
}

#disclaimer {
    border-top: var(--c-light-text) solid 1px;
    font-size: 0.75em;
    display: block;
    padding: 2.5em;
    padding-bottom: 90px;
    position: relative;

    p:first-of-type,
    h2 {
        padding: 0 0 16px;
    }

    p:last-of-type,
    a {
        display: inline;
        padding: 0;
    }

    h2>div {
        font-size: 1rem;
        font-variation-settings: 'wght' 600, 'wdth' 100;
        font-weight: 600;
    }

    >* {
        padding: 16px 32px;
    }
}

body.settingsOpen {
    #titlebar {
        #backButton {
            transition: background-color var(--animation-delay);
            background-color: var(--c-secondary-background);
        }
    }
}

body.somethingIsOpen,
body.settingsOpen {
    #content.mobile:has(.expanded) {
        grid-template-columns: 100%;
        height: 100vh;
    }

    :not(.expanded) h2.sectionTitle,
    :not(.expanded) .source {
        z-index: 0 !important;
    }

    .expanded>.hideTilExpanded {
        display: unset;
    }

    #titlebar {
        background: transparent;
    }

}

label.languageSelect {
    position: relative;
    display: inline;
    font-size: 1.25rem;

    >h2 {
        position: absolute;
        z-index: 5;
        font-family: 'Roboto Flex', sans-serif;
        font-variation-settings: 'wght' 400;
        font-weight: 400;
        color: var(--c-light-text);
        top: 8px;
        left: 32px;
        font-size: 0.875em;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--c-secondary-background);
    color: var(--c-light-text);
    border: var(--c-light-text) solid 1px;
    direction: rtl;
    margin: 0;
    padding-right: 16px;
    padding-left: 16px;
    border-right: none;
    width: 100%;
    height: 2.5rem;
    position: relative;

    &:after {
        position: absolute;
        content: '\25BC';
        color: var(--c-background);
        top: 0;
        bottom: 0;
        right: 0;
        width: 16px;
        height: 16px;
    }

    &:focus {
        border: var(--c-light-text) solid 1px;
    }
}

option {
    background-color: var(--c-interior-border);
    font-family: 'Roboto Mono', monospace;
    height: 2.5rem;
}


#settings {
    height: 100%;
    transition-duration: 0.3s;
    width: 100%;
    bottom: 200vh;
    background-color: var(--c-secondary-backgroundo);
    backdrop-filter: blur(3px);
    z-index: 10;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: black 0px 10px 100px;
    padding-bottom: 16px;

    >label select {
        border-radius: 8px 8px 0 0;
    }

    >div:last-child {
        border-radius: 0 0 8px 8px;
    }

    >label select,
    >div {
        border-right: solid 1px;
        border-left: solid 1px;
        width: calc(100% - 32px);
        margin-left: 16px;
    }

    >h2 {
        width: 100%;
        border: var(--c-light-text);
        background-color: var(--c-secondary-background);
        padding: 9px;
    }

    #allowDisableModules {
        display: none;
    }
}

#titlebar {
    display: grid;
    grid-template-areas: "back title login settings close";
    grid-template-columns: 40px auto 40px 40px 40px;
    gap: 8px;
    width: 100%;
    z-index: 11;
    align-items: center;
    padding: 0px 19px;
    border: none;
    height: 56px;
    position: sticky;
    top: 0px;
}

.squareButton {
    position: sticky;
    top: 0px;
    background-color: var(--c-background);
    color: var(--c-light-text);
    border: var(--c-border-color) solid 1px;
    border-radius: 8px;
    height: 40px;
    min-width: 40px;
    width: 100%;
    padding: 0;

    >div {
        filter: brightness(var(--brightness));
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
    }

    &:hover {
        transform: scale(1.05);
    }
}

#loginButton {
    grid-area: login;

    >div {
        background-image: var(--image-login);
    }
}

#settingsButton {
    grid-area: settings;

    >div {
        background-image: var(--image-settings);
    }
}

.closeButton,
#closeButton {
    grid-area: close;

    >div {
        background-image: url(/icon/close.svg);
    }
}

#backButton {
    --starty: 0px;
    --startx: 0px;
    --endx: 0px;
    --endy: 0px;
    grid-area: back;
    z-index: 20;
    transform: translate(var(--endx), var(--endy));

    >div {
        background-size: 18px 18px;
        background-position-y: 10px;
    }

    &.show {
        --starty: -50px;
        --startx: 0px;
        --endx: 0px;
        --endy: 0px;
    }

    @starting-style {
        transform: translate(var(--startx), var(--starty));
    }


}

.co-name {
    color: var(--c-light-text);
    font-size: 1.375em;
    font-weight: 600;
    padding: 0px 8px;
    width: 100%;
    grid-area: title;
}

.wikipedia {
    background-color: var(--c-background);
    color: var(--c-light-text);
    border: solid 1px var(--c-border-color);
    height: fit-content;
}


table {
    width: 100%;
    position: relative;
    border-collapse: collapse;

    &.esgKey {
        width: 100%;

        tr {
            width: 100%;
        }
    }
}

th {
    font-variation-settings: 'wght' 600;
    font-weight: 600;
    text-align: left;
    padding: 8px 0px;
}

td {
    text-align: right;
    padding: 8px 0px;
}


.hovertext:hover+.hidetext {
    width: calc(100% - 64px);
    min-height: 40px;
    background-color: var(--c-secondary-background);
    color: var(--c-light-text);
    border-color: var(--c-border-color);
    border-radius: 8px;
    border-width: 1px;
    position: absolute;
    z-index: 99;
    left: -8px;
    top: 8px;
    padding: 5px;
    margin: 0px 16px;
    display: block;
    opacity: 1;

    transition-property: top, opacity;
    transition-behavior: allow-discrete;
    transition-duration: 0.2s;

    @starting-style {
        opacity: 0;
        top: -100px;
    }
}

.hovertext {
    justify-content: center;
    cursor: help;
    align-items: center;
    display: flex;
    position: absolute;
    width: 40px;
    top: 8px;
    right: 8px;

    >div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.source {
    color: var(--c-main) !important;
    grid-area: footer;
    font-size: 0.625em;
    font-family: 'Roboto Mono';
    font-weight: 400;
    line-height: 13px;
    white-space: nowrap;
    place-self: end;
    padding-right: calc(0.625em * 2);

    &:after {
        display: inline-block;
        content: ' ';
        background-image: var(--image-source);
        background-size: 16px 16px;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        position: relative;
        bottom: -4px;
    }
}

.minisource {
    content: ' ';
    background-image: var(--image-source);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;

    &:after {
        display: inline-block;
        content: ' ';
        background-image: var(--image-source);
        background-size: 16px 16px;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        right: -16px;
        bottom: -2px;
        position: absolute;
    }
}

#graph {
    overflow: visible;
    background-color: var(--c-background);
    transition: transform .1s;
    z-index: 5;
}

#graphButtons {
    position: fixed;
    right: 12px;
    top: -200px;
    width: 40px;
    display: grid;
    border: var(--c-border-color) solid 1px;
    border-bottom: none;
    border-radius: 4px;
    box-sizing: content-box;
    z-index: 5;

    >button {
        background-color: var(--c-background);
        border: var(--c-border-color) solid 1px;
        border-left: none;
        border-right: none;
        border-top: none;
        display: table-cell;
        color: var(--c-light-text);
        height: 40px;
        aspect-ratio: 1;
        text-transform: uppercase;
        font-family: 'Roboto Mono', monospace;
        font-size: 1em;
        position: relative;
        text-align: center;
        border-radius: unset;

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    #graphZoomIn {
        border-radius: 4px 4px 0px 0px;

        &:after {
            content: "+";
        }
    }

    #graphZoomOut {
        &:after {
            content: "-";
        }
    }

    #graphZoomReset {
        &:after {
            content: "⟲";
        }

        border-radius: 0 0 4px 4px;
    }
}

h2#graph-box-interior {
    display: none;
    padding: 0;
}

ul {
    list-style-type: none;
    margin-bottom: 16px;
}

.iconclass {
    filter: brightness(var(--brightness));
    width: 3.75rem;
    height: 3.75rem;
    position: relative;
    transition: width .2s, height .2s, top .2s, bottom .2s, left .2s, right .2s;
    background-repeat: no-repeat;
    background-size: contain;
}

body:has(section.expanded) {
    position: fixed;
    width: 100%;
    height: 100%;
}

section.expanded {
    box-sizing: border-box;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    order: 4 !important;
    background: var(--c-background);
    padding: 0 !important;
    margin: 0 !important;

    position: absolute;
    height: fit-content;
    min-height: 100dvh;
    height: 100dvh;
    max-height: 100dvh;
    width: 100%;
    max-width: 100%;

    grid-template-rows: 40px 0px auto auto auto 0px 0px;
    border-radius: 0px;
    border-style: none;

    :is(.hideInSmall),
    .ratingCount,
    .flavourText {
        display: unset;
    }

    .flavourText {
        &.flavourContent {
            grid-area: subheading;
        }

        &.header {
            grid-area: topmiddle;
        }
    }

    #opensecrets {
        grid-template-rows: 40px auto auto auto auto auto 0px;
    }

    #graph-container {
        border: none;
    }

    #bcorp th {
        width: 100%;
    }

    &:is(#bcorp)>score {
        left: unset;
    }

    &:is(#bcorp, #trust-pilot)>score {
        font-size: 4em;
        transform: translateY(10%);
        height: 1em;
        margin: 16px auto;
    }

    .hovertext,
    :is(.smallVoteBox, .smallerVoteBox) {
        display: flex;
    }

    .scoreText {
        width: 100%;
        height: unset;
        grid-area: middle;
        grid-template-rows: 1fr;
        padding: 0 16px;

        p,
        h3 {
            padding-left: 16px;
            padding-right: 16px;
        }

        p {
            padding-bottom: 16px;
        }
    }

    .previewContainer {
        display: none !important;
    }

    score {
        border: none;
    }

    .ratingOutOf {
        width: unset;
        font-size: 1.5em;

        &::after {
            font-size: 1em;
        }
    }


    & h2.sectionTitle {
        overflow: unset;
        font-size: 1.125em;
        height: 52px;
        padding: 16px !important;
        width: 100% !important;
        text-align: center !important;
    }

    & .submodule {
        grid-template-columns: auto;
        grid-template-areas: "title" "pie" "data" "footer";
    }

    :is(td.hideInSmall, tr.hideInSmall, table.hideInSmall) {
        display: table !important;
    }

    div>* {
        box-sizing: border-box;
    }

    >div:not(.pie, .squareButton) {
        box-sizing: border-box;
        background: var(--c-background);
        overflow: auto;
    }

    >.iconclass {
        width: 200px;
        height: 200px;
        left: calc(50% - 100px);
    }

    .hovertext {
        top: 12px;
        right: 16px;
    }

    .pieContainer {
        grid-area: topmiddle;
    }

    .hideTilExpanded:not(.pie) {
        display: table;
    }

    .hideTilExpanded.pie {
        display: inline-grid;
        position: absolute;
    }

    .hideTilExpanded>*,
    .hideTilExpanded th,
    .hideTilExpanded:not(.pie) {
        width: 100%;
    }

    h2.sectionTitle {
        box-sizing: border-box;
        z-index: 4;
        background: var(--c-background);
        border: none !important;
        width: 100%;
        padding: 8px;
        top: 10px;
        height: 2.5em;
    }
}


figure {
    display: inline-block;
    max-width: min-content;
    border: var(--c-interior-border) solid 1px;
    margin: 8px;
    padding: 8px;
}

score {
    font-size: 3.75em;
    font-family: 'Space Grotesk';
    font-variation-settings: 'wght' 300;
    font-weight: 300;

    &:after {
        font-size: .5em;
    }
}

.ratingOutOf {
    font-family: 'Roboto Flex';
    font-variation-settings: 'wght' 200;
    font-weight: 200;

    &:after {
        content: var(--outOf);
        margin-left: 0.4em;
    }

    &.ratingText {
        font-size: 1em;
        word-wrap: break-word;
        white-space: normal !important;
    }
}

:not(td).ratingOutOf {
    font-size: 3.75em;
}

.ratingCount {
    text-align: center;
    font-size: 0.875em;
    float: none !important;
    margin: 16px auto;

    &:after {
        content: ')';
    }

    &:before {
        content: '(';
    }
}


#priority-list {
    border: var(--c-light-text) solid 1px;
    position: relative;
    display: flex;
    flex-flow: column;

    >div {
        font-style: italic;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 0.875em;
        margin: 16px;
    }

    >h2 {
        padding: 10px 16px 0;
        font-size: 0.875em;
        font-weight: 400;
    }

    >ul>li {
        position: relative;
        list-style: none;
        display: grid;
        align-items: center;
        grid-template-areas: "handle title switch" "sort sort sort";
        grid-template-columns: 48px auto 96px;
        grid-template-rows: 36px auto;
        border: var(--c-light-text) solid 1px;
        background: var(--c-secondary-background);
        font-family: 'Roboto Mono', monospace;
        font-size: 0.75em;
        min-height: 36px;
        margin: 2px 16px;

        >span {
            grid-area: title;
        }
    }
}

li.held {
    z-index: 20;
    position: fixed !important;
}

div#priority-list,
label#languageSelect,
div#permaDark,
div#onScreen {
    border-top: none;
}

details:has(div#sortlist-wbm) {
    width: 100%;
    grid-area: sort;
}

div#sortlist-wbm {
    border: 1px solid var(--c-interior-border);
    grid-area: sort;
    margin: 16px;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    border-collapse: collapse;

    >div {
        border: 1px solid var(--c-border-color);
        display: grid;
        align-items: center;
        height: 32px;
        grid-template-areas: "handle title";
        grid-template-columns: 32px auto;

        >span {
            grid-area: title;
        }
    }
}

.priority-list-handle-wbm,
.priority-list-handle {
    grid-area: handle;
    clip-path: var(--path-priority-list);
    background: var(--c-light-text);
    background-size: 16px 16px;
    margin: auto;
    width: 16px;
    height: 16px;

    ::before {
        content: ' ';
        display: block;
        width: 16px;
        height: 16px;
        background: var(--c-light-text);
        background-size: 16px 16px;

    }
}


#graph-container {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    background-color: var(--c-backgroundo);
    height: 100%;
    width: 100% !important;

    &.expanded {
        top: 0;
    }
}

#content>* {
    width: 100%;
}

#content {
    gap: 10px;
    background-color: transparent;
    display: grid;
    width: 640px;
    margin: 0 auto;

    >text {
        display: none;
    }
}


div.esgKey {
    background: var(--c-secondary-background);
    border: var(--c-border-color) solid 1px;
    border-radius: 4px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 1em 0;

    h3 {
        text-align: center;
        padding: 1em;
        font-weight: 500;
        font-size: 0.875em;
    }
}

.notPieContainer,
.pieContainer {
    min-width: 100%;
}

div:has(> .submodule) {
    display: grid;
    grid-template-areas: "submodule";
    gap: 8px;
}

.submodule {
    border: 1px solid var(--c-interior-border);
    padding: 16px;
    gap: 16px;
    border-radius: 8px;
    display: grid;
    grid-template-areas: "title title" "pie data" "footer footer";
    grid-template-columns: 180px auto;
    min-height: 180px;
    overflow: auto;
    background: var(--c-secondary-background);
    /* grid-area: submodule; */


    .ratingOutOf {
        background: var(--c-secondary-background);
    }

    >* {
        background: var(--c-secondary-background);
    }

    >h2 {
        grid-area: title;
        position: relative;
        font-size: 1rem;

        >.squareButton {
            min-width: 30px;
            height: 30px;
            width: 30px;
        }

        >.squareButton div {
            font-size: 0.9em;
        }
    }

    >h2 span:after {
        content: ' (' var(--year)')';
        font-size: 0.618rem;
        opacity: 0.6;
    }

    >table {
        grid-area: data;
    }

    >div {
        grid-area: pie;
        min-height: 180px;
    }
}

.inlinePieContainer,
.notPieContainer,
.pieContainer {
    grid-area: left;

    >div {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        position: relative;
    }
}

.notPieContainer {
    >div {
        flex-direction: column-reverse;
    }

    & score {
        position: relative;
    }
}

.infobox-title,
.mw-empty-elt,
.mw-ref,
.ambox-delete,
.reference,
.metadata,
.nomobile,
.thumb,
.gallery,
#wikipedia-infocard-frame:not(.expanded)>div:not(.iconclass) {
    display: none !important;
}


.infobox-image,
td.biaslink {
    text-align: center;
}


@media screen and (max-width: 160px) {
    #content {
        border-bottom: var(--c-light-text) solid 1px;
        min-height: 100dvh;

        >section {
            border: none;
            border-radius: 0px;
            border-top: var(--c-light-text) solid 1px;
            width: 100% !important;
            margin: 0;
            box-shadow: #00000099 0px 0px 0px 0px;
            height: fit-content;
            min-height: unset !important;
            position: sticky;
            top: 0px;
        }

        >.contentSection {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
        }
    }

    #titlebar {
        grid-template-areas: "back close";
        grid-template-columns: calc(100% - 48px) 40px;
        justify-content: space-between;
    }


    :not(.expanded) score {
        display: table;
    }

    .hIS,
    .hideInSmall {
        display: none !important;
    }

    #closeButton {
        display: block;
    }

    #loginButton {
        display: none;
    }

    .scoreText {
        display: none !important;
    }

    .sectionTitle {
        font-size: 1rem;
        border-bottom: none;
        padding: 6px 12px 12px;
    }

    #disclaimer {
        box-sizing: border-box;
        text-align: center;
        font-family: 'Roboto Flex', sans-serif;
        font-variation-settings: 'wght' 600;
        font-weight: 600;
        padding: 16px;
        box-shadow: #00000022 0px -1px 10px 1px;
        width: 100%;
        bottom: 0px;
        max-height: 48px;
        position: sticky;
        background-color: var(--c-secondary-background);

        >h2 {
            padding-bottom: 0px;
        }

        >p {
            display: none !important;
        }
    }

    .coolStar {
        --division: 1 !important;
    }

    tbody {
        margin: 0;
        padding: 0;
    }

    td {
        border-top: 0;
        position: relative;
        text-align: center;
    }

    hr {
        border-color: var(--c-background);
        margin: 0;
        padding: 0;
    }

    .ratingOutOf {
        font-family: 'Roboto Flex';
    }

    td.biaslink {
        margin: auto;
    }

    score {
        font-family: 'Roboto Flex', sans-serif;
        font-size: 3rem;
        font-variation-settings: 'wght' 200, 'wdth' 100;
        font-weight: 200;
        margin: auto;
        padding: 0;
    }

    .ratingCount {
        text-align: center;
        font-size: 0.75em;
        float: none !important;
        padding-bottom: 8px;

        &:after {
            content: ')';
        }

        &:before {
            content: '(';
        }
    }

    .iconclass,
    #social-wikidata h2:after,
    #similar-site-wrapper h2:after,
    #bcorp h2:after {
        display: block;
        content: ' ';
        background-size: 2.5em 2.5em;
        width: 2.5em;
        height: 2.5em;
        margin: 0 auto 8px !important;
        grid-area: unset !important;
    }

    #similar-site-wrapper h2:after,
    #social-wikidata>h2:after,
    #bcorp h2:after {
        filter: brightness(var(--brightness));
    }

    #similar-site-wrapper h2:after {
        background-image: var(--image-similar);
    }

    #bcorp h2:after {
        background-image: url(/icon/bcorp.svg);
    }

    #social-wikidata>h2:after {
        background-image: var(--image-social);
    }


    section:hover {
        background-color: var(--c-hover);
        box-shadow: #00000099 0px 5px 4px -5px;
    }

    .pieContainer,
    .notPieContainer {
        grid-area: unset;
        min-height: unset !important;
    }
}

@media (min-width: 162px) {
    section:not(.expanded) .iconclass {
        margin: 0 auto;
    }
}

@media (min-width: 638px) {
    section:not(#wikipedia-first-frame, #wikipedia-infocard-frame) .scoreText {
        grid-area: right;
        display: grid;
        grid-template-rows: 1fr;
        min-width: 100%;
        position: relative;
        right: 0;
        padding: 0px 16px 0px 0px;
    }

    score {
        display: flex !important;
        position: absolute;
        border: none !important;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
    }

    section:not(#trust-pilot, #mbfc, #small-wikidata) score {
        font-size: 2em !important;
    }

    section:is(#mbfc, #small-wikidata) score {
        font-size: 1.1875em !important;
        line-height: 24px;
        letter-spacing: 0.04em;
        font-weight: 700;
        word-spacing: 400px;
    }

    :not(expanded):is(#yahoo) .esgKey tbody :is(td, th) {
        display: table-cell;
        text-align: center;
    }

    :not(expanded):is(#yahoo) .esgKey tbody :is(tr) {
        display: inline-flex;
        flex-direction: column;
        width: 20%;
    }

    section:not(.expanded):is(#graph-box, #wikipedia-infocard-frame)>* {
        flex: unset;
        margin: auto;
    }

    section:not(.expanded) .iconclass {
        margin: 0 auto;
    }

    section:not(.expanded)#bcorp .iconclass {
        width: 50%;
        height: 100px;
    }

    section:is(#trust-pilot) score {
        font-size: 4em;
        font-weight: 300;
        line-height: 51.2px;
    }

    section:not(.expanded)#trust-pilot .ratingCount {
        order: -1;
    }

    section:not(.expanded)#wikipedia-first-frame h2.sectionTitle {
        height: 32px;
    }

    section:not(.expanded)#wikipedia-first-frame .scoreText {
        height: 160px;
        width: 100%;
        padding: 0px 16px 16px;
        position: relative;
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
        grid-area: middle;
    }

    section:not(.expanded)#wikipedia-first-frame .scoreText::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, var(--c-background), transparent);
        position: absolute;
    }


    section:not(.expanded)#similar-site-wrapper .scoreText {
        width: 100%;
        height: fit-content;
    }

    section:not(.expanded)#similar-site-wrapper div {
        overflow: revert;
    }

    section:not(.expanded)#similar-site-wrapper #similar-sites {
        position: relative;
        display: grid;
        grid-auto-columns: 50% 50%;
        grid-template-areas: "site site";
        width: calc(100% - 32px);
        inset: 0 16px;
    }

    section:not(.expanded)#similar-site-wrapper .similar-site {
        display: inline-flex;
        flex: 1 calc(100% / 2);
        height: fit-content;
        box-sizing: border-box;
        border: transparent solid 4px;
    }

    section:not(.expanded)#similar-site-wrapper .similar-site a {
        margin-right: 8px;
    }

    section:not(.expanded)#similar-site-wrapper .scoreText {
        margin-left: 0px;
    }

    .pie {
        display: block !important;
        position: absolute;
    }
}

#content:not(.mobile) :not(.expanded) score {
    display: table;
    margin: 16px auto;
}

#content:not(.mobile) .biaslink {
    font-size: 0.75em !important;
    padding: 4px 8px;
}

#key {
    top: 12px;
    margin: 0;
    left: 64px;
}

div#settings h2.sectionTitle {
    height: 64px;
    font-size: 1.125em;
    padding: 20px;
    padding-left: 80px;
}


.previewContainer {
    display: none;
}

body:has(.small) {
    width: 160px;

    #titlebar {
        display: grid;
        box-sizing: border-box;
        grid-template-areas: "back back settings close" "title title title title";
        grid-template-columns: 40px 40px 40px 40px;
        grid-template-rows: 40px 40px;
        gap: 0px;
        padding: 0;
        margin: 0;
        height: 80px;

        >button {
            box-sizing: border-box;
            background: var(--c-background);
            color: var(--c-light-text);
            border-radius: 0;
        }

        #loginButton {
            display: none;
        }

        >.co-name {
            box-sizing: border-box;
            padding: 0.25em 0 0.25em 0.25em;
            border: var(--c-border-color) solid 1px;
            word-wrap: break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            place-self: center;
            backdrop-filter: blur(3px);
            height: 40px;
            width: 100%;
        }

    }
}

#content.small {
    display: grid;
    grid-template-columns: 100%;
    gap: 0px;
    padding: 0;
    height: 100%;
    width: 160px;
    background: var(--c-background);

    .hideInSmall,
    .tabButtonArea,
    .tabContainer {
        display: none;
    }

    section.contentSection {
        border-radius: unset;
        min-height: 160px;
    }
}

#content.small,
#content.mobile {

    section.contentSection:not(.expanded) {
        margin: 0;
        grid-template-areas: "header" "preview";
        grid-template-rows: 2em auto;
        grid-template-columns: 1fr;

        >:not(.sectionTitle, .iconarray, .iconclass, .previewContainer) {
            display: none;
        }

        .previewContainer {
            display: grid;
            grid-template-areas: "preview";
            position: relative;

            >div:first-child {
                display: block;
            }

        }

        .previewScore {
            font-size: 0.7em;
            padding-top: 1em;
            grid-area: preview;
            text-align: center;
            display: none;
        }

        .previewSubname::before {
            content: var(--subname);
            opacity: 0.4;
            font-size: 0.9em;
            width: 100%;
            text-align: center;
            transform: translate(0, -1em);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    section#carbon {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "middle";
        align-content: center;
        height: 48px;
        min-height: 48px;
    }

    section#graph-box {
        grid-template-areas: "icon" "header";
        grid-template-columns: 1fr;
        grid-template-rows: 60px 2em;

        .graphList {
            display: grid;
            position: absolute;
            opacity: 0.2;
            font-size: 0.6em;
            padding: 1em;
            box-sizing: border-box;
        }

        .sectionTitle {
            display: block;
            font-size: 1.1em;
        }
    }

    section#wikipedia-infocard-frame {
        grid-template-areas: "icon" "header";
        grid-template-columns: 1fr;
        grid-template-rows: 60px 2em;

        .sectionTitle {
            display: block;
            padding: 0;
        }
    }

}

#content.mobile {
    padding: 0 14px;
    width: 100%;
    padding-bottom: 16px;
    grid-template-columns: 1fr 1fr;

    section.contentSection {
        min-height: 125px;
        transition-property: transform, display, height, width, opacity;
        transition-duration: 2s;
        transition-behavior: allow-discrete;
        border-radius: 8px;

        .previewContainer {
            display: grid;
            grid-template-areas: "preview";
        }

        >h2.sectionTitle {
            font-size: 0.875em;
        }

        &:not(.expanded) .hideInSmall {
            display: none;
        }
    }

    .tabContainer {
        grid-template-columns: 100%;
    }

    #similar-site-wrapper h2:after {
        background-image: var(--image-similar);
    }

    #bcorp h2:after {
        background-image: url(/icon/bcorp.svg);
    }

    #social-wikidata>h2:after {
        background-image: var(--image-social);
    }


    & .ratingOutOf {
        font-family: 'Space Grotesk';
        font-weight: 300;
        position: relative;
        overflow: visible;
        margin: 0 auto;
        white-space: nowrap;
        width: fit-content;
    }

    & .ratingOutOf:after {
        font-size: 0.5em;
    }


    >section div table tbody tr td score {
        font-size: 2em;
    }
}


#content.mobile.somethingIsOpen>.contentSection:not(.expanded) {
    margin: 0 !important;
    display: unset;
}

#content.mobile :is(#graph-box, #wikipedia-first-frame, #wikipedia-infocard-frame).expanded {
    border: 0;
}


body.mobile {
    &.topBar:not(.settingsOpen, .somethingIsOpen) {
        padding-top: 40px;
    }

    &.somethingIsOpen {
        #content {
            padding: 0;
        }

        .topBar button {
            display: none;
        }

        #titlebar {
            position: fixed;
            grid-template-areas: "back";
            grid-template-columns: 40px;
            width: 60px;

            .co-name,
            #loginButton,
            #settingsButton,
            #closeButton {
                display: none;
            }
        }

        #Invisible-interaction {
            transform: translateY(-100%);
        }
    }

    #Invisible-interaction {
        grid-template-areas: "like dislike boycott";
        position: absolute;
        top: 0;
        bottom: unset;
    }

    .hideInMobile {
        display: none !important;
    }

    .mobileOnly {
        display: block;
    }

    #titlebar {
        grid-template-areas: "back title login settings";
        grid-template-columns: 40px auto 40px 40px;

        >#closeButton {
            display: none !important;
        }

        >.co-name {
            padding: 16px 0;
        }
    }

    & #settings {
        & div#bobbleDisable {
            display: flex;
        }
    }


    & .pieContainer {
        display: flex;
        justify-content: center;
    }

    & #content.somethingIsOpen {
        position: absolute;
        top: 0px;
    }

    &.settingsOpen {
        & #Invisible-interaction {
            transform: translateY(-100%);
        }
    }


    & #floatDiag {
        position: absolute;
    }

    & #disclaimer {
        border-top: none !important;
        max-height: 100%;
        flex-grow: 2 1;
    }

}

div#content section:not(.expanded) {
    overflow: hidden;
}

div#content:not(.mobile) {
    & .pieContainer {
        min-height: 180px;

        & .ratingCount {
            transform: translateY(30px);
        }
    }
}


#content.mobile :is(#social-wikidata, #similar-site-wrapper, #bcorp):not(.expanded) h2:after {
    display: block;
    content: ' ';
    background-size: 42px 42px;
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    object-fit: cover;
    object-position: 0;
    filter: brightness(var(--brightness));
}

#content.mobile>section:not(.expanded) .coolStar {
    --division: 1;
}

#key>div {
    display: flex;
    flex-direction: column;
    height: 40px;
    padding: 8px;
    overflow: hidden;
    border: var(--c-border-color) solid 1px;
    border-radius: 8px;
    background-color: var(--c-background);

    table {
        background-color: var(--c-background);
    }

    &:hover {
        height: 300px;
    }

    &:before {
        content: 'Key:';
        font-size: 0.875em;
        margin: 3px 10px 12px;
    }
}



#content.mobile :is(#small-wikidata) table:first-of-type tbody {
    margin: 0;
    padding: 0;
}

#content.mobile :is(#small-wikidata) table:first-of-type {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: calc(100% - 1em);
    padding: 0;
    border-collapse: unset;
}

#content.mobile :not(.expanded):is(#yahoo, #mbfc, #small-wikidata) .biaslink {
    font-size: 0.625em;
    border-collapse: unset;
}



#wikipedia-frame,
#wikipedia-know {
    margin: 0 16px;
    font-family: "Roboto Serif", serif;
    color: var(--c-light-text);
    font-size: 0.875em;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    font-variation-settings: 'wdth' 80, 'GRAD' 0, 'wght' 450;
    font-weight: 450;
    display: block;

    >div {
        width: 100%;
    }
}

#wikipedia-frame,
#wikipedia-know.expanded {
    a {
        color: var(--c-linky-text-minor);
        font-variation-settings: 'wdth' 80, 'GRAD' 0, 'wght' 500;
        font-weight: 500;

    }

    figure {
        display: block;
        margin: 0 auto;
        float: unset;

        a {
            img {
                width: 50%;
                height: auto;
                margin: 0 25%;
            }
        }
    }

    :is(figure, figcaption) {
        width: 100%;
        max-width: calc(100vw - 32px);
        background-color: transparent;
    }

}

#wikipedia-frame figcaption {
    display: block;
}

#wikipedia-frame:is(.floating) {
    width: calc(100vw - 16px);
    max-width: 640px;
    inset: 16px auto;
    outline: #0007 solid 1000px;
    border-radius: 8px;
    float: right;
}

#wikipedia-frame>* {
    background-color: transparent;
    border-width: 0px;
    color: var(--c-light-text);
}

*:is(h1, h2, h3, h4, h5, h6) {
    color: var(--c-light-text) !important;
}

:not(.expanded) score:after {
    left: unset !important;
}

:not(.expanded) score {
    font-size: 2em;
}

:not(.expanded):is(#tosdr-link) score {
    font-size: 2em !important;
}


.scoreText {
    display: grid;
    transition: grid-template-rows var(--animation-delay);
    font-family: 'Space Grotesk';
}

.tabContainer {
    display: grid;
    grid-area: middle;
    grid-auto-rows: auto;
    grid-template-areas: "tabContent";
}

.tabContent {
    grid-area: tabContent;
    display: block;
    transition-property: display, translate, box-shadow;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
    translate: 0 0;
    border-top: var(--c-border-color) solid 1px;
    background: var(--c-background);
    box-shadow: none;
    z-index: 1;
    padding-top: 1.618em;

    &.activeRight {
        @starting-style {
            z-index: 0;
            display: none;
            translate: -100% 0;
            box-shadow: #00000099 0px 5px 4px -5px;
        }
    }

    &.activeLeft {
        @starting-style {
            z-index: 0;
            display: none;
            translate: 100% 0;
            box-shadow: #00000099 0px 5px 4px -5px;
        }
    }

    &.inactiveRight {
        display: none;
        translate: 100% 0;
        box-shadow: #00000099 0px 5px 4px -5px;
    }

    &.inactiveLeft {
        display: none;
        translate: -100% 0;
        box-shadow: #00000099 0px 5px 4px -5px;
    }
}

.tabButtonArea {
    grid-area: topmiddle;
    display: grid;
    height: 40px;
    width: fit-content;
    grid-template-rows: 40px;
    grid-auto-flow: column;
    margin-left: 10px;

    button {
        transition-property: height, display;
        transition-duration: 0.2s;
        transition-behavior: allow-discrete;
        display: block;
        height: 38px;
        box-sizing: content-box;

    }
}

.tabButton {
    background-color: var(--c-background);
    opacity: 0.8;
    border: var(--c-border-color) solid 1px;
    color: var(--c-light-text);
    display: none;
    height: 0px;
    transition-property: height, display;
    transition-duration: 0.2s;
    transition-behavior: allow-discrete;

    &.active {
        background-color: var(--c-background);
        border-bottom: var(--c-background) solid 1px;
        z-index: 2;
        opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
    .iconarray {
        filter: invert(1);
    }
}

.dark-theme .iconarray {
    filter: invert(1);
}

.iconarray {
    grid-area: middle;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

    >div {
        display: block;
        margin: 8px;

        & a i div {
            width: 24px;
            height: 24px;
        }
    }
}

#content.mobile .iconarray {
    gap: 0px;
}

#content.mobile .iconarray div a img {
    width: 16px;
}


:not(.expanded) .source {
    right: -4px;
    bottom: -4px;
}

.flavourText {
    /*margin: 0 16px; */
    text-align: center;
}

.flavourText:has(a) {
    white-space: nowrap;
}

section:not(.expanded) .flavourText b {
    font-size: 0.75em;
}

.charts {
    margin: 0 16px;

    & table {
        margin: 16px 0;
    }

    & .tooltip {
        z-index: 100;
    }
}

.charts-css.bar.stacked tbody tr td span.data {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.charts-css.bar.stacked tbody tr {
    min-height: 3em;
}

table.charts-css th {
    font-size: 0.7em;
}

.charts-css.bar:not(.reverse) tbody tr td {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.charts-css.line {
    height: 200px;
    margin: 0 auto;
    word-break: keep-all;
    white-space: nowrap;
}


#floatDiag {
    height: 400px;
    width: 80vw;
    position: fixed;
    display: grid;
    grid-template-areas: "leader close"
        "middle middle"
        "other post";
    grid-template-rows: 40px auto 40px;
    grid-template-columns: auto 40px;
    z-index: 10;
    top: calc(50vh - 200px);
    left: 10vw;
    padding: 16px;
    border: 1px solid var(--c-text-light);
    border-radius: 8px;
    background-color: var(--c-secondary-background);
    outline-width: 100vh;
    outline-style: solid;
    outline-color: #000000dd;

    & .commentLeader {
        grid-area: leader;
    }

    & .commentBox {
        grid-area: middle;
    }

    & .squareButton {
        grid-area: close;

        >div {
            content: 'X';
        }
    }

    & .commentButton,
    & #floatDiagSave {
        grid-area: post;
        position: absolute;
        bottom: 4px;
        right: 4px;
        border: 1px solid;
        padding: 2px 4px;
        border-radius: 4px;
    }
}

.commentButtons {
    .commentStyleButton {
        border: 1px solid;
        padding: 2px 4px;
        border-radius: 4px;
        margin: 8px 4px;
        display: inline;
    }
}

#commentPreview {
    border: 1px solid var(--c-border-color);
    border-radius: 4px;
    background-color: var(--c-secondary-backgroundo);
    padding: 8px;
    color: var(--c-light-text);
}

.bottomLeftOfModule {
    color: var(--c-main) !important;
    position: absolute;
    font-size: 0.625em;
    font-family: 'Roboto Mono';
    font-weight: 400;
    line-height: 13px;
    white-space: nowrap;
    grid-area: footer;
}

.smallCommentBox {
    transition: height 0.5s, padding 0.5s;
    font-size: 0.625em;
    font-family: 'Roboto Mono';
    font-weight: 400;
    line-height: 13px;
    grid-area: comment;
    margin: 16px;
    background-color: var(--c-secondary-background);
    border-color: var(--c-interior-border);
    border-style: solid;
    border-width: 1px;
    border-radius: 9px;

    & div {
        margin: 16px;
    }
}


.smallVoteBox,
.smallerVoteBox {
    width: 100%;
    background-color: var(--c-light-text);
    display: flex;
    padding-right: 50%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
    border: solid 1px var(--c-interior-border);
    border-top-width: 0px;
    position: relative;
    translate: 0 10px;
    margin: 0;


    li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: solid 1px var(--c-border-color);
        width: 33%;
        height: 100%;
    }

    li>* {
        display: inline;
        margin: 0;
    }

    li>a {
        color: var(--c-background);
        cursor: pointer;
    }

    li:has(a:hover) {
        background-color: var(--c-hover);
    }
}

.smallerVoteBox {
    height: 20px;
    max-height: 20px;
    color: var(--c-main);
}

.smallVoteBox {
    height: 40px;
    max-height: 40px;
    bottom: 0px;
    left: unset;
}

button.loadInfoButton {
    color: var(--c-main);
    background-color: var(--c-background);
    border-style: solid;
    border-color: var(--c-border-color);
    border-width: 1px;
    border-radius: 4px;
    font-size: 0.625em;
    padding: 0px 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--c-hover);
    }
}

#commentBoxInput {
    width: -webkit-fill-available;
    height: calc(400px / 1.625);
    background: var(--c-secondary-background);
    border-color: var(--c-border-color);
    border-style: solid;
    border-radius: 4px;
    display: flex;
    grid-area: message_form;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    color: var(--c-text-light);
    padding: 8px;
    ;
}

.commentButton {
    border-color: var(--c-border-color);
    position: absolute;
    right: 16px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.commentPost {
    bottom: 12px;
    padding: 8px 16px;
}

.commentClose {
    bottom: 12px;
    padding: 8px 16px;
    right: 90px;
}

.notification {
    --startx: 0;
    --starty: -40px;
    --endx: 0;
    --endy: 5px;
    animation: moveIn 0.1s ease-out forwards;
    margin: 0 auto;
    border: solid var(--c-border-color) 1px;
    border-radius: 20px;
    word-wrap: nowrap;
    box-sizing: border-box;
    padding-inline: 8px;
    background-color: var(--c-secondary-background);
    color: var(--c-light-text);
    box-shadow: 0px 2px 8px 0px var(--c-background);
    height: 20px;
    font-size: 0.625em;
    overflow: hidden;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationBell {
    margin: 0px !important;
    position: relative;
}

.notificationDialog {
    width: 20px;
    height: 20px;
}

.tagToggleContainer {
    grid-area: switch;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    >* {
        margin: unset;

        .switch {
            margin: unset;
            bottom: unset;
            right: unset;
        }
    }
}

@keyframes scrollThroughElements {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.scrollContainer {
    overflow: hidden !important;
    grid-area: middle;

    >div section:has(section) {
        display: grid !important;
        grid-auto-columns: 100% !important;
        grid-template-areas: unset !important;
        height: 100% !important;
        width: 100% !important;
        inset: unset !important;
        gap: 10fr !important;
        overflow: hidden !important;
        animation-name: scrollThroughElements;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;

        >section {
            width: 100%;
        }
    }
}

.selected {
    border: solid var(--c-main) 1px !important;
    font-weight: 500;
    color: var(--c-main);
    background-color: var(--c-hover);

    >i {
        background: var(--c-main);
    }
}


#sigma-container {
    order: 0;
    width: 1px;
    height: 1px;
}


#small-wikidata {
    grid-area: small-wikidata;
}

#mbfc {
    grid-area: mbfc;
}

#trust-pilot {
    grid-area: trust-pilot;
}

#yahoo {
    grid-area: yahoo;
}

#opensec {
    grid-area: opensec;
}

#lobbyeu {
    grid-area: lobbyeu;
}

#carbon {
    grid-area: carbon;
    min-height: unset;
    height: fit-content;
    grid-template-areas: 'middle';
    grid-template-columns: auto;
    grid-template-rows: 1fr;

    .iconarray {
        display: flex;
        overflow: unset !important;
        flex-direction: row;
        gap: 10px;
        justify-content: center;

        >div {
            display: block;
            margin: 8px;

            & a i div {
                width: 24px;
                height: 24px;
            }
        }
    }
}

#wbm-automotive-data {
    order: unset;
}

#wbm-gender-benchmark {
    order: unset;
}

#wbm-just-transition-assessment {
    order: unset;
}

#wbm-just-transition-assessment-social {
    order: unset;
}

#wbm-seeds-index-esa {
    order: unset;
}

#wbm-seeds-index-ssea {
    order: unset;
}

#wbm-seeds-index-wc-africa {
    order: unset;
}

#wbm-chumanrightsb {
    order: unset;
}

#wbm-financial-system-benchmark {
    order: unset;
}

#wbm-social-transformation {
    order: unset;
}

#wbm-transport-benchmark {
    order: unset;
}

#wbm-buildings-benchmark {
    order: unset;
}

#wbm-digital-inclusion {
    order: unset;
}

#wbm-electric-utilities {
    order: unset;
}

#wbm-food-agriculture-benchmark {
    order: unset;
}

#wbm-nature-benchmark {
    order: unset;
}

#wbm-oil-gas-benchmark {
    order: unset;
}

#wbm-seafood-stewardship {
    order: unset;
}

#political-wikidata {
    grid-area: political-wikidata;
}

#politicali-wikidata {
    grid-area: politicali-wikidata;
}

#goodonyou {
    grid-area: goodonyou;
}

#bcorp {
    grid-area: bcorp;
}

#tosdr-link {
    grid-area: tosdr-link;
}

#glassdoor {
    grid-area: glassdoor;
}

#similar-site-wrapper {
    order: unset;
    grid-area: similar-site-wrapper;

    #similar-sites {
        display: grid;
        grid-auto-columns: 50% 50%;
        grid-template-areas: "site site";
        width: calc(100% - 32px);
        inset: 0 16px;

        >.similar-site {
            display: flex;
            justify-content: space-between;
            height: fit-content;
            box-sizing: border-box;
            border: transparent solid 4px;

            a {
                align-self: start;
            }

            div {
                align-self: end;

                &::after {
                    content: '%)';
                    display: inline;
                }

                &::before {
                    content: '(';
                    display: inline;
                }
            }
        }

    }
}

#social-wikidata {
    grid-area: social-wikidata;
}

#trust-scam {
    grid-area: trust-scam;
}

#graph-box.contentSection {
    grid-area: graph-box;

    grid-template-areas: "graphList icon";
    grid-template-columns: auto 60px;
    grid-template-rows: 1fr;

    padding-inline: 16px;

    .source {
        display: none;
    }

    .graphList {
        display: grid;
        grid-area: graphList;
        font-size: 0.875em;
        font-family: 'Space Grotesk', sans-serif;
        width: 100%;
        position: relative;
        white-space: nowrap;
        grid-template-columns: auto 1fr;

        span {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / 9;

            div.graphListName {
                text-overflow: ellipsis;
                overflow: hidden;
            }

            div.graphListRel {
                font-size: 0.75em;
                text-align: right;
                font-style: italic;
                opacity: 80%;
            }

            :nth-child(-n+5) {
                display: block;
            }

            :nth-child(n+6) {
                display: none;
            }
        }
    }

    .iconclass {
        grid-area: icon;
    }

    &:not(.expanded) {
        .sectionTitle {
            display: none;
        }
    }
}

#wikipedia-infocard-frame {
    order: unset;
    grid-area: wikipedia-infocard-frame;

    &:not(.expanded) {
        grid-template-areas: "header icon";
        grid-template-columns: auto 60px;
        grid-template-rows: 1fr;
        padding-inline: 16px;
    }

    >.source {
        display: none;
    }

    >.iconclass {
        background-image: var(--image-company-info);
        grid-area: icon;
    }
}

#wikipedia-first-frame {
    grid-area: wikipedia-first-frame;

    &:not(.expanded) .scoreText {
        overflow: hidden;
    }

    >.iconclass {
        background-image: var(--image-first-frame);
        display: none;
    }
}

#wbm {
    grid-area: wbm;
}

#cta {
    grid-area: cta;
}

#post {
    grid-area: post;

    .postContent {
        padding: 1em;
    }
}

.popOverMenu {
    transition: transform 0.1s;
    transform: scale(1);

    @starting-style {
        display: none;
        transform: scale(0.1);
    }

}

#popOptions #popover-content .popOptions {
    --columnWidth: calc(50% - .5em);
    display: grid;
    grid-template-columns: repeat(2, var(--columnWidth));
    grid-template-rows: auto;
    gap: 1em;

    >div {
        background-color: var(--c-secondary-background);
        border-radius: 1em;
        border: 1px solid var(--c-border-color);
        padding: 1em;
    }

    button {
        background-color: var(--c-background);
        color: var(--c-light-text);
        border: 1px solid var(--c-border-color);
        border-radius: 8px;
        height: 40px;
        padding: 0.5em;
        display: inline;
    }

    input[type="text"] {
        width: 50%;
        box-sizing: border-box;
        border: 1px solid var(--c-border-color);
        background-color: var(--c-light-text);
        color: var(--c-background);
        border-radius: 8px 0 0 8px;
        padding: 0.5em;
        height: 40px;
        display: inline;
    }

    input[type="text"]+button {
        border-radius: 0 8px 8px 0;
    }

    #popOptionsModuleLocations {
        overflow-x: hidden;
        text-wrap: nowrap;
    }
}