/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 0;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    text-align: left;
}

/* TO REMOVE */
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/* Fonts */

@font-face {
   font-family: 'Peace Reg';
   font-style: normal;
   font-weight: 400;
   src: url('/fonts/Peace2020-Regular.otf');
 }
 
 @font-face {
   font-family: 'Peace Semi Bold';
   font-style: normal;
   font-weight: 600;
   src: url('/fonts/Peace2020-SemiBold.otf');
 }
 
 @font-face {
   font-family: 'Peace Italic';
   font-style: normal;
   font-weight: 400;
   src: url('/fonts/Peace-Italic.otf');
 }

/* Animation */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Global Styles */

body {
	font-size: 18px;
	line-height: 1.2;
	font-family: 'Peace Reg';
	font-weight: 400;
	padding: 10px;
	color: #444;
	transition: filter 1s ease;
	text-rendering: geometricPrecision;
}

p {
	margin-bottom: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #444;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.posts_listing {
	display: flex;
	flex-direction: column;
}

/* Utility */

.loading {
	filter: blur(20px);
}

.sm-text {
	font-size: 14px;
}

.lg-text {
	font-size: 21px;
}

.neg-flex {
  order: -1;
  width: 100%;
}

.g-bg {
	background-color: #DDD;
	color: #444;
	width: fit-content;
	width: -moz-fit-content;
	display: inline-block;
}

.bk-bg {
	background-color: #444;
	color: #DDD;
	width: fit-content;
	width: -moz-fit-content;
	display: inline-block;
}

.name-inner.bk-bg {
	max-width: calc(100% - 67px);
}

.name-inner.bk-bg:hover {
	background-color: #444;
}

.name-inner:hover {
	background-color: #98FB98;
}

.mt-10px {
	margin-top: 10px;
}

.mb-10px {
	margin-bottom: 10px;
}

.mb-5px {
	margin-bottom: 5px;
}

.vis-hidden {
	visibility: hidden;
}

.mobile-bold {
	font-weight: 400;
}

.bold {
	font-weight: 600;
}

.d-none {
	display: none;
}

.capitalize {
	text-transform: capitalize;
}

.comma:not(:last-child):after {
	content: ", ";
}


/* Global Styles */

h4 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.link {
	border-bottom: 1px solid #444;
	display: inline-block;
}

.names {
	margin-right: 10px;
  	margin-bottom: 10px;
  	width: 100%;
  	position: relative;
	cursor: pointer;
	white-space: nowrap; 
}

.new {
	background-color: #98FB98;
	padding-right: 5px;
	position: relative;
	display: inline-block;
}

.new:before {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	background-color: #98FB98;
	top: -10px;
	left: -10px;
	content: ' ';
}

.sb-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.search, 
.glossary,
.sort-by {
	width: 100%;
}

.sb-button {
	cursor: pointer;
}

/* Glossary Styles */

.glossary {
	margin-bottom: 20px;
}

.glossary-title {
	cursor: pointer;
	position: relative;
}

.glossary-title.g-bg:hover {
	background-color: #98FB98;
}

.glossary-title.g-bg.bk-bg:hover {
	background-color: #444;
}

.bk-bg:before {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	background-color: #444;
	top: -10px;
	left: -10px;
	content: ' ';
}


.glossary-content div {
	margin-top: 10px;
}

.gloss-key,
.gloss-source {
	font-size: 14px;
}

.gloss-key {
	margin-top: 10px;
}

.gloss-source {
	font-family: 'Peace Italic';
	margin-left: 10px;
}

.gloss-copy {
	margin: 0;
	font-weight: 600;
}

.sort-by {
	display: flex;
	flex-wrap: wrap;
}

.sort-by div {
	margin-right: 10px;
  	margin-bottom: 10px;
  	font-size: 14px;
}

/*  */
/*  */
/*  */
/* VIDEO OVERLAY STYLES */

.video-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: none;
}

.video-overlay iframe {
	max-width: 80vw;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.video-open {
	display: block;
}

.no-scroll {
	overflow: hidden;
}


/*  */
/*  */
/* WIKIPEDIA HOVERS */

.dot {
   position: relative;
   margin: 10px 10px 0 10px;
}

.dot:before {
   width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	background-color: #444;
	top: -10px;
	left: -10px;
	content: ' ';
}

.dot-right {
   position: relative;
   margin: 10px 10px 0 10px;
}

.dot-right:before {
   width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	background-color: #444;
	top: -10px;
	right: -10px;
	content: ' ';
}

.hover-anchor {
   position: relative;
}

.hover-anchor:hover {
   background-color: #98FB98;
}

.hover-anchor:hover .hover-pop {
   visibility: visible;
}

.hover-pop {
   visibility: hidden;
   position: absolute;
   top: 21px;
   left: 0;
   z-index: 99;
   font-size: 14px;
   min-width: 200px;
   max-width: 300px;
   text-align: left;
   padding: 10px;
   color: #DDD;
   background-color: #444;
}

.dot-right.hover-pop {
   left: auto;
   right: 0;
}


/*  */
/*  */
/* MAIN CONTENT STYLES */

.g-bg.mb-5px:hover {
	color: #444;
	background-color: #98FB98;
}

.company-description-wrapper {
	font-size: 14px;
}

.company-description-wrapper,
.company-extra-wrapper,
.controversies-wrapper,
.in-the-news-wrapper {
	margin-bottom: 10px;
}

.in-the-news-wrapper {
	font-size: 14px;
	margin-bottom: 20px;
}

.in-the-news-wrapper h1 {
	background-color: #444;
	color: #DDD;
	width: fit-content;
	width: -moz-fit-content;
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 18px;
}

.in-the-news-wrapper h2 {
	color: #444;
	background-color: #DDD;
	width: fit-content;
	width: -moz-fit-content;
	margin-right: 5px;
	font-size: 18px;
}

.in-the-news-wrapper h2 a {
	background-color: #DDD;
	display: block;
}

.in-the-news-wrapper h3 {
	border-bottom: 1px solid #444;
	display: inline-block;
}

.in-the-news-wrapper p {
	margin-bottom: 10px;
	padding-right: 20px;
}

pre {
	white-space: pre-wrap;
	overflow: inherit;
	font-size: 14px;
	margin-bottom: 10px;
	padding-right: 20px;
}

.company-extra-wrapper p {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.close-text {
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 99;
}



/* Footer Styles */
.footer {
	text-align: left;
	font-size: 14px;
	margin-top: 10px;
}

.footer div {
	margin-bottom: 20px;
}

.footer-more-info {
	display: none;
}

.footer-more-info.g-bg:hover {
	background-color: #98FB98;
}

.footer-more-info.g-bg.bk-bg:hover {
	background-color: #444;
}

.plugin-button {
	display: none;
}

#js-desktop-footer {
	display: none;
}

.footer-desktop {
	display: none;
}

.footer-paypal {
	font-size: 21px;
}

.footer-paypal a:hover {
	background-color: #98FB98;
}

.js-video-mob {
	font-size: 21px;
}

.scroll-info {
	overflow-x: scroll;
	height: 222px;
	margin-top: 20px;
}

li {
	list-style-type: none;
}

.footer-project-description p {
	margin-bottom: 10px;
}

/* Search styles */

.search {
	display: flex;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.search-title {
	margin-right: 10px;
}   

#input-search { 
  width: 100%;
  max-width: 100%;
  color: #444;
  outline: none;
  border: none;
  text-align: left;
  display: inline-block;
  border-bottom: 1px solid #444;
}

.total-cos-container {
	padding-top: 10px;
}

.privacy-policy {

}

.name-inner { 
    margin: 3px; 
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
	background-color: #98FB98;
	border-color: #98FB98;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
	color: #98FB98;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

/*
********************************
********************************
********************************
*/



@media (min-width: 810px) {

	.sort-by {
		display: none;
	}

	body {
		font-size: 21px;
	}

	.mobile-bold {
		font-weight: 600;
	}

	.company-extra-wrapper {
		display: flex;
		flex-direction: column;
	}

	.company-extra-wrapper p {
		display: inline;
	}

	.company-extra-wrapper p span:first-child {
		font-size: 14px;
		vertical-align: text-top;
	}

	.company-extra-wrapper p a span {
		font-size: 21px;
	}

	.header-wrapper {
		width: 300px;
		position: fixed;
	}

	.posts_listing {
		max-width: calc(100vw - 330px);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		min-height: calc(100vh - 65px);
	}

	.posts_listing,
	.glossary {
		margin-left: 320px;
	}

	.glossary {
		max-width: calc(100vw - 330px);
	}

	h4 {
		margin-top: 10px;
		font-size: 21px;
	}

	.wikipedia,
	.website {
		display: inline-block;
		margin-right: 5px;
	}

	.name-inner.bk-bg {
		max-width: calc(100% - 76px);
	}

	.in-the-news-wrapper {
		font-size: 14px;
	}

	.in-the-news-wrapper h1 {
		font-size: 21px;
	}

	


	/* Glossary Styles */

	/* Search Styles */

	#input-search {
		max-width: 300px;
	}

	.total-cos-container {
		padding-top: 0;
		padding-left: 10px;
	}

	/* Footer Styles */

	.footer {
		width: 300px;
		position: fixed;
		top: 210px;
		margin-top: 20px;
	}

	.footer-desktop {
		display: flex;
		flex-direction: row;
		margin-top: auto;
		margin-bottom: 10px;
		justify-self: flex-end;
	}

	.paypal-desktop,
	.team-desktop {
		width: 50%;
	}

	.team-desktop {
		display: flex;
		justify-content: flex-end; 
		margin-right: 30px;
	}

	.paypal-desktop {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.paypal-desktop p {
		padding-bottom: 10px;
	}

	.privacy-policy p {
		padding-bottom: 0;
		padding-top: 10px;
	}

	.privacy-policy.mob {
		display: none;
	}

	.paypal-desktop a:hover {
		background-color: #98FB98;
	}

	.team-desktop,
	.paypal-desktop p {
		font-size: 14px;
	}

	.footer div {
		margin-bottom: 0;
	}	

	.footer-more-info {
		display: inline-block;
		cursor: pointer;
	}

	.footer-project-description,
	.footer-team,
	.footer-social,
	.footer-paypal {
		display: none;
	}

	#js-desktop-footer {
		display: initial;
	}

	.scroll-info p {
		margin-bottom: 20px;
	}

	.js-video {
		display: block;
		font-size: 21px;
		margin-top: 20px;
		cursor: pointer;
	}

	.plugin-button {
		font-size: 21px;
		line-height: 1;
		display: initial;
		position: fixed;
		bottom: 20px;
		background-color: #98FB98;
		color: #444;
		padding: 10px 10px 12px 10px;
		border-radius: 20px;
		width: inherit;
		text-align: center;
		margin-top: 20px;
	}

	.plugin-form {
		width: inherit;
	}

	.plugin-button.chrome {
		bottom: 74px;
	}

	.hover-pop {
		top: 25px;
	}

    .thumbnail {
        width: 100%;
        height: auto;
    }

}

