/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


@font-face {
   font-family: 'Peace Reg';
   font-style: normal;
   font-weight: 400;
   src: url('/fonts/Peace2020-Regular.otf');
 }
 
 @font-face {
   font-family: 'Peace Semi Bold';
   font-style: normal;
   font-weight: 600;
   src: url('/fonts/Peace2020-SemiBold.otf');
 }
 
 @font-face {
   font-family: 'Peace Italic';
   font-style: normal;
   font-weight: 400;
   src: url('/fonts/Peace-Italic.otf');
 }

body {
   margin: 0;
   color: #444;
   font-family: 'Peace Reg', sans-serif;
}

html {
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
   color: #444;
}

.grey {
   color: #DDD;
}

.mobile-bold {
   font-weight: 600;
}

.bold {
   font-weight: 600;
}

.plugin-header {
   font-size: 21px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: sticky;
   top: 0;
   z-index: 99;
}

.disclaimer-text {
   font-size: 14px;
   margin: 10px;
}

.company-info {
   font-size: 21px;
   text-align: center;
   margin: 10px;
}

.par-headings {
   font-size: 14px;
   display: block;
   margin: 10px 0 0 0;
}

.mb-5px {
	margin-bottom: 5px;
}

.g-bg {
   background-color: #DDD;
   color: #444;
   display: inline-block;
}

.bk-bg {
	background-color: #444;
	color: #DDD;
	width: fit-content;
	width: -moz-fit-content;
   display: inline-block;
}

.co-name {
   background-color: #98FB98;
   color: #444;
   margin-left: -5px;
}

.point {
   cursor: pointer;
}

.dot {
   position: relative;
   margin: 10px 10px 0 10px;
}

.dot:before {
   width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	background-color: #444;
	top: -10px;
	left: -10px;
	content: ' ';
}

.dot-right {
   position: relative;
   margin: 10px 10px 0 10px;
}

.dot-right:before {
   width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	background-color: #444;
	top: -10px;
	right: -10px;
	content: ' ';
}

.back-to {
   margin-right: -3px;
}

.jump-to-section-wrapper {
   margin: 10px 10px 30px 10px;
   font-size: 21px;
}

.jump-to-section {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.jump-to-section h1 {
   background-color: #444;
   color: #DDD;
}

.jump-to-section h2 {
   background-color: #DDD;
   color: #444;
}

.jump-to-section > * {
   margin-right: 5px;
   margin-bottom: 5px;
   display: block;
   font-weight: 600;
}

.jump-to-section-title {
   margin-bottom: 10px;
}

.jump-to-section p,
.jump-to-section pre,
.jump-to-section h3,
.jump-to-section #in-the-news,
.jump-to-section .newstitle {
   display: none;
}

.in-the-news-wrapper p {
   padding-left: 15vw;
   padding-right: 15vw;
}

.in-the-news-wrapper h1,
.in-the-news-wrapper h2,
.in-the-news-wrapper h3 {
   text-align: center;
   font-weight: 400;
   padding-left: 15vw;
   padding-right: 15vw;
   margin: 0;
   padding-top: 15px;
   padding-bottom: 15px;
}

.in-the-news-wrapper h1 {
   margin-top: 40px;
   font-size: 21px;
   background-color: #444;
   color: #DDD;
}

.in-the-news-wrapper h2 {
   background-color: #DDD;
   font-size: 21px;
}

.in-the-news-wrapper p {
   margin: 20px 0;
}

.rating-count {
   font-size: 14px;
}

pre {
   white-space: pre-wrap;
   overflow: inherit;
   font-size: 14px;
   margin-bottom: 20px;
   margin-top: 0;
   padding-left: 15vw;
   padding-right: 15vw;
}

pre code {
   font-family: 'Peace Reg', sans-serif;
}

.hover-anchor {
   position: relative;
}

.hover-anchor:hover {
   background-color: #98FB98;
}

.hover-anchor:hover .hover-pop {
   visibility: visible;
}

.hover-pop {
   visibility: hidden;
   position: absolute;
   top: 31px;
   left: 0;
   z-index: 99;
   font-size: 14px;
   min-width: 200px;
   max-width: 300px;
   text-align: left;
   padding: 10px;
   color: #DDD;
   background-color: #444;
}

.dot-right.hover-pop {
   left: auto;
   right: 0;
}
    
.thumbnail {
   width: 100%;
   height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
